flows.json
[{"id":"38def9ff.21aea6","type":"tab","label":"Home","disabled":false,"info":""},{"id":"6bb640c6.525a5","type":"tab","label":"Config","disabled":false,"info":""},{"id":"638a1ba8.eab274","type":"tab","label":"Water Control","disabled":false,"info":""},{"id":"68dd499a.a366c8","type":"tab","label":"History","disabled":false,"info":""},{"id":"2b4fc933.a97346","type":"subflow","name":"HistChartCfg","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"fc14c775.f1c158"}]}],"out":[{"x":460,"y":80,"wires":[{"id":"fc14c775.f1c158","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"5189c7b3.782c68","type":"subflow","name":"DashChtCfg","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"c199c539.1f1bd8"}]}],"out":[{"x":380,"y":60,"wires":[{"id":"c199c539.1f1bd8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"2c950cc0.f5b4d4","type":"subflow","name":"Parse growbot binary","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"9f3b8982.948a58"}]}],"out":[{"x":420,"y":100,"wires":[{"id":"9f3b8982.948a58","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"fb6e1899.829f18","type":"subflow","name":"Update Config Prop","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"a9765549.092e18"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"9243fa99.15cf28","type":"mqtt-broker","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"30dfc866.064c48","type":"sqlitedb","db":"/growbot/growbot.db","mode":"RW"},{"id":"7f61f4d.e984e0c","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"46917510.f81e1c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"MM/DD/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"60058375.2cde8c","type":"ui_group","name":"Dashboard","tab":"7f61f4d.e984e0c","order":1,"disp":true,"width":"14","collapse":false},{"id":"de56d4f6.628058","type":"ui_tab","name":"Historical","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ab3ec0cf.5f1fc","type":"ui_group","name":"History","tab":"de56d4f6.628058","order":1,"disp":true,"width":14,"collapse":false},{"id":"8350c218.c1ab3","type":"ui_tab","name":"Configuration","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"a2345340.dcf1","type":"ui_group","name":"Power","tab":"8350c218.c1ab3","order":1,"disp":true,"width":"12","collapse":false},{"id":"96d9d6c0.428e28","type":"ui_group","name":"System","tab":"8350c218.c1ab3","order":3,"disp":true,"width":"6","collapse":false},{"id":"4975dc2d.9c4134","type":"ui_group","name":"Power Control","tab":"7f61f4d.e984e0c","order":3,"disp":true,"width":"6","collapse":true},{"id":"63d090d9.23eae","type":"ui_group","name":"pH Calibration","tab":"8350c218.c1ab3","order":4,"disp":true,"width":"6","collapse":false},{"id":"8822534f.5b11a","type":"ui_group","name":"TDS Calibration","tab":"8350c218.c1ab3","order":5,"disp":true,"width":"6","collapse":false},{"id":"f31f9e53.8a7f","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":1,"width":7,"height":1},{"id":"d5377a49.f6daf8","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":2,"width":7,"height":1},{"id":"591950ff.0a363","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":3,"width":7,"height":1},{"id":"7f70c5e7.3de1dc","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":4,"width":7,"height":1},{"id":"53071ceb.8a2e94","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":14,"width":5,"height":1},{"id":"df0017e7.10b168","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":15,"width":5,"height":1},{"id":"6a9ac3cd.d0831c","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":17,"width":5,"height":1},{"id":"699cbfb8.a2c5c","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":18,"width":5,"height":1},{"id":"5bce2eb2.34d88","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":20,"width":5,"height":1},{"id":"bd72273.ff7d5d8","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":21,"width":5,"height":1},{"id":"2b30aa6.51a9c56","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":23,"width":5,"height":1},{"id":"1bb89026.9dbff","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":24,"width":5,"height":1},{"id":"77ce56de.13b358","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":26,"width":5,"height":1},{"id":"f65d3134.6126a","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":27,"width":5,"height":1},{"id":"3d74877a.91cc38","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":29,"width":5,"height":1},{"id":"ae86e4a.2032b18","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":30,"width":5,"height":1},{"id":"4a8b378b.9fa778","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":32,"width":5,"height":1},{"id":"b771f3ee.6da22","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":33,"width":5,"height":1},{"id":"bb7e7a8d.4e01f8","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":35,"width":5,"height":1},{"id":"5c8e58a1.a72178","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":36,"width":5,"height":1},{"id":"573bdc6.0264424","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":38,"width":5,"height":1},{"id":"c961e321.6ef39","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":39,"width":5,"height":1},{"id":"208e75da.180b8a","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":41,"width":5,"height":1},{"id":"93bccaf5.129518","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":42,"width":5,"height":1},{"id":"aeb47e3b.5e7cd","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":43,"width":1,"height":1},{"id":"c8c5cdeb.d2094","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":45,"width":1,"height":1},{"id":"94470df.629b8f","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":46,"width":1,"height":1},{"id":"19fb79b1.db4d06","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":47,"width":1,"height":1},{"id":"3e9c32d0.a7e42e","type":"websocket-client","path":"ws://growbot-doser.local:8118","tls":"","wholemsg":"false"},{"id":"efc6ea82.963f78","type":"ui_tab","name":"Water Control","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"963f0a7c.dc1ca8","type":"ui_group","name":"Doser Calibration","tab":"efc6ea82.963f78","order":3,"disp":true,"width":"14","collapse":false},{"id":"b35587bd.c30058","type":"ui_group","name":"Nutrient Dosing","tab":"efc6ea82.963f78","order":1,"disp":true,"width":"14","collapse":false},{"id":"967933ee.45097","type":"ui_group","name":"Adjustment","tab":"efc6ea82.963f78","order":2,"disp":true,"width":"14","collapse":false},{"id":"cef2d3a3.2dfb4","type":"ui_spacer","name":"spacer","group":"ab3ec0cf.5f1fc","order":4,"width":1,"height":1},{"id":"c757e6fe.62c618","type":"ui_spacer","name":"spacer","group":"ab3ec0cf.5f1fc","order":6,"width":5,"height":1},{"id":"4c5b1a8c.affb44","type":"ui_spacer","name":"spacer","group":"ab3ec0cf.5f1fc","order":8,"width":1,"height":1},{"id":"d959c6a4.d1a4b8","type":"ui_spacer","name":"spacer","group":"ab3ec0cf.5f1fc","order":10,"width":1,"height":1},{"id":"8237dc2e.e85d8","type":"ui_spacer","name":"spacer","group":"ab3ec0cf.5f1fc","order":13,"width":1,"height":1},{"id":"44ea3e3f.c328","type":"ui_spacer","name":"spacer","group":"ab3ec0cf.5f1fc","order":15,"width":5,"height":1},{"id":"b9fab5a.6b0f448","type":"ui_group","name":"Cams","tab":"7f61f4d.e984e0c","order":2,"disp":true,"width":"6","collapse":false},{"id":"d99fcb82.968e48","type":"websocket-client","path":"ws://growbot-flow.local:8118","tls":"","wholemsg":"false"},{"id":"79e4a25c.bb49dc","type":"ui_group","name":"Water Flow","tab":"efc6ea82.963f78","order":4,"disp":true,"width":12,"collapse":false},{"id":"1933281f.df0298","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":2,"width":6,"height":1},{"id":"daca3276.1da06","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":3,"width":6,"height":1},{"id":"c36aba01.641888","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":5,"width":6,"height":1},{"id":"e1dc230.6c6fae","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":6,"width":6,"height":1},{"id":"e386045d.feaf88","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":8,"width":6,"height":1},{"id":"27ff0d95.a17b12","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":9,"width":6,"height":1},{"id":"8344928e.f8ae5","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":11,"width":6,"height":1},{"id":"ff8442b6.7f9b6","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":12,"width":6,"height":1},{"id":"c7c7c976.468658","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":14,"width":6,"height":1},{"id":"2e5cf22d.106efe","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":15,"width":6,"height":1},{"id":"f3a2f434.7fd458","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":17,"width":6,"height":1},{"id":"ab5f1eed.978d4","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":18,"width":6,"height":1},{"id":"9f584b8f.abc1b8","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":19,"width":14,"height":1},{"id":"7a89ec9d.a2bdc4","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":21,"width":6,"height":1},{"id":"31407fa9.f2141","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":22,"width":6,"height":1},{"id":"82810793.0ee188","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":23,"width":14,"height":1},{"id":"c6f4e4ea.a49538","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":25,"width":8,"height":1},{"id":"e80b7559.155cd8","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":26,"width":8,"height":1},{"id":"776ae4b3.b3599c","type":"ui_spacer","name":"spacer","group":"b35587bd.c30058","order":27,"width":14,"height":1},{"id":"1cf74508.103f3b","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":2,"width":3,"height":1},{"id":"39cd9aa5.665016","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":4,"width":3,"height":1},{"id":"c869a7da.de6c28","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":5,"width":3,"height":1},{"id":"9d6bf2da.02029","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":6,"width":3,"height":1},{"id":"d768f504.fdac48","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":7,"width":3,"height":1},{"id":"bdfcfbf0.41b508","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":8,"width":3,"height":1},{"id":"9ff94c7.cd5efb","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":9,"width":14,"height":1},{"id":"138bfb4f.fe10c5","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":11,"width":3,"height":1},{"id":"81029137.6ce47","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":13,"width":3,"height":1},{"id":"58c90b95.278804","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":14,"width":3,"height":1},{"id":"f8e0d842.5d7b48","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":15,"width":3,"height":1},{"id":"12cc6166.b8f8cf","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":16,"width":3,"height":1},{"id":"acc01c2.b6cfde","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":17,"width":3,"height":1},{"id":"300cea50.e900f6","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":18,"width":14,"height":1},{"id":"d404dfdd.b44d6","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":20,"width":3,"height":1},{"id":"baa09cbd.97156","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":22,"width":3,"height":1},{"id":"32c852b9.a584ee","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":23,"width":3,"height":1},{"id":"c03cb290.e834a","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":24,"width":3,"height":1},{"id":"a493d8dd.8b3078","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":25,"width":3,"height":1},{"id":"a4cad577.9f8eb8","type":"ui_spacer","name":"spacer","group":"967933ee.45097","order":26,"width":3,"height":1},{"id":"9923214.8ced3e","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":2,"width":3,"height":1},{"id":"8ca25644.692cb8","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":3,"width":3,"height":1},{"id":"e5004ec0.7bd","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":4,"width":14,"height":1},{"id":"193330e2.0905df","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":6,"width":5,"height":1},{"id":"6c4d9d21.90ec94","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":7,"width":5,"height":1},{"id":"6f017c35.90d524","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":8,"width":14,"height":1},{"id":"8503130d.1ae43","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":11,"width":3,"height":1},{"id":"a948a686.ec3088","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":12,"width":3,"height":1},{"id":"aa02190c.e972f8","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":13,"width":14,"height":1},{"id":"218f3a46.697946","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":16,"width":3,"height":1},{"id":"f18bdef4.1be5","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":17,"width":3,"height":1},{"id":"9507a88a.714058","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":18,"width":14,"height":1},{"id":"74b36a21.09a904","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":21,"width":3,"height":1},{"id":"c8d38e53.05a4e","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":22,"width":3,"height":1},{"id":"7b75c58e.af8a2c","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":23,"width":14,"height":1},{"id":"255b6d2e.d5a302","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":26,"width":3,"height":1},{"id":"8baf85ab.765498","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":27,"width":3,"height":1},{"id":"47fac5d2.d4f94c","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":28,"width":14,"height":1},{"id":"f36ad67e.8c7598","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":31,"width":3,"height":1},{"id":"34beef01.288ec","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":32,"width":3,"height":1},{"id":"2d2cb7d6.c4add8","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":33,"width":14,"height":1},{"id":"5c954c8a.b19be4","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":36,"width":3,"height":1},{"id":"1ce3fadb.978e95","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":37,"width":3,"height":1},{"id":"ab2e13d7.05dd6","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":38,"width":14,"height":1},{"id":"92253c4c.3ef7d","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":39,"width":14,"height":1},{"id":"75499099.0ffdb","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":41,"width":3,"height":1},{"id":"c8799e5e.6208a","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":43,"width":3,"height":1},{"id":"bcf7da03.d21cf8","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":44,"width":3,"height":1},{"id":"de208355.7fda4","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":45,"width":3,"height":1},{"id":"88da8dd4.92f12","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":46,"width":14,"height":1},{"id":"f7c2db42.7a3a58","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":48,"width":3,"height":1},{"id":"c5960e7.75ba1f","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":50,"width":3,"height":1},{"id":"2ebf07ab.1ac478","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":51,"width":3,"height":1},{"id":"c93593d7.de963","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":52,"width":3,"height":1},{"id":"545e1368.558bbc","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":53,"width":14,"height":1},{"id":"3bfb194d.e5b396","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":55,"width":3,"height":1},{"id":"55f40d6.ef9aff4","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":57,"width":3,"height":1},{"id":"1d763648.876ada","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":58,"width":3,"height":1},{"id":"dd1d518a.8b38c","type":"ui_spacer","name":"spacer","group":"963f0a7c.dc1ca8","order":59,"width":3,"height":1},{"id":"1da7c5bc.7bdd1a","type":"ui_spacer","name":"spacer","group":"79e4a25c.bb49dc","order":4,"width":3,"height":1},{"id":"6d143f5b.f0822","type":"ui_spacer","name":"spacer","group":"79e4a25c.bb49dc","order":20,"width":6,"height":1},{"id":"3a28a495.fca3bc","type":"ui_spacer","name":"spacer","group":"79e4a25c.bb49dc","order":22,"width":6,"height":1},{"id":"3a0259f3.609f06","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":5,"width":2,"height":1},{"id":"68ddab04.cbfb94","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":10,"width":2,"height":1},{"id":"4445f22d.f00d5c","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":11,"width":2,"height":1},{"id":"b6c0a934.fb0bd8","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":12,"width":3,"height":1},{"id":"796e2518.5ca09c","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":16,"width":2,"height":1},{"id":"b23a34fb.7783e8","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":21,"width":2,"height":1},{"id":"c0ab3018.3dddc","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":22,"width":3,"height":1},{"id":"83d3a5e3.015d38","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":24,"width":2,"height":1},{"id":"16bf06ac.78a679","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":26,"width":2,"height":1},{"id":"2cf9d30.441a02e","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":27,"width":2,"height":1},{"id":"9eb4ffe0.4f006","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":28,"width":2,"height":1},{"id":"547626e5.864b68","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":29,"width":2,"height":1},{"id":"50e39134.f1776","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":30,"width":2,"height":1},{"id":"c504e983.5db328","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":31,"width":2,"height":1},{"id":"3b22435e.4fc00c","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":32,"width":2,"height":1},{"id":"d98b004f.82201","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":33,"width":2,"height":1},{"id":"892e2ad7.850318","type":"ui_spacer","name":"spacer","group":"b9fab5a.6b0f448","order":5,"width":3,"height":1},{"id":"fcc70bf.c3182f8","type":"ui_spacer","name":"spacer","group":"4975dc2d.9c4134","order":7,"width":6,"height":1},{"id":"ab039191.c3ca","type":"mqtt in","z":"38def9ff.21aea6","name":"Message from Growbot","topic":"GROWBOT","qos":"2","datatype":"auto","broker":"9243fa99.15cf28","nl":false,"rap":true,"rh":0,"x":120,"y":160,"wires":[["92821c48.0c0d5"]]},{"id":"1538449f.33dd9b","type":"sqlite","z":"38def9ff.21aea6","mydb":"30dfc866.064c48","sqlquery":"msg.topic","sql":"","name":"State History","x":790,"y":200,"wires":[[]]},{"id":"c82b9b1b.a92598","type":"inject","z":"38def9ff.21aea6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":40,"wires":[["d3a8d4d1.504b58","b81b9626.dd20e8"]]},{"id":"d3a8d4d1.504b58","type":"sqlite","z":"38def9ff.21aea6","mydb":"30dfc866.064c48","sqlquery":"fixed","sql":"create table if not exists states(timestamp integer, state_json TEXT);\ncreate index if not exists idx_states_timestamp on states (timestamp);\n\ncreate table if not exists data (\n    timestamp integer,\n    current_mode integer,\n    config_exhaustFanPercent integer,\n    config_intakeFanPercent integer,\n    config_exhaustFanOn integer, \n    config_intakeFanOn integer,\n    config_overheadLightsOn integer,\n    config_sideLightsOn integer,\n    config_bubblesOn integer,\n    config_exhaustFanCalibration_minOffset integer,\n    config_exhaustFanCalibration_maxOffset integer,\n    config_exhaustFanCalibration_spinUpSec integer,\n    config_intakeFanCalibration_minOffset integer,\n    config_intakeFanCalibration_maxOffset integer,\n    config_intakeFanCalibration_spinUpSec integer,\n    config_samplingIntervalMS integer,\n    config_controlWaterLevelCalibration_fullCm real,\n    config_controlWaterLevelCalibration_emptyCm real,\n    config_waterChillerThermostat_mode integer,\n    config_waterChillerThermostat_minValue real,\n    config_waterChillerThermostat_maxValue real,\n    config_lightsSchedule_status integer,\n    config_lightsSchedule_turnOnGmtHourMin integer,\n    config_lightsSchedule_turnOffGmtHourMin integer,\n    config_roomFanSchedule_status integer,\n    config_roomFanSchedule_turnOnGmtHourMin integer,\n    config_roomFanSchedule_turnOffGmtHourMin integer,\n    data_exhaustInternal_temperatureC real,\n    data_exhaustInternal_humidity real,\n    data_exhaustExternal_temperatureC real,\n    data_exhaustExternal_humidity real,\n    data_intakeExternal_temperatureC real,\n    data_intakeExternal_humidity real,\n    data_intakeInternal_temperatureC real,\n    data_intakeInternal_humidity real,    \n    data_ambientInternal1_temperatureC real,\n    data_ambientInternal1_humidity real,\n    data_ambientInternal2_temperatureC real,\n    data_ambientInternal2_humidity real,\n    data_ambientInternal3_temperatureC real,\n    data_ambientInternal3_humidity real,\n    data_lights_temperatureC real,\n    data_lights_humidity real,\n    data_luxAmbient1 real,\n    data_luxAmbient2 real,\n    data_luxAmbient3 real,\n    data_luxAmbient4 real,\n    data_luxAmbient5 real,\n    data_waterData_ph real,\n    data_waterData_tds real,\n    data_controlBucket_temperatureC real,\n    data_controlBucket_waterLevelPercent real,\n    data_waterChillerStatus real,\n    data_lightsOn integer,\n    data_roomFanOn integer,\n    data_pumpEmergencyShutoff integer,\n    data_pumpOn integer,\n    data_bubblesOn integer\n);\n\ncreate index if not exists idx_data_timestamp on data (timestamp);\n","name":"Create table","x":290,"y":40,"wires":[[]]},{"id":"16fea1c4.41d3ee","type":"function","z":"38def9ff.21aea6","name":"Create INSERT state SQL","func":"msg.topic = `INSERT INTO states (timestamp, state_json) VALUES ('${msg.payload.timestamp}', '${JSON.stringify(msg.payload)}')`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":200,"wires":[["1538449f.33dd9b"]]},{"id":"c2f4374c.dace78","type":"ui_gauge","z":"38def9ff.21aea6","name":"Water Level","group":"60058375.2cde8c","order":8,"width":3,"height":2,"gtype":"gage","title":"","label":"percent","format":"{{msg.payload.data.controlBucket.waterLevelPercent}}","min":"0","max":"100","colors":["#739c9b","#00f508","#0154da"],"seg1":"20","seg2":"70","x":610,"y":380,"wires":[]},{"id":"6a4eb66c.beee98","type":"ui_gauge","z":"38def9ff.21aea6","name":"Water Temp","group":"60058375.2cde8c","order":9,"width":3,"height":2,"gtype":"gage","title":"","label":"°C","format":"{{msg.payload.data.controlBucket.temperatureC}}","min":"18","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":340,"wires":[]},{"id":"8178f4f8.97f6a8","type":"ui_gauge","z":"38def9ff.21aea6","name":"pH","group":"60058375.2cde8c","order":6,"width":3,"height":2,"gtype":"gage","title":"","label":"pH","format":"{{msg.payload.data.waterData.ph}}","min":"1","max":"14","colors":["#d50b0b","#00ff11","#f40b0b"],"seg1":"5","seg2":"7","x":590,"y":420,"wires":[]},{"id":"6121ea23.d626c4","type":"ui_gauge","z":"38def9ff.21aea6","name":"TDS","group":"60058375.2cde8c","order":7,"width":3,"height":2,"gtype":"gage","title":"","label":"PPM","format":"{{msg.payload.data.waterData.tds}}","min":0,"max":"1500","colors":["#9b9bbb","#22c601","#d7da34"],"seg1":"400","seg2":"850","x":590,"y":460,"wires":[]},{"id":"f971b716.a97688","type":"ui_gauge","z":"38def9ff.21aea6","name":"ambient temp","group":"60058375.2cde8c","order":18,"width":3,"height":2,"gtype":"gage","title":"","label":"°C","format":"{{msg.payload.data.ambientInternal1.temperatureC}}","min":"10","max":"35","colors":["#002aff","#00e62e","#ca3838"],"seg1":"20","seg2":"26","x":620,"y":300,"wires":[]},{"id":"b3d41dc.0ad40e","type":"ui_gauge","z":"38def9ff.21aea6","name":"ambient humid","group":"60058375.2cde8c","order":19,"width":3,"height":2,"gtype":"gage","title":"","label":"%","format":"{{msg.payload.data.ambientInternal1.humidity}}","min":"0","max":"100","colors":["#9f9fa3","#00e62e","#ca3838"],"seg1":"40","seg2":"060","x":620,"y":260,"wires":[]},{"id":"bcaab1eb.be397","type":"function","z":"38def9ff.21aea6","name":"Round","func":"var newmsg = RED.util.cloneMessage(msg.payload);\nvar d = newmsg.data;\nd.exhaustInternal.temperatureC = Math.round(d.exhaustInternal.temperatureC * 100)/100;\nd.exhaustInternal.humidity = Math.round(d.exhaustInternal.humidity);\n\nd.exhaustExternal.temperatureC = Math.round(d.exhaustExternal.temperatureC * 100)/100;\nd.exhaustExternal.humidity = Math.round(d.exhaustExternal.humidity);\n\nd.intakeInternal.temperatureC = Math.round(d.intakeInternal.temperatureC * 100)/100;\nd.intakeInternal.humidity = Math.round(d.intakeInternal.humidity);\n\nd.intakeExternal.temperatureC = Math.round(d.intakeExternal.temperatureC * 100)/100;\nd.intakeExternal.humidity = Math.round(d.intakeExternal.humidity);\n\n\nd.ambientInternal1.temperatureC = Math.round(d.ambientInternal1.temperatureC * 100)/100;\nd.ambientInternal1.humidity = Math.round(d.ambientInternal1.humidity);\n\nd.ambientInternal2.temperatureC = Math.round(d.ambientInternal2.temperatureC * 100)/100;\nd.ambientInternal2.humidity = Math.round(d.ambientInternal2.humidity);\n\nd.ambientInternal3.temperatureC = Math.round(d.ambientInternal3.temperatureC * 100)/100;\nd.ambientInternal3.humidity = Math.round(d.ambientInternal3.humidity);\n\nd.lights.temperatureC = Math.round(d.lights.temperatureC * 100)/100;\nd.lights.humidity = Math.round(d.lights.humidity);\n\nd.controlBucket.temperatureC = Math.round(d.controlBucket.temperatureC * 100)/100;\nd.controlBucket.waterLevelPercent = Math.round(d.controlBucket.waterLevelPercent);\n\nd.waterData.ph = Math.round(d.waterData.ph * 100)/100;\nd.waterData.tds = Math.round(d.waterData.tds);\nmsg.payload = newmsg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":280,"wires":[["c2f4374c.dace78","6a4eb66c.beee98","8178f4f8.97f6a8","6121ea23.d626c4","b3d41dc.0ad40e","f971b716.a97688","c28f12c2.accbf","85496d15.61f54","80055d4c.3c88a","13317070.09d97","7db0e518.6480cc","1dafdc9a.db0293","621f1363.70a14c","2ddfd455.7f7dcc","9534ec93.e7856","5cd5959f.c7cacc"]]},{"id":"7db0e518.6480cc","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":1,"width":3,"height":1,"name":"","label":"pH","format":"{{msg.payload.data.waterData.ph}}","layout":"col-center","x":410,"y":420,"wires":[]},{"id":"1dafdc9a.db0293","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":2,"width":3,"height":1,"name":"","label":"TDS","format":"{{msg.payload.data.waterData.tds}}","layout":"col-center","x":410,"y":460,"wires":[]},{"id":"85496d15.61f54","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":14,"width":3,"height":1,"name":"","label":"Humidity","format":"{{msg.payload.data.ambientInternal1.humidity}}","layout":"col-center","x":420,"y":260,"wires":[]},{"id":"80055d4c.3c88a","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":4,"width":3,"height":1,"name":"","label":"Water Temp","format":"{{msg.payload.data.controlBucket.temperatureC}}","layout":"col-center","x":430,"y":340,"wires":[]},{"id":"13317070.09d97","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":3,"width":3,"height":1,"name":"","label":"Water Level","format":"{{msg.payload.data.controlBucket.waterLevelPercent}}","layout":"col-center","x":430,"y":380,"wires":[]},{"id":"c28f12c2.accbf","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":13,"width":3,"height":1,"name":"","label":"Temp","format":"{{msg.payload.data.ambientInternal1.temperatureC}}","layout":"col-center","x":410,"y":300,"wires":[]},{"id":"621f1363.70a14c","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":20,"width":3,"height":1,"name":"","label":"Water Chiller","format":"{{msg.payload.data.waterChillerStatus?\"On\":\"Off\"}}","layout":"col-center","x":430,"y":500,"wires":[]},{"id":"6e62eb62.1ddca4","type":"websocket in","z":"638a1ba8.eab274","name":"","server":"","client":"3e9c32d0.a7e42e","x":180,"y":60,"wires":[["c5cf8e6d.97896","c11f574d.752a08"]]},{"id":"1aed25b7.bd2dca","type":"websocket out","z":"638a1ba8.eab274","name":"","server":"","client":"3e9c32d0.a7e42e","x":1460,"y":720,"wires":[]},{"id":"506baa6f.5f6324","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"963f0a7c.dc1ca8","order":9,"width":4,"height":2,"passthru":false,"label":"Dispense 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":150,"y":280,"wires":[["86c22199.291e3"]]},{"id":"86c22199.291e3","type":"function","z":"638a1ba8.eab274","name":"Build Dispense 10sec Message","func":"const payload = { cmd: 0xA1, intVal: 10000, port: msg.payload }\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":520,"wires":[["18624c66.cf7564"]]},{"id":"b550609b.ce71c","type":"ui_numeric","z":"638a1ba8.eab274","name":"Port 1 Calibration","label":"Port 1 Calibration (mL/sec)","tooltip":"","group":"963f0a7c.dc1ca8","order":10,"width":7,"height":2,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":".1","max":"9","step":".01","x":430,"y":260,"wires":[["d680bd43.0471e"]]},{"id":"568ed0cb.af9bd","type":"ui_numeric","z":"638a1ba8.eab274","name":"Port 2 Calibration","label":"Port 2 Calibration (mL/sec)","tooltip":"","group":"963f0a7c.dc1ca8","order":15,"width":7,"height":2,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":".1","max":"9","step":".01","x":430,"y":300,"wires":[["71317960.a7c518"]]},{"id":"e142676a.1d7bd8","type":"ui_numeric","z":"638a1ba8.eab274","name":"Port 3 Calibration","label":"Port 3 Calibration (mL/sec)","tooltip":"","group":"963f0a7c.dc1ca8","order":20,"width":7,"height":2,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":".1","max":"9","step":".01","x":430,"y":340,"wires":[["d26630aa.b120f"]]},{"id":"5e00f5d4.3a325c","type":"ui_numeric","z":"638a1ba8.eab274","name":"Port 4 Calibration","label":"Port 4 Calibration (mL/sec)","tooltip":"","group":"963f0a7c.dc1ca8","order":25,"width":7,"height":2,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":".1","max":"9","step":".01","x":430,"y":380,"wires":[["5fa4f3fa.88325c"]]},{"id":"b033d61f.320248","type":"ui_numeric","z":"638a1ba8.eab274","name":"Port 5 Calibration","label":"Port 5 Calibration (mL/sec)","tooltip":"","group":"963f0a7c.dc1ca8","order":30,"width":7,"height":2,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":".1","max":"9","step":".01","x":430,"y":420,"wires":[["c602da97.babb88"]]},{"id":"b6b092b1.50dc","type":"ui_numeric","z":"638a1ba8.eab274","name":"Port 6 Calibration","label":"Port 6 Calibration (mL/sec)","tooltip":"","group":"963f0a7c.dc1ca8","order":35,"width":7,"height":2,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":".1","max":"9","step":".01","x":430,"y":460,"wires":[["2304e976.221506"]]},{"id":"d680bd43.0471e","type":"function","z":"638a1ba8.eab274","name":"Make Calib Port 1","func":"const payload = {\n    cmd: 0xB2,\n    port: 0,\n    floatVal: msg.payload\n};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":260,"wires":[["d95335.401eccc8"]]},{"id":"18624c66.cf7564","type":"function","z":"638a1ba8.eab274","name":"Build Binary Message","func":"const buf = Buffer.alloc(6);\nlet offset = 0;\nbuf.writeUInt8(msg.payload.cmd, offset);\noffset++;\nif (msg.payload.port || msg.payload.port === 0) {\n    buf.writeUInt8(msg.payload.port, offset);\n    offset++;\n}\nif (msg.payload.intVal || msg.payload.intVal === 0) {\n    buf.writeInt32LE(msg.payload.intVal, offset);\n    offset +=4;\n} else if (msg.payload.floatVal || msg.payload.floatVal === 0) {\n    buf.writeFloatLE(msg.payload.floatVal, offset);\n    offset +=4;\n}\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":720,"wires":[["1aed25b7.bd2dca"]]},{"id":"71317960.a7c518","type":"function","z":"638a1ba8.eab274","name":"Make Calib Port 2","func":"const payload = {\n    cmd: 0xB2,\n    port: 1,\n    floatVal: msg.payload\n};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":300,"wires":[["ab1adc85.06084"]]},{"id":"d26630aa.b120f","type":"function","z":"638a1ba8.eab274","name":"Make Calib Port 3","func":"const payload = {\n    cmd: 0xB2,\n    port: 2,\n    floatVal: msg.payload\n};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":340,"wires":[["e145188.fcbb8e8"]]},{"id":"5fa4f3fa.88325c","type":"function","z":"638a1ba8.eab274","name":"Make Calib Port 4","func":"const payload = {\n    cmd: 0xB2,\n    port: 3,\n    floatVal: msg.payload\n};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":380,"wires":[["bb8161ba.02d3d"]]},{"id":"c602da97.babb88","type":"function","z":"638a1ba8.eab274","name":"Make Calib Port 5","func":"const payload = {\n    cmd: 0xB2,\n    port: 4,\n    floatVal: msg.payload\n};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":420,"wires":[["20676da5.48dd72"]]},{"id":"2304e976.221506","type":"function","z":"638a1ba8.eab274","name":"Make Calib Port 6","func":"const payload = {\n    cmd: 0xB2,\n    port: 5,\n    floatVal: msg.payload\n};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":460,"wires":[["ff19946f.401998"]]},{"id":"2c6331fc.828a1e","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"963f0a7c.dc1ca8","order":14,"width":4,"height":2,"passthru":false,"label":"Dispense 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":150,"y":320,"wires":[["86c22199.291e3"]]},{"id":"466341f1.c14a9","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"963f0a7c.dc1ca8","order":19,"width":4,"height":2,"passthru":false,"label":"Dispense 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"topic","topicType":"msg","x":150,"y":360,"wires":[["86c22199.291e3"]]},{"id":"b9374ba6.b4e628","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"963f0a7c.dc1ca8","order":24,"width":4,"height":2,"passthru":false,"label":"Dispense 4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"topic","topicType":"msg","x":150,"y":400,"wires":[["86c22199.291e3"]]},{"id":"e75d7030.2aae5","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"963f0a7c.dc1ca8","order":29,"width":4,"height":2,"passthru":false,"label":"Dispense 5","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"topic","topicType":"msg","x":150,"y":440,"wires":[["86c22199.291e3"]]},{"id":"eb23976a.a7e448","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"963f0a7c.dc1ca8","order":34,"width":4,"height":2,"passthru":false,"label":"Dispense 6","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"num","topic":"topic","topicType":"msg","x":150,"y":480,"wires":[["86c22199.291e3"]]},{"id":"7889e971.673d28","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"963f0a7c.dc1ca8","order":1,"width":11,"height":2,"passthru":false,"label":"Refresh Calibration","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":220,"wires":[["41a54a2c.d265f4"]]},{"id":"41a54a2c.d265f4","type":"function","z":"638a1ba8.eab274","name":"Build all ports refresh msg","func":"\nconst ret = []\n\nfor (let i = 0; i < 6; i++) {\n    ret.push({\n         topic: msg.topic,\n         payload: { cmd: 0xB1, port: i }\n     });\n}\n\nreturn [ret];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":220,"wires":[["18624c66.cf7564"]]},{"id":"c5cf8e6d.97896","type":"function","z":"638a1ba8.eab274","name":"Breakout Calib Msgs","func":"var code = msg.payload.readUInt8(0);\nif (code != 0x3) {\n    return null;\n    \n}\nconst ret = [];\nconst port = msg.payload.readUInt8(1);\nfor (let i = 0; i < port; i++) {\n    ret.push(null);\n}\nret.push( { payload: msg.payload.readFloatLE(2) });\nfor (let i = port+1; i < 6; i++) {\n    ret.push(null);\n}\n\nreturn ret;","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":140,"wires":[["b550609b.ce71c"],["568ed0cb.af9bd"],["e142676a.1d7bd8"],["5e00f5d4.3a325c"],["b033d61f.320248"],["b6b092b1.50dc"]]},{"id":"d95335.401eccc8","type":"debounce","z":"638a1ba8.eab274","time":1000,"name":"","x":800,"y":260,"wires":[["18624c66.cf7564"]]},{"id":"ab1adc85.06084","type":"debounce","z":"638a1ba8.eab274","time":1000,"name":"","x":800,"y":300,"wires":[["18624c66.cf7564"]]},{"id":"bb8161ba.02d3d","type":"debounce","z":"638a1ba8.eab274","time":1000,"name":"","x":800,"y":380,"wires":[["18624c66.cf7564"]]},{"id":"e145188.fcbb8e8","type":"debounce","z":"638a1ba8.eab274","time":1000,"name":"","x":800,"y":340,"wires":[["18624c66.cf7564"]]},{"id":"20676da5.48dd72","type":"debounce","z":"638a1ba8.eab274","time":1000,"name":"","x":800,"y":420,"wires":[["18624c66.cf7564"]]},{"id":"ff19946f.401998","type":"debounce","z":"638a1ba8.eab274","time":1000,"name":"","x":800,"y":460,"wires":[["18624c66.cf7564"]]},{"id":"ae466857.639cc8","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"963f0a7c.dc1ca8","order":40,"width":4,"height":2,"passthru":false,"label":"Prime 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":140,"y":620,"wires":[["8cfea5df.267f98"]]},{"id":"ca2668c2.e43858","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"963f0a7c.dc1ca8","order":42,"width":4,"height":2,"passthru":false,"label":"Prime  2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":140,"y":660,"wires":[["8cfea5df.267f98"]]},{"id":"382b04b9.5e414c","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"963f0a7c.dc1ca8","order":47,"width":4,"height":2,"passthru":false,"label":"Prime  3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"topic","topicType":"msg","x":140,"y":700,"wires":[["8cfea5df.267f98"]]},{"id":"f02a7004.5ea07","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"963f0a7c.dc1ca8","order":49,"width":4,"height":2,"passthru":false,"label":"Prime  4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"topic","topicType":"msg","x":140,"y":740,"wires":[["8cfea5df.267f98"]]},{"id":"2f806dcf.d37a22","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"963f0a7c.dc1ca8","order":54,"width":4,"height":2,"passthru":false,"label":"Prime  5","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"topic","topicType":"msg","x":140,"y":780,"wires":[["8cfea5df.267f98"]]},{"id":"a7e3e2f0.eb3de","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"963f0a7c.dc1ca8","order":56,"width":4,"height":2,"passthru":false,"label":"Prime 6","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"num","topic":"topic","topicType":"msg","x":140,"y":820,"wires":[["8cfea5df.267f98"]]},{"id":"8cfea5df.267f98","type":"function","z":"638a1ba8.eab274","name":"Build Dispense ML Message","func":"const payload = { cmd: 0xA1, intVal: 1500, port: msg.payload }\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":740,"wires":[["18624c66.cf7564"]]},{"id":"39e2da4a.fa35c6","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"967933ee.45097","order":10,"width":4,"height":3,"passthru":false,"label":"0.5mL CaliMagic","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":270,"y":1820,"wires":[["7d42f8aa.cad448"]]},{"id":"1ff3f885.2d2bd7","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"967933ee.45097","order":12,"width":4,"height":3,"passthru":false,"label":"0.5mL Micro","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":250,"y":1860,"wires":[["7d42f8aa.cad448"]]},{"id":"b3d67d2b.dac35","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"967933ee.45097","order":19,"width":4,"height":3,"passthru":false,"label":"0.5mL Grow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"topic","topicType":"msg","x":250,"y":1900,"wires":[["7d42f8aa.cad448"]]},{"id":"caf7b42.08a2248","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"967933ee.45097","order":21,"width":4,"height":3,"passthru":false,"label":"0.5mL Bloom","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"topic","topicType":"msg","x":250,"y":1940,"wires":[["7d42f8aa.cad448"]]},{"id":"85bd501.9974eb","type":"ui_numeric","z":"638a1ba8.eab274","name":"","label":"CaliMagic ml/Gal","tooltip":"","group":"b35587bd.c30058","order":1,"width":8,"height":2,"wrap":false,"passthru":true,"topic":"0","topicType":"str","format":"{{value}}","min":0,"max":10,"step":"0.25","x":330,"y":1220,"wires":[["eda2f19a.35472"]]},{"id":"1ba2f06a.765b2","type":"ui_numeric","z":"638a1ba8.eab274","name":"","label":"Micro ml/Gal","tooltip":"","group":"b35587bd.c30058","order":4,"width":8,"height":2,"wrap":false,"passthru":true,"topic":"1","topicType":"str","format":"{{value}}","min":0,"max":10,"step":"0.25","x":310,"y":1260,"wires":[["eda2f19a.35472"]]},{"id":"d9c46ded.d942f","type":"ui_numeric","z":"638a1ba8.eab274","name":"","label":"Grow ml/Gal","tooltip":"","group":"b35587bd.c30058","order":7,"width":8,"height":2,"wrap":false,"passthru":true,"topic":"2","topicType":"str","format":"{{value}}","min":0,"max":10,"step":"0.25","x":310,"y":1300,"wires":[["eda2f19a.35472"]]},{"id":"24d56dce.424d22","type":"ui_numeric","z":"638a1ba8.eab274","name":"","label":"Bloom ml/Gal","tooltip":"","group":"b35587bd.c30058","order":10,"width":8,"height":2,"wrap":false,"passthru":true,"topic":"3","topicType":"str","format":"{{value}}","min":0,"max":10,"step":"0.25","x":320,"y":1340,"wires":[["eda2f19a.35472"]]},{"id":"42309a00.bf2194","type":"function","z":"638a1ba8.eab274","name":"Read Nute Config","func":"\nconst nutes = global.get(\"nutrient_config\") || {};\nif (!nutes.portRatios) {\n    nutes.portRatios = [0,0,0,0,0,0];\n}\nif (!nutes.delaySecBetween) {\n    nutes.delaySecBetween = 10;\n}\nconst ret = [];\nfor (let i = 0; i < 6; i++) {\n    ret.push({ payload: nutes.portRatios[i]||0});\n}\nret.push({payload: nutes.delaySecBetween});\nreturn ret;","outputs":7,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":1180,"wires":[["85bd501.9974eb"],["1ba2f06a.765b2"],["d9c46ded.d942f"],["24d56dce.424d22"],["3875815e.c499de"],["22133cf8.8bf494"],["a163db1d.dfe978"]]},{"id":"7e555a1c.b8d6d4","type":"inject","z":"638a1ba8.eab274","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":90,"y":1000,"wires":[["42309a00.bf2194","41a54a2c.d265f4","5956e351.3b8c3c"]]},{"id":"3875815e.c499de","type":"ui_numeric","z":"638a1ba8.eab274","name":"","label":"pH Up ml/Gal","tooltip":"","group":"b35587bd.c30058","order":16,"width":8,"height":2,"wrap":false,"passthru":true,"topic":"4","topicType":"str","format":"{{value}}","min":0,"max":10,"step":"0.25","x":320,"y":1380,"wires":[["eda2f19a.35472"]]},{"id":"22133cf8.8bf494","type":"ui_numeric","z":"638a1ba8.eab274","name":"","label":"pH Down ml/Gal","tooltip":"","group":"b35587bd.c30058","order":13,"width":8,"height":2,"wrap":false,"passthru":true,"topic":"5","topicType":"str","format":"{{value}}","min":0,"max":10,"step":"0.25","x":320,"y":1420,"wires":[["eda2f19a.35472"]]},{"id":"eda2f19a.35472","type":"function","z":"638a1ba8.eab274","name":"Save Global Ratios","func":"\nconst nutes = global.get(\"nutrient_config\") || {};\nif (!nutes.portRatios) {\n    nutes.portRatios = [0,0,0,0,0,0];\n}\nif (msg.topic == \"delay\") {\n    nutes.delaySecBetween = msg.payload;\n} else {\n    nutes.portRatios[msg.topic] = msg.payload;\n}\n\nglobal.set(\"nutrient_config\", nutes);\nreturn null;","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1240,"wires":[]},{"id":"c8de860.7583b78","type":"ui_numeric","z":"638a1ba8.eab274","name":"","label":"Gallons of Water","tooltip":"","group":"b35587bd.c30058","order":20,"width":8,"height":2,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"15","step":"0.25","x":310,"y":1640,"wires":[["f5dacd6.6115f3"]]},{"id":"2bd91765.c7cf28","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"b35587bd.c30058","order":24,"width":6,"height":2,"passthru":false,"label":"Add All Nutes","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"payload","topicType":"msg","x":320,"y":1540,"wires":[["1964fe1c.55f282"]]},{"id":"1964fe1c.55f282","type":"function","z":"638a1ba8.eab274","name":"Make dosage messages","func":"const gal = global.get(\"gallons_of_water\");\nif (!gal) {\n    return null;\n}\nconst nutes = global.get(\"nutrient_config\");\nif (!nutes || !nutes.portRatios || nutes.delaySecBetween === null || nutes.delaySecBetween === undefined) {\n    return null;\n}\nconst ret = [];\nlet delayCtr = 0\nfor (let i = 0; i < 6; i++) {\n    if (nutes.portRatios[i] == 0) {\n        continue;\n    }\n    const mlPerGal = nutes.portRatios[i];// ml now, not tsp* 4.92892;\n    const tot = mlPerGal * gal;\n    \n    ret.push({delay: delayCtr, payload: { cmd: 0xA0, port: i, floatVal: tot }});\n    if (i != 5) {\n        delayCtr += nutes.delaySecBetween * 1000;\n    }\n}\nreturn [ret, {payload: \"no\", enabled: false}, { payload: \"yes\", delay: delayCtr, enabled: true}];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1620,"wires":[["2343e8c.d0e5018"],["2bd91765.c7cf28"],["b45905d9.ceee58"]]},{"id":"a163db1d.dfe978","type":"ui_numeric","z":"638a1ba8.eab274","name":"","label":"Delay Sec Between","tooltip":"","group":"963f0a7c.dc1ca8","order":5,"width":9,"height":2,"wrap":false,"passthru":false,"topic":"delay","topicType":"str","format":"{{value}}","min":0,"max":"30","step":1,"x":330,"y":1180,"wires":[["eda2f19a.35472"]]},{"id":"2343e8c.d0e5018","type":"delay","z":"638a1ba8.eab274","name":"Delay Between","pauseType":"delayv","timeout":"10000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":1640,"wires":[["18624c66.cf7564"]]},{"id":"f5dacd6.6115f3","type":"function","z":"638a1ba8.eab274","name":"","func":"global.set(\"gallons_of_water\", msg.payload);\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1720,"wires":[[]]},{"id":"5956e351.3b8c3c","type":"function","z":"638a1ba8.eab274","name":"Read gallons","func":"msg.payload = global.get(\"gallons_of_water\") || 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":1460,"wires":[["c8de860.7583b78"]]},{"id":"b45905d9.ceee58","type":"delay","z":"638a1ba8.eab274","name":"Delay Between","pauseType":"delayv","timeout":"10000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":1760,"wires":[["2bd91765.c7cf28"]]},{"id":"4a4490a7.05358","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"967933ee.45097","order":3,"width":4,"height":3,"passthru":false,"label":"0.5mL pH UP Shot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"payload","topicType":"msg","x":270,"y":1980,"wires":[["7d42f8aa.cad448"]]},{"id":"f1609208.9e011","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"967933ee.45097","order":1,"width":4,"height":3,"passthru":false,"label":"0.5mL pH DOWN Shot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"num","topic":"payload","topicType":"msg","x":280,"y":2020,"wires":[["7d42f8aa.cad448"]]},{"id":"7d42f8aa.cad448","type":"function","z":"638a1ba8.eab274","name":"Build Dispense 0.5mL Message","func":"const payload = { cmd: 0xA0, floatVal: 0.5, port: msg.payload }\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1840,"wires":[["18624c66.cf7564"]]},{"id":"dd3e92c2.20771","type":"ui_template","z":"638a1ba8.eab274","group":"b35587bd.c30058","name":"Make buttons bigger","order":28,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\">\n    <script>\n        var style=document.getElementById('growbotstyle');\n        if (!style) {\n            style=document.createElement('style');\n            style.id = 'growbotstyle';\n        \n        }\n        \nstyle.type='text/css';\n\nvar cssStyles = `\n.nr-dashboard-numeric > * .down-button {\n\twidth: 96px !important;\n\theight: 96px !important;\n}\n\n.nr-dashboard-numeric > * .up-button {\n\twidth: 96px !important;\n\theight: 96px !important;\n}\n\n.nr-dashboard-numeric > * .down-button > * ng-md-icon {\n\ttransform: scale(2)\t\n}\n\n.nr-dashboard-numeric > * .up-button > * ng-md-icon {\n\ttransform: scale(2)\t\n}\n\n`;\nif(style.styleSheet){\n    style.styleSheet.cssText=cssStyles;\n}else{\n    style.appendChild(document.createTextNode(cssStyles));\n}\ndocument.getElementsByTagName('head')[0].appendChild(style);\n    </script>\n    \n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":760,"y":820,"wires":[[]]},{"id":"e5da1e94.44b1f","type":"ui_date_picker","z":"68dd499a.a366c8","name":"Start Date","label":"Start Date","group":"ab3ec0cf.5f1fc","order":1,"width":7,"height":1,"passthru":true,"topic":"startdate","topicType":"str","x":100,"y":140,"wires":[["f28325f4.59bf78"]]},{"id":"3ec05563.b8968a","type":"ui_date_picker","z":"68dd499a.a366c8","name":"End Date","label":"End Date","group":"ab3ec0cf.5f1fc","order":2,"width":7,"height":1,"passthru":true,"topic":"enddate","topicType":"str","x":120,"y":200,"wires":[["f28325f4.59bf78"]]},{"id":"f28325f4.59bf78","type":"function","z":"68dd499a.a366c8","name":"Date Global Setters","func":"if (msg.topic == \"startdate\") {\n    global.set(\"history_start_timestamp\", new Date(msg.payload).getTime());\n} else if (msg.topic == \"enddate\") {\n    global.set(\"history_start_timestamp\", new Date(msg.payload).getTime());\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":140,"wires":[[]]},{"id":"638db2b3.12e6fc","type":"ui_button","z":"68dd499a.a366c8","name":"","group":"ab3ec0cf.5f1fc","order":16,"width":0,"height":0,"passthru":false,"label":"Go","tooltip":"","color":"","bgcolor":"","icon":"","payload":"go","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":300,"wires":[["280076bc.39b6fa"]]},{"id":"b9e9913b.47eae","type":"function","z":"38def9ff.21aea6","name":"Create VALUE insert","func":"let fields = \"\";\nlet values = \"\";\nconst addOne = (field, val) => {\n\tfields  += field + \",\";\n\tvalues += val + \",\";\n};\n\nlet obj = msg.payload;\nif (!obj || !Object.keys(obj)) {\n\treturn null;\n}\nfor (let key of Object.keys(obj)) {\n\tlet val = obj[key];\n\tlet fname = key;\n\tif (val == null) {\n\t\taddOne(fname, \"null\");\n\t}\n\telse if (typeof val === \"object\") {\n\t\tfor (let subkey of Object.keys(val)) {\n\t\t\tif (subkey == \"buckets\" || subkey == \"bucketWaterLevelCalibration\" || subkey == \"pumpPercent\" || subkey == \"pumpOn\" || subkey == \"pumpCalibration\") {\n\t\t\t\tcontinue;\n\t\t\t}\n\t\t\tlet subval = val[subkey];\n\t\t\tlet subfname = fname + \"_\" + subkey;\n\t\t\tif (subval == null) {\n\t\t\t\taddOne(subfname, \"null\");\n\t\t\t}\n\t\t\telse if (typeof subval === \"object\") {\n\t\t\t\tfor (let subsubkey of Object.keys(subval)) {\n\t\t\t\t\tlet subsubval = subval[subsubkey];\n\t\t\t\t\tlet subsubfname = subfname + \"_\" + subsubkey;\n\n\t\t\t\t\tif (subsubval === null) {\n\t\t\t\t\t\taddOne(subsubfname, \"null\");\n\t\t\t\t\t}\n\t\t\t\t\telse if (typeof subsubval === \"string\") {\n\t\t\t\t\t\taddOne(subsubfname, \"'\" + subsubval.replace(/\\'/g,\"''\") + \"'\");                            \n\t\t\t\t\t} else if (Number.isNaN(subsubval)) {\n\t\t\t\t\t\taddOne(subsubfname, \"null\");\n\t\t\t\t\t} else {\n\t\t\t\t\t\taddOne(subsubfname, subsubval.toString());\n\t\t\t\t\t}                        \n\t\t\t\t}\n\t\t\t} else {\n\t\t\t\t\tif (subval === null) {\n\t\t\t\t\t\taddOne(subfname, \"null\");\n\t\t\t\t\t}\n\t\t\t\t\telse if (typeof subval === \"string\") {\n\t\t\t\t\t\taddOne(subfname, \"'\" + subval.replace(/\\'/g,\"''\") + \"'\");\n\t\t\t\t\t} else if (Number.isNaN(subval)) {\n\t\t\t\t\t\taddOne(subfname, \"null\");\n\t\t\t\t\t} else {\n\t\t\t\t\t\taddOne(subfname, subval.toString());\n\t\t\t\t\t}\n\t\t\t}\n\t\t}\n\t} else {\n\t\tif (val === null) {\n\t\t\taddOne(fname, \"null\");\n\t\t}\n\t\telse if (typeof val === \"string\") {\n\t\t\taddOne(fname, \"'\" + val.replace(/\\'/g,\"''\") + \"'\");\n\t\t} else if (Number.isNaN(val)) {\n\t\t\taddOne(fname, \"NaN\");\n\t\t} else {\n\t\t\taddOne(fname, val.toString());\n\t\t}\n\t}\n}\nfields = fields.substr(0, fields.length - 1);\nvalues = values.substr(0, values.length - 1);\n\nmsg.topic = `INSERT INTO data (${fields}) VALUES (${values});`;\nmsg.payload = msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":160,"wires":[["eb38bf14.88356"]]},{"id":"eb38bf14.88356","type":"sqlite","z":"38def9ff.21aea6","mydb":"30dfc866.064c48","sqlquery":"msg.topic","sql":"","name":"State History","x":790,"y":160,"wires":[[]]},{"id":"b81b9626.dd20e8","type":"function","z":"38def9ff.21aea6","name":"Load spatialite extension","func":"msg.extension = \"/usr/local/lib/mod_spatialite\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":80,"wires":[["435139e.499a1c8"]]},{"id":"435139e.499a1c8","type":"sqlite","z":"38def9ff.21aea6","mydb":"30dfc866.064c48","sqlquery":"msg.topic","sql":"","name":"","x":560,"y":80,"wires":[[]]},{"id":"b39ff1be.5708","type":"inject","z":"68dd499a.a366c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":40,"wires":[["adcd11dc.f5a82"]]},{"id":"adcd11dc.f5a82","type":"function","z":"68dd499a.a366c8","name":"Load spatialite extension","func":"msg.extension = \"/usr/local/lib/mod_spatialite\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":40,"wires":[["17267c13.d20064"]]},{"id":"17267c13.d20064","type":"sqlite","z":"68dd499a.a366c8","mydb":"30dfc866.064c48","sqlquery":"msg.topic","sql":"","name":"","x":730,"y":40,"wires":[[]]},{"id":"12737952.1e2057","type":"sqlite","z":"68dd499a.a366c8","mydb":"30dfc866.064c48","sqlquery":"msg.topic","sql":"","name":"","x":810,"y":400,"wires":[["3edc45e8.1c39fa","e72c1c85.b11de"]]},{"id":"90c1492b.97dc38","type":"function","z":"68dd499a.a366c8","name":"Build Simplified Query","func":"if (!msg.payload.fields) {\n    return null;\n}\nconst startStamp = msg.payload.startStamp;\nconst endStamp = msg.payload.endStamp;\nconst fieldDefs = [];\nconst allFields = [\n                ['config_exhaustFanPercent', 1],\n                ['config_intakeFanPercent', 1],\n                ['config_exhaustFanOn', 1],\n                ['config_intakeFanOn', 1],\n                ['data_ambientInternal1_temperatureC', .25],\n                ['data_ambientInternal1_humidity', 1],\n                ['data_luxAmbient1', 1],\n                ['data_waterData_ph', .01],\n                ['data_waterData_tds', 1],\n                ['data_controlBucket_temperatureC', .25],\n                ['data_controlBucket_waterLevelPercent', 3.5],\n                ['data_waterChillerStatus', 1]\n        ];\nfor (let field of allFields) {\n    if (msg.payload.fields.includes(field[0])) {\n        fieldDefs.push(field);\n    }\n}\nlet innerFieldStr = \"timestamp*1.0 as timestamp, \";\nlet outerFieldStr = \"\";\nfor (let fieldDef of fieldDefs) {\n        innerFieldStr += `${fieldDef[0]}*1.0 as ${fieldDef[0]}, `;\n        outerFieldStr += `AsText(ST_Simplify(MakeLine(ST_Point(timestamp, ${fieldDef[0]})),${fieldDef[1]})) as ${fieldDef[0]}, `;\n}\ninnerFieldStr = innerFieldStr.substr(0, innerFieldStr.length - 2);\nouterFieldStr = outerFieldStr.substr(0, outerFieldStr.length - 2);\n\nlet sql = `select ${outerFieldStr} from (select ${innerFieldStr} from data where timestamp >= ${startStamp} and timestamp <= ${endStamp} order by timestamp asc) x group by '';`\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":300,"wires":[["12737952.1e2057"]]},{"id":"280076bc.39b6fa","type":"function","z":"68dd499a.a366c8","name":"set query params","func":"var startStamp = global.get(\"history_start_timestamp\") || (Date.now() - 86400000);\nstartStamp = new Date(startStamp);\nstartStamp.setHours(0,0,0,0);\nvar endStamp = global.get(\"history_end_timestamp\") || Date.now();\nendStamp = new Date(endStamp);\nendStamp.setHours(0,0,0,0);\nendStamp.setDate(endStamp.getDate() + 1);\nmsg.payload = {fields: [\n            \"data_ambientInternal1_temperatureC\",\n            \"data_ambientInternal1_humidity\",\n            \"data_waterData_ph\",\n            \"data_waterData_tds\",\n            'data_luxAmbient1',\n            'data_controlBucket_temperatureC',\n            'data_controlBucket_waterLevelPercent',\n            'data_waterChillerStatus',\n            'config_exhaustFanPercent',\n            'config_intakeFanPercent',\n            'config_exhaustFanOn',\n            'config_intakeFanOn'\n        ],\n        startStamp: startStamp.getTime(),\n        endStamp: endStamp.getTime()\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":300,"wires":[["90c1492b.97dc38"]]},{"id":"3edc45e8.1c39fa","type":"function","z":"68dd499a.a366c8","name":"Parse spatialite","func":"if (!msg.payload[0]) {\n    return null;\n}\nlet data = {};\nlet row = msg.payload[0];\nfor (let field of Object.keys(row)) {\n\n    let points = row[field];\n    points = points.split(\"(\")[1];\n    points = points.substr(0, points.length - 1);\n    points = points.split(\",\");\n    data[field] = points.map(x => { let tmp = x.trim().split(\" \"); return { x: new Date(Math.round(tmp[0])), y: parseFloat(tmp[1]) }; });\n}\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":500,"wires":[["acac5621.ff9388"]]},{"id":"ab9baf7a.e392d","type":"function","z":"68dd499a.a366c8","name":"Charts Builder","func":"var waterTemp = {scale: 'tempc', series: ['Water Temp C (on)', 'Water Temp C (off)'], data: [[], []], \"labels\": ['Water Temp C (on)', 'Water Temp C (off)'], color: \"#4444ff\"};\nvar waterTempOn = waterTemp.data[0];\nvar waterTempOff = waterTemp.data[1];\nvar waterTempOnSeries = {scale: 'tempc', series: ['Water Temp C (on)', 'Water Temp C (off)'], data: [waterTempOn, []], \"labels\": ['Water Temp C (on)'], color: \"#3333ff\"};\nvar waterTempOffSeries = {scale: 'tempc', series: ['Water Temp C (on)', 'Water Temp C (off)'], data: [waterTempOff], \"labels\": ['Water Temp C (off)'], color: \"#444444\"};\nvar waterLevel = {scale: 'percent', series: ['Water Level'], data: [msg.payload.data_controlBucket_waterLevelPercent], labels: ['Water Level'], color: \"#0cc9c0\"};\nvar ph = {scale: 'ph', series: ['pH'], data: [msg.payload.data_waterData_ph.filter(d => d.y > 0 && d.y <= 14)], labels:['pH'], color: '#ff0000'};\nvar tds = {scale: 'tds', series: ['TDS'], data: [msg.payload.data_waterData_tds.filter(d => d.y > 0 && d.y < 2000)], labels: ['TDS'], color: '#00ff00'};\nvar airTemp = {scale: 'tempc', series: ['Ambient Temp'], data: [msg.payload.data_ambientInternal1_temperatureC.filter(d => d.y > 0 && d.y < 100)], labels: ['Ambient Temp'], color: '#b726d4'};\nvar airHumidity = {scale: 'percent', series: ['Ambient Humidity'], data: [msg.payload.data_ambientInternal1_humidity.filter(d => d.y > 0 && d.y < 100)], labels: ['Ambient Humidity'], color: '#deb514'};\nvar lux = {scale: 'lux', series: ['Lux'], data: [msg.payload.data_luxAmbient1], labels: ['Lux'], color: '#fc03f4'};\nvar intakeFan = {scale: 'percent', series: ['Intake Fan'], data: [msg.payload.config_intakeFanPercent], labels: ['Intake Fan'], color: '#11678c'};\nvar exhaustFan = {scale: 'percent', series: ['Exhaust Fan'], data: [msg.payload.config_exhaustFanPercent], labels: ['Exhaust Fan'], color: '#7a0d1c'};\nlet log = [];\n\nlet combined = {}\nfor (let temp of msg.payload.data_controlBucket_temperatureC.filter(d => d.y > 0 && d.y < 100)) {\n    combined[temp.x.getTime()] = { stamp: temp.x, temp: temp.y };\n}\nfor (let chiller of msg.payload.data_waterChillerStatus) {\n    const cTime = chiller.x.getTime();\n    if (!combined[cTime]) {\n        combined[chiller.x.getTime()] = {stamp: chiller.x, on: chiller.y > 0};\n    } else {\n        combined[chiller.x.getTime()][\"on\"] = chiller.y > 0;\n    }\n}\nlet keys = Object.keys(combined).sort();\nif (keys.length > 0) {\n    let lastOn = false;\n    let firstTempKey = keys.find(x=> typeof combined[x].temp !== \"undefined\");\n    let lastTemp = null;\n    let lastTempStamp = combined[keys[0]].stamp;\n    if (firstTempKey !== null) {\n        lastTemp = combined[firstTempKey].temp;\n        lastTempStamp = combined[firstTempKey].stamp;\n    }\n    \n    for (let i = 0; i < keys.length; i++) {\n        const k = keys[i];\n        const obj = combined[k];\n        \n        if (typeof obj.on === 'undefined') {\n            obj.on = lastOn;\n        } else {\n            lastOn = obj.on;\n        }\n        if (typeof obj.temp === 'undefined') {\n\n            let ctr = 1;\n            while ((ctr + i) < keys.length - 1 && typeof combined[keys[ctr + i]].temp  === 'undefined') ctr++;\n            if ((ctr + i) >= keys.length || combined[keys[ctr + i]].temp === 'undefined') {\n                obj.temp = lastTemp;\n            } else {\n                const next = combined[keys[ctr + i]];\n                const timeDiff = next.stamp.getTime() - lastTempStamp.getTime();\n                const tempDiff = next.temp - lastTemp;\n                const totOffs = Math.round((tempDiff / timeDiff) * (obj.stamp.getTime() - lastTempStamp.getTime()) * 100) / 100;\n                obj.temp = lastTemp + totOffs;\n                obj.adjusted = true;\n            }\n\n        } else {\n            lastTemp = obj.temp;\n            lastTempStamp = obj.stamp;\n        }\n    }\n    lastOn = false;\n    let first = true;\n    for (let k of keys) {\n        const d = combined[k];\n        const transition = d.on != lastOn && first == false;\n    \n        if (d.on) {\n            if (transition) {\n                waterTempOff.push({x: d.stamp, y: d.temp });\n                waterTempOn.push({x: d.stamp, y: d.temp });\n            } else {\n                waterTempOn.push({x: d.stamp, y: d.temp });\n                waterTempOff.push({x: d.stamp, y: null });\n            }\n            \n        } else {\n            if (transition) {\n                waterTempOn.push({x: d.stamp, y: d.temp });\n                waterTempOff.push({x: d.stamp, y: d.temp });\n            } else {\n                waterTempOn.push({x: d.stamp, y: null });\n                waterTempOff.push({x: d.stamp, y: d.temp });\n            }\n        }\n        if (first) {\n            first = false;\n        }\n        lastVal = d.temp;\n        lastOn = d.on;\n    }\n\n}\n\nreturn [{  payload: [waterTempOnSeries] },\n        {  payload: [waterTempOffSeries] }, \n        { payload: [waterLevel] },\n        { payload: [ph] },\n        { payload: [tds] },\n        { payload: [airTemp] },\n        { payload: [airHumidity]},\n        { payload: [lux]},\n        { payload: [intakeFan]},\n        { payload: [exhaustFan]}\n];\n","outputs":10,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":700,"wires":[["8538e84c.ab2e08"],["8538e84c.ab2e08"],["f2cea99.a8bfa58"],["db9dae8.0eaff5"],["af71055c.18f7c8"],["86d57a23.c136a8"],["711b3b8b.d31ec4"],["5464aa34.16af94"],["ba099ffc.910cf"],["f7d8993d.84d618"]]},{"id":"6d263b8d.302fb4","type":"inject","z":"68dd499a.a366c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"clear","payload":"","payloadType":"date","x":120,"y":820,"wires":[["43fb15a6.3c224c"]]},{"id":"8538e84c.ab2e08","type":"switch","z":"68dd499a.a366c8","name":"Show water temp","property":"show_water_temp","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":600,"wires":[["43fb15a6.3c224c"]]},{"id":"86d57a23.c136a8","type":"switch","z":"68dd499a.a366c8","name":"Show ambient temp","property":"show_ambient_temp","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":760,"wires":[["43fb15a6.3c224c"]]},{"id":"711b3b8b.d31ec4","type":"switch","z":"68dd499a.a366c8","name":"Show ambient humidity","property":"show_ambient_humidity","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":800,"wires":[["43fb15a6.3c224c"]]},{"id":"f2cea99.a8bfa58","type":"switch","z":"68dd499a.a366c8","name":"Show water level","property":"show_water_level","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":640,"wires":[["43fb15a6.3c224c"]]},{"id":"db9dae8.0eaff5","type":"switch","z":"68dd499a.a366c8","name":"Show ph","property":"show_ph","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":680,"wires":[["43fb15a6.3c224c"]]},{"id":"af71055c.18f7c8","type":"switch","z":"68dd499a.a366c8","name":"Show tds","property":"show_tds","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":720,"wires":[["43fb15a6.3c224c"]]},{"id":"f81174f6.6cae58","type":"change","z":"68dd499a.a366c8","name":"","rules":[{"t":"set","p":"show_water_temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1080,"wires":[[]]},{"id":"9850f607.ca37d8","type":"ui_switch","z":"68dd499a.a366c8","name":"","label":"Water Temp","tooltip":"","group":"ab3ec0cf.5f1fc","order":5,"width":4,"height":1,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":150,"y":1080,"wires":[["f81174f6.6cae58"]]},{"id":"e9fad6a6.b8dcc8","type":"ui_switch","z":"68dd499a.a366c8","name":"","label":"Water Level","tooltip":"","group":"ab3ec0cf.5f1fc","order":3,"width":4,"height":1,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":150,"y":1120,"wires":[["7aafc5e2.5dbd3c"]]},{"id":"7aafc5e2.5dbd3c","type":"change","z":"68dd499a.a366c8","name":"","rules":[{"t":"set","p":"show_water_level","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1120,"wires":[[]]},{"id":"a5c84f5d.9d515","type":"ui_switch","z":"68dd499a.a366c8","name":"","label":"pH","tooltip":"","group":"ab3ec0cf.5f1fc","order":7,"width":4,"height":1,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":130,"y":1160,"wires":[["49ff973c.996378"]]},{"id":"49ff973c.996378","type":"change","z":"68dd499a.a366c8","name":"","rules":[{"t":"set","p":"show_ph","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1160,"wires":[[]]},{"id":"e77dfa16.ad2af8","type":"ui_switch","z":"68dd499a.a366c8","name":"","label":"TDS","tooltip":"","group":"ab3ec0cf.5f1fc","order":9,"width":4,"height":1,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":130,"y":1200,"wires":[["69bfb58f.115ffc"]]},{"id":"69bfb58f.115ffc","type":"change","z":"68dd499a.a366c8","name":"","rules":[{"t":"set","p":"show_tds","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1200,"wires":[[]]},{"id":"64b9d12.0ce043","type":"ui_switch","z":"68dd499a.a366c8","name":"","label":"Air Temp","tooltip":"","group":"ab3ec0cf.5f1fc","order":14,"width":4,"height":1,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":140,"y":1240,"wires":[["869f6fd3.5041f"]]},{"id":"869f6fd3.5041f","type":"change","z":"68dd499a.a366c8","name":"","rules":[{"t":"set","p":"show_ambient_temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1240,"wires":[[]]},{"id":"9cd49838.6380c8","type":"ui_switch","z":"68dd499a.a366c8","name":"","label":"Air Humid","tooltip":"","group":"ab3ec0cf.5f1fc","order":12,"width":4,"height":1,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":140,"y":1280,"wires":[["ed1409ee.d2d1f8"]]},{"id":"ed1409ee.d2d1f8","type":"change","z":"68dd499a.a366c8","name":"","rules":[{"t":"set","p":"show_ambient_humidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1280,"wires":[[]]},{"id":"1f4c3e78.761792","type":"function","z":"638a1ba8.eab274","name":"Create dosing table","func":"node.send({payload:{}, topic: `create table if not exists dosing (\n\ttimestamp integer,\n\tport integer,\n\tml integer\n);`});\nsetTimeout(() => {\n    node.send({payload: {}, topic: `create index if not exists idx_dosing_timestamp on dosing (timestamp);`});\n}, 5000);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":40,"wires":[["bcf7e578.09f018"]]},{"id":"bcf7e578.09f018","type":"sqlite","z":"638a1ba8.eab274","mydb":"30dfc866.064c48","sqlquery":"msg.topic","sql":"","name":"","x":1010,"y":40,"wires":[[]]},{"id":"5b057936.598758","type":"inject","z":"638a1ba8.eab274","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":530,"y":40,"wires":[["1f4c3e78.761792"]]},{"id":"c11f574d.752a08","type":"function","z":"638a1ba8.eab274","name":"Make dosing INSERT","func":"\nvar code = msg.payload.readUInt8(0);\nif (code != 0x1) {\n    return null;\n}\n\nconst port = msg.payload.readUInt8(1);\nconst ml = msg.payload.readFloatLE(2);\n\nlet sql = `INSERT INTO dosing (timestamp, port, ml) VALUES (${Date.now()}, ${port}, ${ml});`;\n\nmsg.topic = sql;\nmsg.payload = {};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":140,"wires":[["ffb9d39.d04463"]]},{"id":"ffb9d39.d04463","type":"sqlite","z":"638a1ba8.eab274","mydb":"30dfc866.064c48","sqlquery":"msg.topic","sql":"","name":"","x":830,"y":140,"wires":[[]]},{"id":"1a59a70.0383059","type":"ui_template","z":"68dd499a.a366c8","group":"ab3ec0cf.5f1fc","name":"Apex chart","order":17,"width":14,"height":6,"format":"<div class=\"nr-dashboard-chart-container\" style=\"width:100%; height:100%;\"> <div class=\"nr-dashboard-chart-nolabel\" style=\"height: calc(100% - 25px); overflow-x: visible; overflow-y: visible;\"  ng-bind-html=\"eleContent | trusted\"></div></div>\n<script>\n    \n    ;(function(scope) {\n        if (typeof ApexCharts === 'undefined') {\n            if (!document.getElementById('apexcharts_script')) {\n                let scriptElement = document.createElement(\"script\");\n                scriptElement.src = \"https://cdn.jsdelivr.net/npm/apexcharts\";\n                document.head.appendChild(scriptElement);\n                console.log(\"injected apexcharts script\");\n            }\n            if (!document.getElementById('apexcharts_style')) {\n                let styleElement = document.createElement(\"style\");\n                styleElement.src = \"https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.27.3/apexcharts.min.css\";\n                document.head.appendChild(styleElement);\n                console.log(\"injected apexcharts styles\");\n            }\n       }\n   \n       //hacky thing because we're only getting json, there's some config stuff that needs to be turned into functions\n        const fixFormatter = function (obj) {\n            if (typeof obj !== 'object') {\n                return;\n            }\n            for (let k of Object.keys(obj)) {\n                if (!obj[k]) {\n                    continue;\n                }\n                if (typeof obj[k] === \"string\") {\n                    if (k === 'formatter') {\n                        try {\n                            obj[k] = new Function(`return ${obj[k]}`)();\n                        } catch {\n                            console.error(\"a formatter function failed to compile: \" + obj[k]);\n                            obj[k] = null;\n                        }\n                    }\n                } else if (typeof obj[k] === \"object\") {\n                    fixFormatter(obj[k]);\n                }\n            }\n        }\n        scope.eleId = 'chart' + Math.random();\n        scope.eleId = scope.eleId.replace(\".\",\"\");\n        \n        scope.eleContent = `<div class=\"chart chart-line\" id=${scope.eleId}></div>`;\n        scope.$watch('msg.payload', function(newVal, oldVal) {\n            let msg = scope.msg;\n            if (!msg) {\n                return;\n            }\n            if (msg.topic == \"noop\") {\n                return;\n            }\n            if (!msg.payload) {\n                return;\n            }\n            let makeChart = null;\n            makeChart = (opts) => {\n                var ctx = document.getElementById(scope.eleId);\n                \n                if (!ctx || typeof ApexCharts === 'undefined') {\n                    console.log(\"canvas or apex isn't loaded yet\");\n                    setTimeout(() => {makeChart(opts);}, 100);\n                    return;\n                }\n                ctx.parentElement.parentElement.parentElement.style.overflow = 'visible';\n                ctx.parentElement.parentElement.style.overflow = 'visible';\n                ctx.parentElement.style.overflow = 'visible';\n\n                try {\n                    for (let s of document.querySelectorAll(\"style\")) { if (s.innerText.includes('.nr-dashboard-theme .nr-dashboard-template path')) { s.innerText = (s.innerText.replace(/\\.nr-dashboard-theme \\.nr-dashboard-template path\\s+\\{[^\\}]*\\}/, '')); }}\n                    scope.chart = new ApexCharts(ctx, opts);\n                    scope.chart.render();\n                } catch (e) {\n                    console.log(\"exception: \");\n                    console.log(e);\n                }\n            }\n            fixFormatter(scope.msg.payload);\n            if (!scope.chart) {\n                makeChart(scope.msg.payload);\n            } else {\n                scope.chart.updateOptions(scope.msg.payload, false, false);   \n                scope.chart.updateSeries(scope.msg.payload.series, false);\n            }\n        })\n\n    })(scope)\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":990,"y":680,"wires":[[]]},{"id":"b32fea39.b8a8f8","type":"function","z":"68dd499a.a366c8","name":"Build dosing query","func":"var startStamp = global.get(\"history_start_timestamp\") || (Date.now() - 86400000);\nstartStamp = new Date(startStamp);\nstartStamp.setHours(0,0,0,0);\nvar endStamp = global.get(\"history_end_timestamp\") || Date.now();\nendStamp = new Date(endStamp);\nendStamp.setHours(0,0,0,0);\nendStamp.setDate(endStamp.getDate() + 1);\nmsg.payload = {};\nmsg.topic = `select timestamp, port, ml from\n    dosing where timestamp >= ${startStamp.getTime()} and timestamp <= ${endStamp.getTime()} order by timestamp asc;`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":320,"wires":[["c0809287.cc6e7"]]},{"id":"4a4e189b.eb7018","type":"debug","z":"68dd499a.a366c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1450,"y":700,"wires":[]},{"id":"c0809287.cc6e7","type":"sqlite","z":"68dd499a.a366c8","mydb":"30dfc866.064c48","sqlquery":"msg.topic","sql":"","name":"","x":1230,"y":420,"wires":[["6c4adfa2.9a2a2"]]},{"id":"6c4adfa2.9a2a2","type":"function","z":"68dd499a.a366c8","name":"Parse dosing data","func":"if (!msg.payload[0]) {\n    return null;\n}\nvar portData = [[], [], [], [], [], []];\nvar portLabels = [['CaliMagic'], ['Micro'], ['Grow'], ['Bloom'], ['pH Up'], ['pH Down']]\nvar calimagic = {scale: 'ml', series: portLabels[0], data: [portData[0]], labels:portLabels[0], color: '#f5da4277', type:'annox'};\nvar micro = {scale: 'ml', series: portLabels[1], data: [portData[1]], labels: portLabels[1], color: '#781c0077', type:'annox'};\nvar grow = {scale: 'ml', series: portLabels[2], data: [portData[2]], labels: portLabels[2], color: '#a1f77277', type:'annox'};\nvar bloom = {scale: 'ml', series: portLabels[3], data: [portData[3]], labels: portLabels[3], color: '#f772c677', type:'annox'};\nvar phup = {scale: 'ml', series: portLabels[4], data: [portData[4]], labels:portLabels[4], color: '#94dbf777', type:'annox'};\nvar phdown = {scale: 'ml', series: portLabels[5], data: [portData[5]], labels:portLabels[5], color: '#f7d78677', type:'annox'};\nlet data = {};\nfor (let row of msg.payload) {\n    if (row.port >= 0 && row.port <= 5) {\n        portData[row.port].push({x: row.timestamp, y: row.ml});\n        portLabels[row.port] += \" \" + row.ml + \"ml\";\n    }\n}\n\nvar msgs = [\n    \n        [{payload: [calimagic]},\n        {payload: [micro]},\n        {payload: [grow]},\n        {payload: [bloom]},\n        {payload: [phup]},\n        {payload: [phdown]}]\n    \n];\n\n    \n\nreturn msgs;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":500,"wires":[["43fb15a6.3c224c"]]},{"id":"fc14c775.f1c158","type":"function","z":"2b4fc933.a97346","name":"","func":"\nconst defaultChartOptions = {\n    colors: [],\n    markers: { strokeWidth: 0, size: 0, radius: 0, showNullDataPoints: false },\n    chart: {\n        animations: {enabled: false, dynamicAnimation: { enabled: false }},\n        redrawOnParentResize: true,\n        type: 'line',\n        zoom: {\n            type: 'x',\n            enabled: true,\n            autoScaleYaxis: true\n        },\n        toolbar: {\n             autoSelected: 'zoom'\n        },\n        height: '100%'\n    },\n    series: [],// {name: 'ph', data: [{x: new Date(), y: 1}, {x: new Date(new Date().getTime() + (1 * 24 * 60 * 60 * 1000)), y: 3 }, {x: new Date(new Date().getTime() + (2 * 24 * 60 * 60 * 1000)), y: 6}] }],\n    xaxis: {\n        type: 'datetime',\n        labels: {\n            show: true,\n            datetimeUTC: false,\n            datetimeFormatter: {\n                year: 'yyyy',\n                month: 'MMM \\'yy',\n                day: 'dd MMM',\n                hour: 'h:mm tt'\n              }\n        },\n        tooltip: {\n            enabled: true,\n            formatter: `function (val, ts) {\n                var d = new Date(val);\n                return d.toLocaleString('default', { month: 'short', day: \"2-digit\", hour: 'numeric', hour12: true, minute: \"2-digit\"});\n            }`\n        }\n    },\n    stroke: {\n\n        width: 2,\n        lineCap: 'butt'\n    },\n    tooltip: {\n        shared: false,\n        y: {\n            formatter: `function (x) {\n                return Math.round(x*100)/100;\n            }`\n        },\n        x: {\n                formatter: `function (val, ts) {\n                var d = new Date(val);\n                return d.toLocaleString('default', { month: 'short', day: \"2-digit\", hour: 'numeric', hour12: true, minute: \"2-digit\"});\n            }`\n        }\n    }\n};\nconst getScope = () => {\n    return context.get(\"scope\") || { chartOptions: JSON.parse(JSON.stringify(defaultChartOptions)), dataUpdateQueue: []};;\n}\nlet scope = getScope();\nconst sendChartConfig = () => {\n    node.send({payload: scope.chartOptions});\n    setTimeout(() => {\n        scope.dataUpdateQueue = [];\n        scope.chartOptions = JSON.parse(JSON.stringify(defaultChartOptions));\n        node.send({payload: {}, topic: \"noop\"});\n    }, 100);\n}\nconst updateData = () => {\n    let any = false;\n    while (scope.dataUpdateQueue.length > 0) {\n        any = true;\n        m = scope.dataUpdateQueue[0];\n        scope.dataUpdateQueue.splice(0,1);\n        \n        let label = m.labels[0]\n        let d = m.data[0];\n        if (m.type == 'annox') {\n            if (!scope.chartOptions.annotations) {\n                scope.chartOptions.annotations = {\n                    xaxis: []\n                };\n            }\n            let ap = scope.chartOptions.annotations.xaxis;\n            for (let p of ap.filter(x=> x.label.text == label)) {\n                let idx = ap.indexOf(p);\n                ap.splice(idx, 1);\n            }\n            for (let dp of d) {\n                let pt = {\n                    x: dp.x,\n                    label: {\n                        text: label,\n                          borderColor: m.color,\n                          style: {\n                            color: \"#fff\",\n                            background: m.color\n                          },    \n                    },\n                    borderColor: m.color,\n                }\n                ap.push(pt);\n            }\n        } else {\n            \n        \n            let foundIdx = scope.chartOptions.series.findIndex(x => x.name == label);\n    \n            \n            if (foundIdx >=0) {\n                scope.chartOptions.series[foundIdx].data = d;\n            } else {\n                if (!scope.chartOptions.yaxis) {\n                    scope.chartOptions.yaxis = [];\n                } \n                else if (scope.chartOptions.yaxis.length == 1 && !scope.chartOptions.yaxis[0].seriesName) {\n                    scope.chartOptions.yaxis = [];\n                }\n                let foundAxis = (scope.chartOptions.yaxis || []).find(x=> x.scaleName == m.scale);\n                let scaleSeriesName = label;\n                let scaleSeriesOpposite = scope.chartOptions.yaxis.length %2 == 0;\n                let min = undefined;\n                let max = undefined;\n                for (let dp of d) {\n                    if (dp.y !== null) {\n                        if (min === undefined || dp.y < min) {\n                            min = dp.y;\n                        }\n                        if (max === undefined || dp.y > max) {\n                            max = dp.y\n                        }\n                    }\n                }\n                \n                let pad = Math.abs(min - max) & .15;\n                if (pad < .75) {\n                    pad = .75;\n                }\n                min -= pad;\n                max += pad;\n                min = Math.floor(min);\n                max = Math.ceil(max);\n                if (min == max) {\n                    max += 1;\n                }\n                //dbg.push(`min ${min} max ${max} for label ${label} seriesname ${scaleSeriesName}`);\n                if (foundAxis) {\n                    scaleSeriesName = foundAxis.seriesName;\n                    scaleSeriesOpposite = foundAxis.opposite;\n                    //dbg.push(`for ${label} found series name ${scaleSeriesName} for scale ${m.scale}`);\n                    let changed = false;\n                    if (foundAxis.min < min ) {\n                        min = foundAxis.min;\n                        \n                    } else {\n                        changed = true;\n                    }\n                    if (foundAxis.max > max) {\n                        max = foundAxis.max;\n\n                    } else {\n                        changed = true;\n                    }\n                    if (changed) {\n                       // dbg.push(`hit, min ${min} max ${max}`);\n                        for (let axis of (scope.chartOptions.yaxis || []).filter(x=> x.scaleName == m.scale)) {\n                            axis.min = min;\n                            axis.max = max;\n                        }\n                    }\n                } else {\n                    //dbg.push(`didn't find series name for scale ${m.scale}, using ${scaleSeriesName} min is ${min} max is ${max}`);\n                }\n               // node.send({payload: dbg});\n                var ser = {name: label, data: d};\n                scope.chartOptions.series.push(ser);\n    \n                var yax = { \n                    seriesName: scaleSeriesName, \n                    scaleName: m.scale, \n                    opposite: scaleSeriesOpposite,\n                    labels: {\n                        show: false,\n                    },\n                    min: min,\n                    max: max\n                };\n    \n                scope.chartOptions.yaxis.push(yax);\n                scope.chartOptions.colors.push(m.color || Apex.colors[scope.chartOptions.colors.length]);\n            }\n        }\n    }\n    if (any) {\n        sendChartConfig();\n    }\n}\nconst doUpdateWait = () => {\n    if (scope.updateHandle) {\n        clearTimeout(scope.updateHandle);\n    }\n    scope.updateHandle = setTimeout(() => { try {\n        scope = getScope();\n        updateData();\n    } finally {\n        scope.updateHandle = null;\n        context.set(\"scope\", scope);\n    } }, 3000);\n\n}\ntry {\n    let chartOptions = scope.chartOptions;\n    let dataUpdateQueue = scope.dataUpdateQueue;\n    if (msg.topic == \"clear\") {\n        //todo: clear chart here\n        if (scope.updateHandle) {\n            clearTimeout(scope.updateHandle);\n            scope.updateHandle = null;\n        }\n        scope.dataUpdateQueue = [];\n        scope.chartOptions = JSON.parse(JSON.stringify(defaultChartOptions));\n        sendChartConfig();\n        return;\n    }\n    if (!msg.payload) {\n        throw \"payload null\";\n    }\n    if (!Array.isArray(msg.payload)) {\n        throw \"not array\";\n    }\n    dataUpdateQueue.push(msg.payload[0]);\n    doUpdateWait();\n} finally {         \n    context.set(\"scope\", scope);\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":100,"wires":[[]]},{"id":"43fb15a6.3c224c","type":"subflow:2b4fc933.a97346","z":"68dd499a.a366c8","name":"","x":780,"y":680,"wires":[["1a59a70.0383059","c24ee7a0.871c18"]]},{"id":"c199c539.1f1bd8","type":"function","z":"5189c7b3.782c68","name":"","func":"const defaultChartOptions = {\n    colors: [],\n    markers: { strokeWidth: 0, size: 0, radius: 0, showNullDataPoints: false },\n    chart: {\n        animations: {enabled: false, dynamicAnimation: { enabled: false }},\n        redrawOnParentResize: true,\n        type: 'line',\n        zoom: {\n            type: 'x',\n            enabled: true,\n            autoScaleYaxis: true\n        },\n        toolbar: {\n\n            show: true,\n            offsetX: 0,\n            offsetY: 0,\n            tools: {\n              download: false,\n              selection: false,\n              zoom: true,\n              zoomin: false,\n              zoomout: false,\n              pan: false,\n              reset: true\n            },\n            autoSelected: 'zoom'\n        },\n        height: '100%'\n    },    \n    title: {\n        text: env.get(\"Title\"),\n        align: 'center',\n        floating: true\n    },\n    series: [],// {name: 'ph', data: [{x: new Date(), y: 1}, {x: new Date(new Date().getTime() + (1 * 24 * 60 * 60 * 1000)), y: 3 }, {x: new Date(new Date().getTime() + (2 * 24 * 60 * 60 * 1000)), y: 6}] }],\n    xaxis: {\n        type: 'datetime',\n        labels: {\n            show: true,\n            datetimeUTC: false,\n            datetimeFormatter: {\n                year: 'yyyy',\n                month: 'MMM \\'yy',\n                day: 'dd MMM',\n                hour: 'h:mm tt'\n              }\n        },\n        tooltip: {\n            enabled: true,\n            formatter: `function (val, ts) {\n                var d = new Date(val);\n                return d.toLocaleString('default', { month: 'short', day: \"2-digit\", hour: 'numeric', hour12: true, minute: \"2-digit\"});\n            }`\n        }\n    },\n    stroke: {\n\n        width: 2,\n        lineCap: 'butt'\n    },\n    tooltip: {\n        shared: false,\n        y: {\n            formatter: `function (x) {\n                return Math.round(x*100)/100;\n            }`\n        },\n        x: {\n                formatter: `function (val, ts) {\n                var d = new Date(val);\n                return d.toLocaleString('default', { month: 'short', day: \"2-digit\", hour: 'numeric', hour12: true, minute: \"2-digit\"});\n            }`\n        }\n    },\n    legend: { show: false }\n};\nconst getScope = () => {\n    return context.get(\"scope\") || { chartOptions: JSON.parse(JSON.stringify(defaultChartOptions)), dataUpdateQueue: []};;\n}\nlet scope = getScope();\nconst sendChartConfig = () => {\n    node.send({payload: scope.chartOptions});\n    setTimeout(() => {\n        scope.dataUpdateQueue = [];\n        scope.chartOptions = JSON.parse(JSON.stringify(defaultChartOptions));\n        node.send({payload: {}, topic: \"noop\"});\n    }, 100);\n}\nconst updateData = () => {\n    let any = false;\n    while (scope.dataUpdateQueue.length > 0) {\n        any = true;\n        m = scope.dataUpdateQueue[0];\n        scope.dataUpdateQueue.splice(0,1);\n        \n        let label = m.labels[0]\n        let d = m.data[0];\n        if (m.type == 'annox') {\n            if (!scope.chartOptions.annotations) {\n                scope.chartOptions.annotations = {\n                    xaxis: []\n                };\n            }\n            let ap = scope.chartOptions.annotations.xaxis;\n            for (let p of ap.filter(x=> x.label.text == label)) {\n                let idx = ap.indexOf(p);\n                ap.splice(idx, 1);\n            }\n            for (let dp of d) {\n                let pt = {\n                    text: null,\n                    x: dp.x,\n                    label: {\n                            strokeDashArray: 1,    \n                          borderColor: m.color,\n                          style: {\n                            color: m.color,\n                            background: m.color\n                          },    \n                    },\n                    borderWidth: 2,\n                    borderColor: m.color,\n                }\n                ap.push(pt);\n            }\n        } else {\n            \n        \n            let foundIdx = scope.chartOptions.series.findIndex(x => x.name == label);\n    \n            \n            if (foundIdx >=0) {\n                scope.chartOptions.series[foundIdx].data = d;\n            } else {\n                if (!scope.chartOptions.yaxis) {\n                    scope.chartOptions.yaxis = [];\n                } \n                else if (scope.chartOptions.yaxis.length == 1 && !scope.chartOptions.yaxis[0].seriesName) {\n                    scope.chartOptions.yaxis = [];\n                }\n                let foundAxis = (scope.chartOptions.yaxis || []).find(x=> x.scaleName == m.scale);\n                let scaleSeriesName = label;\n                let scaleSeriesOpposite = scope.chartOptions.yaxis.length %2 == 0;\n                let min = undefined;\n                let max = undefined;\n                for (let dp of d) {\n                    if (dp.y !== null) {\n                        if (min === undefined || dp.y < min) {\n                            min = dp.y;\n                        }\n                        if (max === undefined || dp.y > max) {\n                            max = dp.y\n                        }\n                    }\n                }\n                \n                let pad = Math.abs(min - max) & .15;\n                if (pad < .75) {\n                    pad = .75;\n                }\n                min -= pad;\n                max += pad;\n                min = Math.floor(min);\n                max = Math.ceil(max);\n                if (min == max) {\n                    max += 1;\n                }\n                if (foundAxis) {\n                    scaleSeriesName = foundAxis.seriesName;\n                    scaleSeriesOpposite = foundAxis.opposite;\n                    console.log(`found series name ${scaleSeriesName} for scale ${m.scale}`);\n                    let changed = false;\n                    if (foundAxis.min < min ) {\n                        min = foundAxis.min;\n                        changed = true;\n                    } else {\n                        min = foundAxis.min;\n                    }\n                    if (foundAxis.max > max) {\n                        max = foundAxis.max;\n                        changed = true;\n                    } else {\n                        max = foundAxis.max;\n                    }\n                    if (changed) {\n                        for (let axis of (scope.chartOptions.yaxis || []).filter(x=> x.scaleName == m.scale)) {\n                            axis.min = min;\n                            axis.max = max;\n                        }\n                    }\n                } else {\n                    console.log(`didn't find series name for scale ${m.scale}, using ${scaleSeriesName}`);\n                }\n                var ser = {name: label, data: d};\n\n                scope.chartOptions.series.push(ser);\n\n                var yax = { \n                    seriesName: scaleSeriesName, \n                    scaleName: m.scale, \n                    opposite: scaleSeriesOpposite,\n                    floating: !!foundAxis,\n                    labels: {\n                        maxWidth: foundAxis?0:25,\n                        show: !foundAxis,\n                        formatter: env.get(\"fixedpoint\")?`function(x) { return x.toFixed(0); }`:`function(x) { return Math.round(x * 100)/100; }`\n                    },\n                    min: min,\n                    max: max,\n                    forceNiceScale: true,\n                };\n    \n                scope.chartOptions.yaxis.push(yax);\n                scope.chartOptions.colors.push(m.color || Apex.colors[scope.chartOptions.colors.length]);\n            }\n        }\n    }\n    if (any) {\n        sendChartConfig();\n    }\n}\nconst doUpdateWait = () => {\n    if (scope.updateHandle) {\n        clearTimeout(scope.updateHandle);\n    }\n    scope.updateHandle = setTimeout(() => { try {\n        scope = getScope();\n        updateData();\n    } finally {\n        scope.updateHandle = null;\n        context.set(\"scope\", scope);\n    } }, 3000);\n\n}\ntry {\n    let chartOptions = scope.chartOptions;\n    let dataUpdateQueue = scope.dataUpdateQueue;\n    if (msg.topic == \"clear\") {\n        //todo: clear chart here\n        if (scope.updateHandle) {\n            clearTimeout(scope.updateHandle);\n            scope.updateHandle = null;\n        }\n        scope.dataUpdateQueue = [];\n        scope.chartOptions = JSON.parse(JSON.stringify(defaultChartOptions));\n        sendChartConfig();\n        return;\n    }\n    if (!msg.payload) {\n        return null;\n    }\n    if (!Array.isArray(msg.payload)) {\n        throw \"not array\";\n    }\n    dataUpdateQueue.push(msg.payload[0]);\n    doUpdateWait();\n} finally {         \n    context.set(\"scope\", scope);\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":100,"wires":[["24ed378f.0e5908"]]},{"id":"1231ae06.526dc2","type":"ui_switch","z":"68dd499a.a366c8","name":"","label":"Dosing","tooltip":"","group":"ab3ec0cf.5f1fc","order":11,"width":4,"height":1,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":130,"y":1340,"wires":[["c99bcef0.c15ca"]]},{"id":"c99bcef0.c15ca","type":"change","z":"68dd499a.a366c8","name":"","rules":[{"t":"set","p":"show_dosing","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1340,"wires":[[]]},{"id":"e72c1c85.b11de","type":"switch","z":"68dd499a.a366c8","name":"Show dosing","property":"show_dosing","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":340,"wires":[["b32fea39.b8a8f8"]]},{"id":"9f3b8982.948a58","type":"function","z":"2c950cc0.f5b4d4","name":"Parse binary data","func":"var offset = 0;\nif (msg.payload.length != 224) {\n    throw \"got wrong payload size of \" + msg.payload.length\n}\nvar readbool = function(skipBytes) {\n    var val = msg.payload.readUInt8(offset);\n    offset += 1;\n    if (skipBytes) {\n        offset += skipBytes;\n    }\n    return !!val;\n}\nvar readint = function() {\n    var val = msg.payload.readInt32LE(offset);\n    offset += 4;\n    return val;\n}\nvar readfloat = function() {\n    var val = msg.payload.readFloatLE(offset);\n    offset += 4;\n    return val;\n}\nmsg.payload = {\n        timestamp: Date.now(),\n        current_mode: readint(),\n        config: {\n            exhaustFanPercent: readint(),\n            intakeFanPercent: readint(),\n            //these bool flags will be set later\n            exhaustFanOn: readbool(),\n            intakeFanOn: readbool(),\n            pumpOn: readbool(),\n            bubblesOn: readbool(),\n            exhaustFanCalibration: {\n                minOffset: readint(),\n                maxOffset: readint(),\n                spinUpSec: readint()\n            },\n            intakeFanCalibration: {\n                minOffset: readint(),\n                maxOffset: readint(),\n                spinUpSec: readint()\n            },\n            samplingIntervalMS: readint(),\n            waterChillerThermostat: {\n                mode: readint(),\n                minValue: readfloat(),\n                maxValue: readfloat()\n            },\n            lightsSchedule: {\n                status: readint(),\n                turnOnGmtHourMin: readint(),\n                turnOffGmtHourMin: readint()\n            },\n            roomFanSchedule: {\n                status: readint(),\n                turnOnGmtHourMin: readint(),\n                turnOffGmtHourMin: readint()\n            }\n        },\n        data: {\n            exhaustInternal: {\n                temperatureC: readfloat(),\n                humidity: readfloat()\n            },\n            exhaustExternal: {\n                temperatureC: readfloat(),\n                humidity: readfloat()\n            },\n            intakeInternal: {\n                temperatureC: readfloat(),\n                humidity: readfloat()\n            },\n            intakeExternal: {\n                temperatureC: readfloat(),\n                humidity: readfloat()\n            },\n            ambientInternal1: {\n                temperatureC: readfloat(),\n                humidity: readfloat()\n            },\n            ambientInternal2: {\n                temperatureC: readfloat(),\n                humidity: readfloat()\n            },\n            ambientInternal3: {\n                temperatureC: readfloat(),\n                humidity: readfloat()\n            },\n            lights: {\n                temperatureC: readfloat(),\n                humidity: readfloat()\n            },\n            luxAmbient1: readfloat(),\n            luxAmbient2: readfloat(),\n            luxAmbient3: readfloat(),\n            luxAmbient4: readfloat(),\n            luxAmbient5: readfloat(),\n            waterData: {\n                ph: Math.round(readfloat() * 1000)/1000,\n                tds: readfloat()\n            },\n            controlBucket: {\n                temperatureC: readfloat(),\n                waterLevelPercent: readfloat()\n            },\n            waterChillerStatus: readfloat(),\n            lightsOn: readbool(),\n            roomFanOn: readbool(),\n            pumpOn: readbool(),\n            pumpEmergencyShutoff: readbool(),\n            bubblesOn: readbool(3),\n            buckets: [\n                {\n                    temperatureC: readfloat(),\n                    waterLevelPercent: readfloat()\n                },\n                {\n                    temperatureC: readfloat(),\n                    waterLevelPercent: readfloat()\n                },\n                {\n                    temperatureC: readfloat(),\n                    waterLevelPercent: readfloat()\n                },\n                {\n                    temperatureC: readfloat(),\n                    waterLevelPercent: readfloat()\n                }\n            ]\n        }\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":120,"wires":[[]]},{"id":"a9765549.092e18","type":"function","z":"fb6e1899.829f18","name":"Inject Latest Config","func":"if (!msg.origVal) {\n    msg.origVal = global.get(\"latest_config\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":180,"wires":[["f8f18d4.118a27"]]},{"id":"f8f18d4.118a27","type":"topic-to-prop","z":"fb6e1899.829f18","name":"","topic":"","x":230,"y":220,"wires":[["8aa09a59.2868d8"]]},{"id":"8aa09a59.2868d8","type":"function","z":"fb6e1899.829f18","name":"update global config","func":"if (msg.payload) {\n    global.set(\"latest_config\", msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":260,"wires":[["ebf654dd.c73368"]]},{"id":"ebf654dd.c73368","type":"debounce","z":"fb6e1899.829f18","time":1000,"name":"","x":300,"y":300,"wires":[["9909e1f1.2535e"]]},{"id":"9909e1f1.2535e","type":"function","z":"fb6e1899.829f18","name":"Make binary config message","func":"var cfg = msg.payload;\nif (!cfg) {\n    return null;\n}\nvar buf = Buffer.alloc(76 + 1)\nvar offset = 0;\noffset = buf.writeUInt8(0x10, 0);\noffset = buf.writeInt32LE(cfg.exhaustFanPercent, offset);\noffset = buf.writeInt32LE(cfg.intakeFanPercent, offset);\noffset = buf.writeUInt8(cfg.exhaustFanOn?1:0, offset);\noffset = buf.writeUInt8(cfg.intakeFanOn?1:0, offset);\noffset = buf.writeUInt8(cfg.pumpOn?1:0, offset);\noffset = buf.writeUInt8(cfg.bubblesOn?1:0, offset);\noffset = buf.writeInt32LE(cfg.exhaustFanCalibration.minOffset, offset);\noffset = buf.writeInt32LE(cfg.exhaustFanCalibration.maxOffset, offset);\noffset = buf.writeInt32LE(cfg.exhaustFanCalibration.spinUpSec, offset);\n\noffset = buf.writeInt32LE(cfg.intakeFanCalibration.minOffset, offset);\noffset = buf.writeInt32LE(cfg.intakeFanCalibration.maxOffset, offset);\noffset = buf.writeInt32LE(cfg.intakeFanCalibration.spinUpSec, offset);\n\noffset = buf.writeInt32LE(cfg.samplingIntervalMS, offset);\n\noffset = buf.writeInt32LE(cfg.waterChillerThermostat.mode, offset);\noffset = buf.writeFloatLE(cfg.waterChillerThermostat.minValue, offset);\noffset = buf.writeFloatLE(cfg.waterChillerThermostat.maxValue, offset);\noffset = buf.writeInt32LE(cfg.lightsSchedule.status, offset);\noffset = buf.writeInt32LE(cfg.lightsSchedule.turnOnGmtHourMin, offset);\noffset = buf.writeInt32LE(cfg.lightsSchedule.turnOffGmtHourMin, offset);\noffset = buf.writeInt32LE(cfg.roomFanSchedule.status, offset);\noffset = buf.writeInt32LE(cfg.roomFanSchedule.turnOnGmtHourMin, offset);\noffset = buf.writeInt32LE(cfg.roomFanSchedule.turnOffGmtHourMin, offset);\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":340,"wires":[["4530a670.592388"]]},{"id":"4530a670.592388","type":"mqtt out","z":"fb6e1899.829f18","name":"Message to Growbot","topic":"GROWBOT_CONFIG","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9243fa99.15cf28","x":760,"y":380,"wires":[]},{"id":"ecec9182.21db8","type":"mqtt in","z":"6bb640c6.525a5","name":"Message from Growbot","topic":"GROWBOT","qos":"2","datatype":"auto","broker":"9243fa99.15cf28","nl":false,"rap":true,"rh":0,"x":120,"y":40,"wires":[["bd137d2a.577ac"]]},{"id":"bd137d2a.577ac","type":"subflow:2c950cc0.f5b4d4","z":"6bb640c6.525a5","name":"","env":[],"x":220,"y":100,"wires":[["c1ebcf2d.c4ffb","c4cfd531.18b6b8","c1c2b0f8.c9226","fc42ebdc.c32b48","b7c55316.c17f6"]]},{"id":"4c0921e0.24b47","type":"mqtt out","z":"6bb640c6.525a5","name":"Message to Growbot","topic":"GROWBOT_CONFIG","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9243fa99.15cf28","x":1440,"y":680,"wires":[]},{"id":"c91b428a.233dd","type":"function","z":"6bb640c6.525a5","name":"Make Mode Message","func":"\nvar buf = Buffer.alloc(2)\nvar offset = 0;\noffset = buf.writeUInt8(0x2, 0);\noffset = buf.writeUInt8(msg.payload, offset);\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":780,"wires":[["4c0921e0.24b47"]]},{"id":"c209008e.7439c","type":"ui_numeric","z":"6bb640c6.525a5","name":"","label":"Sample Interval Sec","tooltip":"","group":"96d9d6c0.428e28","order":1,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"samplingIntervalMS","topicType":"str","format":"{{value}}","min":"2","max":"300","step":1,"x":520,"y":320,"wires":[["e556c5dc.a3adf8"]]},{"id":"e556c5dc.a3adf8","type":"function","z":"6bb640c6.525a5","name":"s to ms","func":"msg.payload *= 1000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":360,"wires":[["84cc42f5.c1bcd"]]},{"id":"18221c7f.e37354","type":"ui_slider","z":"6bb640c6.525a5","name":"","label":"Exhaust Fan Min Offset","tooltip":"","group":"a2345340.dcf1","order":8,"width":0,"height":0,"passthru":false,"outs":"end","topic":"exhaustFanCalibration.minOffset","topicType":"str","min":"1","max":"30","step":1,"x":530,"y":400,"wires":[["84cc42f5.c1bcd"]]},{"id":"1cb8abc4.7b6104","type":"ui_slider","z":"6bb640c6.525a5","name":"","label":"Exhaust Fan Max Offset","tooltip":"","group":"a2345340.dcf1","order":9,"width":0,"height":0,"passthru":false,"outs":"end","topic":"exhaustFanCalibration.maxOffset","topicType":"str","min":"2","max":"31","step":1,"x":530,"y":460,"wires":[["84cc42f5.c1bcd"]]},{"id":"9266db2e.6676d8","type":"ui_slider","z":"6bb640c6.525a5","name":"Exhaust Fan %","label":"","tooltip":"","group":"4975dc2d.9c4134","order":2,"width":3,"height":1,"passthru":false,"outs":"end","topic":"exhaustFanPercent","topicType":"str","min":0,"max":"100","step":1,"x":520,"y":940,"wires":[["84cc42f5.c1bcd"]]},{"id":"510be7c0.5a9448","type":"ui_slider","z":"6bb640c6.525a5","name":"","label":"Intake Fan Min Offset","tooltip":"","group":"a2345340.dcf1","order":11,"width":0,"height":0,"passthru":false,"outs":"end","topic":"intakeFanCalibration.minOffset","topicType":"str","min":"1","max":"30","step":1,"x":520,"y":600,"wires":[["84cc42f5.c1bcd"]]},{"id":"57789328.d4239c","type":"ui_slider","z":"6bb640c6.525a5","name":"","label":"Intake Fan Max Offset","tooltip":"","group":"a2345340.dcf1","order":12,"width":0,"height":0,"passthru":false,"outs":"end","topic":"intakeFanCalibration.maxOffset","topicType":"str","min":"2","max":"31","step":1,"x":520,"y":660,"wires":[["84cc42f5.c1bcd"]]},{"id":"94d55525.b76fd8","type":"ui_slider","z":"6bb640c6.525a5","name":"Intake Fan %","label":"","tooltip":"","group":"4975dc2d.9c4134","order":4,"width":3,"height":1,"passthru":false,"outs":"end","topic":"intakeFanPercent","topicType":"str","min":0,"max":"100","step":1,"x":510,"y":1060,"wires":[["84cc42f5.c1bcd"]]},{"id":"fd891e7c.4be9e","type":"ui_numeric","z":"6bb640c6.525a5","name":"","label":"Exhaust Fan Spin Up Sec","tooltip":"","group":"a2345340.dcf1","order":10,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"exhaustFanCalibration.spinUpSec","topicType":"str","format":"{{value}}","min":0,"max":10,"step":1,"x":530,"y":540,"wires":[["84cc42f5.c1bcd"]]},{"id":"ef96f50d.a57e88","type":"ui_numeric","z":"6bb640c6.525a5","name":"","label":"Intake Fan Spin Up Sec","tooltip":"","group":"a2345340.dcf1","order":13,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"intakeFanCalibration.spinUpSec","topicType":"str","format":"{{value}}","min":0,"max":10,"step":1,"x":530,"y":780,"wires":[["84cc42f5.c1bcd"]]},{"id":"7abf1ed1.c73a","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"exhaustFanCalibration.minOffset","x":250,"y":400,"wires":[["18221c7f.e37354"]]},{"id":"2eba2177.f8461e","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"exhaustFanCalibration.maxOffset","x":250,"y":460,"wires":[["1cb8abc4.7b6104"]]},{"id":"260006e4.e4268a","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"exhaustFanPercent","x":270,"y":940,"wires":[["9266db2e.6676d8"]]},{"id":"c7de419f.00e67","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"intakeFanCalibration.minOffset","x":250,"y":600,"wires":[["510be7c0.5a9448"]]},{"id":"26efa78f.3c30a8","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"intakeFanCalibration.maxOffset","x":250,"y":660,"wires":[["57789328.d4239c"]]},{"id":"dbcf7076.21fe7","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"intakeFanPercent","x":270,"y":1060,"wires":[["94d55525.b76fd8"]]},{"id":"9ce5e6c3.edb948","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"exhaustFanCalibration.spinUpSec","x":250,"y":540,"wires":[["fd891e7c.4be9e"]]},{"id":"9ec7a1b4.3b61c","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"intakeFanCalibration.spinUpSec","x":250,"y":780,"wires":[["ef96f50d.a57e88"]]},{"id":"768fb8e9.e56d98","type":"ui_switch","z":"6bb640c6.525a5","name":"","label":"Exhaust Fan","tooltip":"","group":"4975dc2d.9c4134","order":1,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"exhaustFanOn","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":510,"y":880,"wires":[["84cc42f5.c1bcd"]]},{"id":"b9ed68a3.901e18","type":"ui_switch","z":"6bb640c6.525a5","name":"","label":"Intake Fan","tooltip":"","group":"4975dc2d.9c4134","order":3,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"intakeFanOn","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":510,"y":1000,"wires":[["84cc42f5.c1bcd"]]},{"id":"6a9e8e37.dcc63","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"exhaustFanOn","x":270,"y":880,"wires":[["768fb8e9.e56d98"]]},{"id":"ecef3886.8a5278","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"intakeFanOn","x":270,"y":1000,"wires":[["b9ed68a3.901e18"]]},{"id":"d67faca0.46327","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"lightsSchedule.status","x":270,"y":1120,"wires":[["59e0eba2.8224b4"]]},{"id":"9d6388e1.5a1068","type":"ui_button","z":"6bb640c6.525a5","name":"","group":"63d090d9.23eae","order":2,"width":0,"height":0,"passthru":false,"label":"Start pH Calibration","tooltip":"","color":"","bgcolor":"","icon":"","payload":"32","payloadType":"num","topic":"topic","topicType":"msg","x":1250,"y":1020,"wires":[["c91b428a.233dd"]]},{"id":"c1c2b0f8.c9226","type":"function","z":"6bb640c6.525a5","name":"pH Calibration Button States","func":"let startCalibBtn = false;\nlet calibMidBtn = false;\nlet calibLowBtn = false;\nlet calibHighBtn = false;\nlet stopCalibBtn = false;\n\nswitch (msg.payload.current_mode) {\n    case 0x0:\n        //normal mode, not calibrating anything\n        startCalibBtn = true;\n        break;\n    case 0x20:\n        calibMidBtn = true;\n        stopCalibBtn = true;\n        break;\n    case 0x21:\n        calibLowBtn = true;\n        stopCalibBtn = true;\n        break;\n    case 0x22:\n        calibHighBtn = true;\n        stopCalibBtn = true;\n        break;\n}\nreturn [ {enabled: startCalibBtn},\n         {enabled: calibMidBtn},\n         {enabled: calibLowBtn},\n         {enabled: calibHighBtn},\n         {enabled: stopCalibBtn}\n         ];\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1160,"wires":[["9d6388e1.5a1068"],["f012898e.06d5a8"],["c27adb80.da46a8"],["5b9dc6d4.8f7de8"],["f22633ee.6482f"]]},{"id":"c4cfd531.18b6b8","type":"ui_text","z":"6bb640c6.525a5","group":"63d090d9.23eae","order":1,"width":0,"height":0,"name":"","label":"pH Reading","format":"{{msg.payload.data.waterData.ph}}","layout":"row-spread","x":1230,"y":980,"wires":[]},{"id":"f22633ee.6482f","type":"ui_button","z":"6bb640c6.525a5","name":"","group":"63d090d9.23eae","order":6,"width":0,"height":0,"passthru":false,"label":"Cancel pH Calibration","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":1260,"y":1260,"wires":[["c91b428a.233dd"]]},{"id":"f012898e.06d5a8","type":"ui_button","z":"6bb640c6.525a5","name":"","group":"63d090d9.23eae","order":3,"width":0,"height":0,"passthru":false,"label":"Set pH MID Calibration Point","tooltip":"","color":"","bgcolor":"","icon":"","payload":"33","payloadType":"num","topic":"topic","topicType":"msg","x":1280,"y":1080,"wires":[["c91b428a.233dd"]]},{"id":"c27adb80.da46a8","type":"ui_button","z":"6bb640c6.525a5","name":"","group":"63d090d9.23eae","order":4,"width":0,"height":0,"passthru":false,"label":"Set pH LOW Calibration Point","tooltip":"","color":"","bgcolor":"","icon":"","payload":"34","payloadType":"num","topic":"topic","topicType":"msg","x":1290,"y":1140,"wires":[["c91b428a.233dd"]]},{"id":"5b9dc6d4.8f7de8","type":"ui_button","z":"6bb640c6.525a5","name":"","group":"63d090d9.23eae","order":5,"width":0,"height":0,"passthru":false,"label":"Set ph HIGH Calibration Point","tooltip":"","color":"","bgcolor":"","icon":"","payload":"35","payloadType":"num","topic":"topic","topicType":"msg","x":1290,"y":1200,"wires":[["c91b428a.233dd"]]},{"id":"676429fd.9f8c68","type":"ui_button","z":"6bb640c6.525a5","name":"","group":"8822534f.5b11a","order":2,"width":0,"height":0,"passthru":false,"label":"Start EC Calibration","tooltip":"","color":"","bgcolor":"","icon":"","payload":"48","payloadType":"num","topic":"topic","topicType":"msg","x":1240,"y":1400,"wires":[["c91b428a.233dd"]]},{"id":"b7c55316.c17f6","type":"function","z":"6bb640c6.525a5","name":"EC Calibration Button States","func":"let startCalibBtn = false;\nlet calibDryBtn = false;\nlet calibLowBtn = false;\nlet calibHighBtn = false;\nlet stopCalibBtn = false;\n\nswitch (msg.payload.current_mode) {\n    case 0x0:\n        //normal mode, not calibrating anything\n        startCalibBtn = true;\n        break;\n    case 0x30:\n        calibDryBtn = true;\n        stopCalibBtn = true;\n        break;\n    case 0x31:\n        calibLowBtn = true;\n        stopCalibBtn = true;\n        break;\n    case 0x32:\n        calibHighBtn = true;\n        stopCalibBtn = true;\n        break;\n}\nreturn [ {enabled: startCalibBtn},\n         {enabled: calibDryBtn},\n         {enabled: calibLowBtn},\n         {enabled: calibHighBtn},\n         {enabled: stopCalibBtn}\n         ];\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1460,"wires":[["676429fd.9f8c68"],["503e7d0d.ccc5f4"],["85c40d69.999b5"],["97d95884.aeab18"],["6175c764.483618"]]},{"id":"6175c764.483618","type":"ui_button","z":"6bb640c6.525a5","name":"","group":"8822534f.5b11a","order":6,"width":0,"height":0,"passthru":false,"label":"Cancel EC Calibration","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":1240,"y":1640,"wires":[["c91b428a.233dd"]]},{"id":"503e7d0d.ccc5f4","type":"ui_button","z":"6bb640c6.525a5","name":"","group":"8822534f.5b11a","order":3,"width":0,"height":0,"passthru":false,"label":"Set DRY EC Calibration Point","tooltip":"","color":"","bgcolor":"","icon":"","payload":"49","payloadType":"num","topic":"topic","topicType":"msg","x":1270,"y":1460,"wires":[["c91b428a.233dd"]]},{"id":"85c40d69.999b5","type":"ui_button","z":"6bb640c6.525a5","name":"","group":"8822534f.5b11a","order":4,"width":0,"height":0,"passthru":false,"label":"Set LOW EC Calibration Point","tooltip":"","color":"","bgcolor":"","icon":"","payload":"50","payloadType":"num","topic":"topic","topicType":"msg","x":1270,"y":1520,"wires":[["c91b428a.233dd"]]},{"id":"97d95884.aeab18","type":"ui_button","z":"6bb640c6.525a5","name":"","group":"8822534f.5b11a","order":5,"width":0,"height":0,"passthru":false,"label":"Set HIGH EC Calibration Point","tooltip":"","color":"","bgcolor":"","icon":"","payload":"51","payloadType":"num","topic":"topic","topicType":"msg","x":1270,"y":1580,"wires":[["c91b428a.233dd"]]},{"id":"fc42ebdc.c32b48","type":"ui_text","z":"6bb640c6.525a5","group":"8822534f.5b11a","order":1,"width":0,"height":0,"name":"","label":"TDS Reading","format":"{{msg.payload.data.waterData.tds}}","layout":"row-spread","x":1240,"y":1340,"wires":[]},{"id":"5e441bef.227d94","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"waterChillerThermostat.mode","x":270,"y":1400,"wires":[["91ea6d4c.69d0c"]]},{"id":"87d3a07.f742c6","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"waterChillerThermostat.minValue","x":270,"y":1460,"wires":[["75623fb2.4fc75"]]},{"id":"3c6a90d5.6ac9b","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"waterChillerThermostat.maxValue","x":270,"y":1520,"wires":[["8b0d46df.7fbfa8"]]},{"id":"91ea6d4c.69d0c","type":"ui_dropdown","z":"6bb640c6.525a5","name":"Chiller Thermostat","label":"Chiller Thermostat Mode","tooltip":"","place":"Chiller Thermostat Mode","group":"a2345340.dcf1","order":14,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Off","value":"0","type":"str"},{"label":"Force On","value":"1","type":"str"},{"label":"Thermostat","value":"2","type":"str"}],"payload":"","topic":"waterChillerThermostat.mode","topicType":"str","x":510,"y":1400,"wires":[["84cc42f5.c1bcd"]]},{"id":"75623fb2.4fc75","type":"ui_numeric","z":"6bb640c6.525a5","name":"Chiller Thermostat Min","label":"Chiller Thermostat Min","tooltip":"","group":"a2345340.dcf1","order":16,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"waterChillerThermostat.minValue","topicType":"str","format":"{{value}}","min":0,"max":"30","step":"0.25","x":520,"y":1460,"wires":[["84cc42f5.c1bcd"]]},{"id":"8b0d46df.7fbfa8","type":"ui_numeric","z":"6bb640c6.525a5","name":"Chiller Thermostat Max","label":"Chiller Thermostat Max","tooltip":"","group":"a2345340.dcf1","order":15,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"waterChillerThermostat.maxValue","topicType":"str","format":"{{value}}","min":0,"max":"30","step":"0.25","x":530,"y":1520,"wires":[["84cc42f5.c1bcd"]]},{"id":"84cc42f5.c1bcd","type":"subflow:fb6e1899.829f18","z":"6bb640c6.525a5","name":"","env":[],"x":1190,"y":480,"wires":[]},{"id":"d3e4d3b8.77bbd","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"samplingIntervalMS","x":250,"y":300,"wires":[["bfa9a15b.8dc05"]]},{"id":"c1ebcf2d.c4ffb","type":"function","z":"6bb640c6.525a5","name":"Update config global","func":"if (msg.payload && msg.payload.config) {\n    global.set(\"latest_config\", msg.payload.config);\n    msg.payload = global.get(\"latest_config\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":240,"wires":[["d3e4d3b8.77bbd","7abf1ed1.c73a","2eba2177.f8461e","260006e4.e4268a","c7de419f.00e67","26efa78f.3c30a8","dbcf7076.21fe7","9ce5e6c3.edb948","9ec7a1b4.3b61c","6a9e8e37.dcc63","ecef3886.8a5278","d67faca0.46327","5e441bef.227d94","87d3a07.f742c6","3c6a90d5.6ac9b","63f82fec.16bf9","83604f4.9366cb","6d97a53f.bce11c","72e6d3bb.b2b44c","4e285aa3.641ea4","cbcdde49.3ce6a","8ce14781.6e6e78"]]},{"id":"bfa9a15b.8dc05","type":"function","z":"6bb640c6.525a5","name":"ms to s","func":"msg.payload = Math.floor(msg.payload/1000);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":280,"wires":[["c209008e.7439c"]]},{"id":"92821c48.0c0d5","type":"subflow:2c950cc0.f5b4d4","z":"38def9ff.21aea6","name":"","x":140,"y":220,"wires":[["b9e9913b.47eae","16fea1c4.41d3ee","bcaab1eb.be397"]]},{"id":"acac5621.ff9388","type":"function","z":"68dd499a.a366c8","name":"Set values for switches","func":"'config_exhaustFanPercent',\n            'config_intakeFanPercent',\n            'config_exhaustFanOn',\n            'config_intakeFanOn'\nvar exOn = msg.payload.config_exhaustFanOn;\nvar expct = msg.payload.config_exhaustFanPercent;\nvar inOn = msg.payload.config_intakeFanOn;\nvar inpct = msg.payload.config_intakeFanPercent;\n\nif (!exOn.length) {\n    return msg;\n}\nvar idx = 0;\nfor (let d of expct) {\n    if (idx < exOn.length - 1 && exOn[idx + 1].x <= d.x ) {\n        idx++;\n    }\n    d.y = (exOn[0].y > 0)?d.y:0;\n}\nidx = 0;\nfor (let d of inpct) {\n    if (idx < inOn.length - 1 && inOn[idx + 1].x <= d.x ) {\n        idx++;\n    }\n    d.y = (inOn[0].y > 0)?d.y:0;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":440,"wires":[["ab9baf7a.e392d"]]},{"id":"4371fd42.f6b154","type":"change","z":"68dd499a.a366c8","name":"","rules":[{"t":"set","p":"show_lux","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1400,"wires":[[]]},{"id":"d648c47c.e57618","type":"ui_switch","z":"68dd499a.a366c8","name":"","label":"Lux","tooltip":"","group":"ab3ec0cf.5f1fc","order":11,"width":4,"height":1,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":130,"y":1400,"wires":[["4371fd42.f6b154"]]},{"id":"80b1802b.9135f","type":"change","z":"68dd499a.a366c8","name":"","rules":[{"t":"set","p":"show_intake_fan","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1460,"wires":[[]]},{"id":"d232f109.c5091","type":"ui_switch","z":"68dd499a.a366c8","name":"","label":"Intake Fan","tooltip":"","group":"ab3ec0cf.5f1fc","order":11,"width":4,"height":1,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":150,"y":1460,"wires":[["80b1802b.9135f"]]},{"id":"420e3e21.d8bea","type":"change","z":"68dd499a.a366c8","name":"","rules":[{"t":"set","p":"show_exhaust_fan","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1520,"wires":[[]]},{"id":"12bb7105.fd30cf","type":"ui_switch","z":"68dd499a.a366c8","name":"","label":"Exhaust Fan","tooltip":"","group":"ab3ec0cf.5f1fc","order":11,"width":4,"height":1,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":150,"y":1520,"wires":[["420e3e21.d8bea"]]},{"id":"ba099ffc.910cf","type":"switch","z":"68dd499a.a366c8","name":"Show intake fan","property":"show_intake_fan","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":880,"wires":[["43fb15a6.3c224c"]]},{"id":"f7d8993d.84d618","type":"switch","z":"68dd499a.a366c8","name":"Show exhaust fan","property":"show_exhaust_fan","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":920,"wires":[["43fb15a6.3c224c"]]},{"id":"5464aa34.16af94","type":"switch","z":"68dd499a.a366c8","name":"Show lux","property":"show_lux","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":840,"wires":[["43fb15a6.3c224c"]]},{"id":"c24ee7a0.871c18","type":"debug","z":"68dd499a.a366c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":800,"wires":[]},{"id":"293f4bd8.354f14","type":"ui_template","z":"38def9ff.21aea6","group":"b9fab5a.6b0f448","name":"Cam","order":1,"width":6,"height":7,"format":"\n    <div  id=\"camDiv\" style=\"{{eleStyles}}\">\n        <div ng-click=\"toggleZoom()\" style=\"width:100%;height:calc(100% - 75px);background:url({{currentPic.url}});background-position: center;background-repeat: no-repeat; background-size: contain;\">\n    \n        </div>\n        <div style=\"display:table;margin: 0 auto;background-color: rgba(255,255,255,.6);\">{{currentPic.title}}</div>\n        <div ng-if=\"playlist\" style=\"display:table;margin: 0 auto;\" id=\"timelapseDiv\">\n            \n            <md-button style=\"display:none\"></md-button>\n            <md-button style=\"background-color: white; margin: 5px 3px 0px 3px\" ng-click=\"goFirst($event)\"> <ui-icon icon=\"skip_previous\"></ui-icon></md-button>\n            <md-button style=\"background-color: white; margin: 5px 3px 0px 3px\" ng-disabled=\"playing||frameIndex==playlist.length-1\" ng-click=\"prev($event)\"> <ui-icon icon=\"keyboard_arrow_left\"></ui-icon></md-button>\n            <md-button style=\"background-color: white; margin: 5px 3px 0px 3px\" ng-if=\"!playing\" ng-click=\"play($event)\"> <ui-icon icon=\"play_arrow\"></ui-icon></md-button>\n            <md-button style=\"background-color: white; margin: 5px 3px 0px 3px\" ng-if=\"playing\" ng-click=\"pause($event)\"> <ui-icon icon=\"pause\"></ui-icon></md-button>\n            <md-button style=\"background-color: white; margin: 5px 3px 0px 3px\" ng-disabled=\"playing||frameIndex==playlist.length-1\" ng-click=\"next($event)\"> <ui-icon icon=\"keyboard_arrow_right\"></ui-icon></md-button>\n            <md-button style=\"background-color: white; margin: 5px 3px 0px 3px\" ng-click=\"goLast($event)\"> <ui-icon icon=\"skip_next\"></ui-icon></md-button>\n            \n        \n        </div>\n        \n    </div>\n\n\n<script>\n\n    \n    (function(scope) {\n        const ele = document.getElementById('camDiv');\n        scope.frameDelay = 1000;\n        scope.playing = false;\n        scope.timeoutHandle = null;\n        scope.frameIndex = 0;\n        const baseEleStyles = \"width:100%;height:100%;\"\n        const fullscreenEleStyles = \"top: 0;left:0;bottom:0;right:0;z-index:2000;position:fixed;background-color: rgba(0,0,0,.5);\"\n        scope.eleStyles = baseEleStyles;\n        scope.toggleZoom = function() {\n            console.log(ele);\n            if (ele.style.position == \"fixed\") {\n                console.log(\"putting back\");\n                scope.eleStyles = baseEleStyles;\n            } else {\n                console.log(\"full screening\");\n                scope.eleStyles = baseEleStyles + fullscreenEleStyles;\n            }\n        }\n        \n        scope.startTimeout = function() {\n            scope.timeoutHandle = setTimeout(() => {\n                if (!scope.playing || !scope.playlist) {\n                    return;\n                }\n                scope.frameIndex++;\n                if (scope.frameIndex >= scope.playlist.length) {\n                    scope.frameIndex = 0\n                }\n                var bgImg = new Image();\n                bgImg.onload = function(){\n                    scope.currentPic = scope.playlist[scope.frameIndex];\n                    console.log(\"load finished starting timeout\");\n                    scope.$apply();\n                    scope.startTimeout();   \n                };\n                console.log(\"starting load\");\n                bgImg.src = scope.playlist[scope.frameIndex].url;\n                \n            }, scope.frameDelay);\n        }\n        scope.play = function(event) {\n            event.stopPropagation();\n            console.log(\"do play?\");\n            scope.playing = true;\n            if (scope.frameIndex == scope.playlist.length-1) {\n                scope.frameIndex = 0;\n            }\n            scope.startTimeout();\n        }\n        scope.goFirst = function(event) {\n         event.preventDefault();\n         scope.frameIndex = 0;\n         scope.currentPic = scope.playlist[scope.frameIndex];\n        }\n        scope.goLast = function(event) {\n         event.preventDefault();\n         scope.frameIndex = scope.playlist.length - 1;\n         scope.currentPic = scope.playlist[scope.frameIndex];\n        }\n        scope.pause = function(event) {\n            event.stopPropagation();\n            scope.playing = false;\n            if (scope.timeoutHandle) {\n                clearTimeout(scope.timeoutHandle);\n                scope.timeoutHandle = null;\n            }\n        }\n        scope.next = function(event) {\n            event.stopPropagation();\n            scope.frameIndex++;\n            if (scope.frameIndex >= scope.playlist.length) {\n                scope.frameIndex--;\n                return;\n            }\n            scope.currentPic = scope.playlist[scope.frameIndex];\n        }\n        scope.prev = function(event) {\n            event.stopPropagation();\n            scope.frameIndex--;\n            if (scope.frameIndex < 0) {\n                scope.frameIndex++;\n                return;\n            }\n            scope.currentPic = scope.playlist[scope.frameIndex];\n        }\n        console.log(\"camEle: \" + scope.camEle);\n        \n        scope.currentPic = { url: \"/spinner.gif\", title: \"No image\" };\n        scope.$watch('msg.data', function(data) {\n            console.log(JSON.stringify(data));\n            if (Array.isArray(data)) {\n                console.log(\"it is array\");\n                scope.playlist = data;\n                scope.currentPic = data[0];\n            } else {\n                console.log('it is not array');\n                scope.currentPic = data;\n                scope.playlist = null;\n            }\n        });\n    })(scope);\n    \n    \n    if (data.startsWith(\"[\")) {\n        \n    } else {\n        ele.style.background = `url(/${data}) no-repeat contain`;\n    }\n</script>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1390,"y":340,"wires":[[]]},{"id":"59e0eba2.8224b4","type":"ui_dropdown","z":"6bb640c6.525a5","name":"Lights Mode","label":"Lights Mode","tooltip":"","place":"Select option","group":"4975dc2d.9c4134","order":8,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Schedule","value":0,"type":"num"},{"label":"On","value":1,"type":"num"},{"label":"Off","value":2,"type":"num"}],"payload":"","topic":"lightsSchedule.status","topicType":"str","x":490,"y":1120,"wires":[["84cc42f5.c1bcd"]]},{"id":"63f82fec.16bf9","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"lightsSchedule.turnOnGmtHourMin","x":270,"y":1160,"wires":[["ed03e955.1da0b8"]]},{"id":"83604f4.9366cb","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"lightsSchedule.turnOffGmtHourMin","x":270,"y":1200,"wires":[["d0ac8768.cea138"]]},{"id":"ed03e955.1da0b8","type":"ui_numeric","z":"6bb640c6.525a5","name":"Lights Turn On Time","label":"Lights Turn On Time","tooltip":"","group":"a2345340.dcf1","order":3,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"lightsSchedule.turnOnGmtHourMin","topicType":"str","format":"{{value}}","min":0,"max":"2300","step":"10","x":520,"y":1160,"wires":[["84cc42f5.c1bcd"]]},{"id":"d0ac8768.cea138","type":"ui_numeric","z":"6bb640c6.525a5","name":"Lights Turn Off Time","label":"Lights Turn Off Time","tooltip":"","group":"a2345340.dcf1","order":4,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"lightsSchedule.turnOffGmtHourMin","topicType":"str","format":"{{value}}","min":0,"max":"2300","step":"10","x":520,"y":1200,"wires":[["84cc42f5.c1bcd"]]},{"id":"6d97a53f.bce11c","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"roomFanSchedule.status","x":270,"y":1260,"wires":[["8149a97b.8d3278"]]},{"id":"72e6d3bb.b2b44c","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"roomFanSchedule.turnOnGmtHourMin","x":270,"y":1300,"wires":[["92bdaebc.25b83"]]},{"id":"4e285aa3.641ea4","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"roomFanSchedule.turnOffGmtHourMin","x":270,"y":1340,"wires":[["46ef38aa.ef7e28"]]},{"id":"8149a97b.8d3278","type":"ui_dropdown","z":"6bb640c6.525a5","name":"Room Fans Mode","label":"Room Fans Mode","tooltip":"","place":"Select option","group":"4975dc2d.9c4134","order":9,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Schedule","value":0,"type":"num"},{"label":"On","value":1,"type":"num"},{"label":"Off","value":2,"type":"num"}],"payload":"","topic":"roomFanSchedule.status","topicType":"str","x":510,"y":1260,"wires":[["84cc42f5.c1bcd"]]},{"id":"92bdaebc.25b83","type":"ui_numeric","z":"6bb640c6.525a5","name":"Room Fans Turn On Time","label":"Room Fans Turn On Time","tooltip":"","group":"a2345340.dcf1","order":6,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"roomFanSchedule.turnOnGmtHourMin","topicType":"str","format":"{{value}}","min":0,"max":"2300","step":"100","x":530,"y":1300,"wires":[["84cc42f5.c1bcd"]]},{"id":"46ef38aa.ef7e28","type":"ui_numeric","z":"6bb640c6.525a5","name":"Room Fans Turn Off Time","label":"Room Fans Turn Off Time","tooltip":"","group":"a2345340.dcf1","order":7,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"roomFanSchedule.turnOffGmtHourMin","topicType":"str","format":"{{value}}","min":0,"max":"2300","step":"100","x":530,"y":1340,"wires":[["84cc42f5.c1bcd"]]},{"id":"2ddfd455.7f7dcc","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":15,"width":3,"height":1,"name":"","label":"Lights","format":"{{msg.payload.data.lightsOn?\"ON\":\"OFF\"}}","layout":"col-center","x":410,"y":540,"wires":[]},{"id":"9534ec93.e7856","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":23,"width":3,"height":1,"name":"","label":"Room Fan","format":"{{msg.payload.data.roomFanOn?\"ON\":\"OFF\"}}","layout":"col-center","x":430,"y":580,"wires":[]},{"id":"cbcdde49.3ce6a","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"pumpOn","x":270,"y":1580,"wires":[["fb00ae58.6f2c6"]]},{"id":"fb00ae58.6f2c6","type":"ui_switch","z":"6bb640c6.525a5","name":"","label":"Water Pump","tooltip":"","group":"4975dc2d.9c4134","order":5,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"pumpOn","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":490,"y":1580,"wires":[["84cc42f5.c1bcd"]]},{"id":"5cd5959f.c7cacc","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":17,"width":3,"height":1,"name":"","label":"Water Pump","format":"{{msg.payload.data.pumpOn?\"ON\":(msg.payload.data.pumpEmergencyShutoff?\"EMERGENCY SHUTOFF\":\"OFF\")}}","layout":"col-center","x":590,"y":580,"wires":[]},{"id":"1216a120.10325f","type":"inject","z":"38def9ff.21aea6","name":"Trigger Auto Pic AM","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"10 07 * * *","once":false,"onceDelay":"60","topic":"","payload":"auto","payloadType":"str","x":1020,"y":80,"wires":[["98815826.dfc3c8"]]},{"id":"d6ee44c.8f1a7b8","type":"inject","z":"38def9ff.21aea6","name":"Trigger Auto Pic PM","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"50 18 * * *","once":false,"onceDelay":"60","topic":"","payload":"auto","payloadType":"str","x":1020,"y":160,"wires":[["98815826.dfc3c8"]]},{"id":"98815826.dfc3c8","type":"function","z":"38def9ff.21aea6","name":"Capture Picture","func":"\nconst fname = `${msg.payload}_${JSON.stringify(new Date()).replace(/\\\"/g, '').replace(/\\:/g, \"-\").replace(/T/g, '_').replace(/Z/g, '').split('.')[0]}.png`;\nmsg.data = {url:'/'+ fname, title: (new Date()).toLocaleString()};\nmsg.payload = '/home/pi/phogrows/' + fname;\n\n\nreturn [msg, {data: {url: '/spinner.gif', title: \"No Image\"}}];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":260,"wires":[["fde9f3f8.ccabf"],["293f4bd8.354f14"]]},{"id":"4cf0d702.599778","type":"ui_button","z":"38def9ff.21aea6","name":"","group":"b9fab5a.6b0f448","order":4,"width":"2","height":1,"passthru":false,"label":"Capture Pic","tooltip":"","color":"","bgcolor":"","icon":"","payload":"cap","payloadType":"str","topic":"topic","topicType":"msg","x":900,"y":280,"wires":[["98815826.dfc3c8"]]},{"id":"fde9f3f8.ccabf","type":"exec","z":"38def9ff.21aea6","command":"fswebcam --skip 30 -r 3840x2160 --text-colour \"#FF00FF00\" --line-colour \"#00000000\" --banner-colour \"#00000000\" --bottom-banner --png 5 --save ","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"capture pic","x":1230,"y":460,"wires":[["293f4bd8.354f14","54d553d4.a2d68c"],["da281f87.7eeee"],[]]},{"id":"da281f87.7eeee","type":"debug","z":"38def9ff.21aea6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":620,"wires":[]},{"id":"df5c6777.d01178","type":"ui_button","z":"38def9ff.21aea6","name":"","group":"b9fab5a.6b0f448","order":2,"width":"2","height":"1","passthru":false,"label":"All Pics","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":910,"y":340,"wires":[["a90696f3.1487f8"]]},{"id":"a90696f3.1487f8","type":"function","z":"38def9ff.21aea6","name":"","func":"var fs = global.get('fs')\nvar path = global.get('path')\nconst dir ='/home/pi/phogrows';  \nconst prefix = null;\nfs.readdir(dir, (err, files) => {\n    const dataArr = []\n    if (!err) {\n        for (let f of files) {\n            const spl = f.split(\".\")[0].split(/_/g);\n            if (spl.length == 3) {\n                if (!prefix || prefix == spl[0]) {\n                    const dt = new Date(`${spl[1]}T${spl[2].replace(/-/g, ':')}Z`);\n                    dataArr.push({url: `/${f}`, title: dt.toLocaleString(), stamp: dt.getTime()});\n                }\n            }\n        }\n    }\n    dataArr.sort((a, b) => a.stamp - b.stamp);\n    node.send({data: dataArr});        \n    \n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":360,"wires":[["293f4bd8.354f14","5e0eb687.16ddc8"]]},{"id":"5e0eb687.16ddc8","type":"debug","z":"38def9ff.21aea6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":560,"wires":[]},{"id":"6e9b0626.4b1b98","type":"inject","z":"38def9ff.21aea6","name":"Trigger Auto Pic Midday","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"20 13 * * *","once":false,"onceDelay":"60","topic":"","payload":"auto","payloadType":"str","x":1030,"y":120,"wires":[["98815826.dfc3c8"]]},{"id":"357e4b2c.f874c4","type":"websocket out","z":"638a1ba8.eab274","name":"flow","server":"","client":"d99fcb82.968e48","x":2150,"y":540,"wires":[]},{"id":"483e8c24.10a904","type":"websocket in","z":"638a1ba8.eab274","name":"flow incoming","server":"","client":"d99fcb82.968e48","x":1170,"y":220,"wires":[["ba85f6f8.e6d8c8"]]},{"id":"181f5e02.40d542","type":"ui_text","z":"638a1ba8.eab274","group":"79e4a25c.bb49dc","order":11,"width":6,"height":1,"name":"","label":"Operation","format":"{{msg.payload.currentOperation.type}}","layout":"row-spread","x":1880,"y":40,"wires":[]},{"id":"c7881248.6e881","type":"ui_text","z":"638a1ba8.eab274","group":"79e4a25c.bb49dc","order":12,"width":6,"height":1,"name":"","label":"Operation Status","format":"{{msg.payload.currentOperation.status}}","layout":"row-spread","x":1910,"y":80,"wires":[]},{"id":"e47d7482.6d1888","type":"ui_text","z":"638a1ba8.eab274","group":"79e4a25c.bb49dc","order":13,"width":6,"height":1,"name":"","label":"Operation Delta Gals","format":"{{msg.payload.currentOperation.opTotalDeltaGallons }}","layout":"row-spread","x":1920,"y":120,"wires":[]},{"id":"f37a0f8.185a1f","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"79e4a25c.bb49dc","order":15,"width":6,"height":1,"passthru":false,"label":"Fill To","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"startop\",\"op\":\"FillToPercent\",\"value\":8}","payloadType":"json","topic":"topic","topicType":"msg","x":1830,"y":440,"wires":[["e8ff15cd.b82188"]]},{"id":"7c9755af.51e40c","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"79e4a25c.bb49dc","order":17,"width":6,"height":1,"passthru":false,"label":"Drain to","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"topic","topicType":"msg","x":1840,"y":360,"wires":[["c2192b75.1c7588"]]},{"id":"f1a3cdda.8931f","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"79e4a25c.bb49dc","order":14,"width":6,"height":1,"passthru":false,"label":"Abort Op","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"abortop\"}","payloadType":"json","topic":"topic","topicType":"msg","x":1840,"y":640,"wires":[["357e4b2c.f874c4"]]},{"id":"2e26c3d5.d30bfc","type":"ui_text","z":"638a1ba8.eab274","group":"79e4a25c.bb49dc","order":1,"width":3,"height":1,"name":"","label":"Gallons In","format":"{{ msg.payload.gallonsIn }}","layout":"col-center","x":1620,"y":420,"wires":[]},{"id":"180386ba.ef8ed9","type":"ui_text","z":"638a1ba8.eab274","group":"79e4a25c.bb49dc","order":2,"width":3,"height":1,"name":"","label":"Gallons Out","format":"{{ msg.payload.gallonsOut }}","layout":"col-center","x":1630,"y":460,"wires":[]},{"id":"79888615.2aa488","type":"ui_text","z":"638a1ba8.eab274","group":"79e4a25c.bb49dc","order":7,"width":3,"height":1,"name":"","label":"In Valve Open","format":"{{msg.payload.inValveOpen}}","layout":"col-center","x":1640,"y":500,"wires":[]},{"id":"bd38b2ae.0409b","type":"ui_text","z":"638a1ba8.eab274","group":"79e4a25c.bb49dc","order":8,"width":3,"height":1,"name":"","label":"Out Valve Open","format":"{{msg.payload.outValveOpen}}","layout":"col-center","x":1640,"y":380,"wires":[]},{"id":"ba85f6f8.e6d8c8","type":"function","z":"638a1ba8.eab274","name":"","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":140,"wires":[["a298b0ea.8edab"]]},{"id":"45626b2e.271004","type":"ui_text","z":"638a1ba8.eab274","group":"79e4a25c.bb49dc","order":3,"width":3,"height":1,"name":"","label":"Water Level","format":"{{msg.payload.waterLevel }} %","layout":"col-center","x":1630,"y":540,"wires":[]},{"id":"a298b0ea.8edab","type":"function","z":"638a1ba8.eab274","name":"","func":"\nif (msg.payload.event == \"cmdresult\") {\n    return [null, msg, null, null, null];\n} else if (msg.payload.event == \"status\") {\n    return [msg, null, null, null, null];\n} else if (msg.payload.event == \"startop\") {\n    return [null, null, msg, null, null];\n} else if (msg.payload.event == \"endop\") {\n    return [null, null, null, msg, null];\n} else {\n    return [null, null, null, null, msg];\n}\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":140,"wires":[["181f5e02.40d542","c7881248.6e881","79888615.2aa488","bd38b2ae.0409b","e3a34517.f577b8"],["5263476e.99ad58","f8e86409.c9be58","b2b167cd.916118"],["181f5e02.40d542","c7881248.6e881","b2b167cd.916118"],["181f5e02.40d542","c7881248.6e881"],["8899cb9.4c6f838"]]},{"id":"5263476e.99ad58","type":"ui_text","z":"638a1ba8.eab274","group":"79e4a25c.bb49dc","order":9,"width":6,"height":1,"name":"","label":"Last Command Success","format":"{{msg.payload.success}}","layout":"row-spread","x":1950,"y":220,"wires":[]},{"id":"f8e86409.c9be58","type":"ui_text","z":"638a1ba8.eab274","group":"79e4a25c.bb49dc","order":10,"width":6,"height":1,"name":"","label":"Last Command Error","format":"{{msg.payload.error}}","layout":"row-spread","x":1940,"y":260,"wires":[]},{"id":"a3cd56ee.75db98","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"79e4a25c.bb49dc","order":21,"width":6,"height":1,"passthru":false,"label":"Flush","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"startop\",\"op\":\"Flush\"}","payloadType":"json","topic":"topic","topicType":"msg","x":1830,"y":600,"wires":[["357e4b2c.f874c4"]]},{"id":"46be4d83.979644","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"79e4a25c.bb49dc","order":19,"width":6,"height":1,"passthru":false,"label":"Empty Reservoir","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"startop\",\"op\":\"Empty\"}","payloadType":"json","topic":"topic","topicType":"msg","x":1860,"y":560,"wires":[["357e4b2c.f874c4"]]},{"id":"5053363.05caec8","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"79e4a25c.bb49dc","order":5,"width":3,"height":1,"passthru":false,"label":"Reset Gallons In","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"reset\",\"field\":\"litersIn\",\"value\":-1}","payloadType":"json","topic":"topic","topicType":"msg","x":1870,"y":480,"wires":[["357e4b2c.f874c4"]]},{"id":"8fc28888.ef3798","type":"ui_button","z":"638a1ba8.eab274","name":"","group":"79e4a25c.bb49dc","order":6,"width":3,"height":1,"passthru":false,"label":"Reset Gallons Out","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"reset\",\"field\":\"litersOut\",\"value\":-1}","payloadType":"json","topic":"topic","topicType":"msg","x":1870,"y":520,"wires":[["357e4b2c.f874c4"]]},{"id":"400d3311.1b47ec","type":"ui_numeric","z":"638a1ba8.eab274","name":"Drain %","label":"","tooltip":"","group":"79e4a25c.bb49dc","order":18,"width":6,"height":1,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} %","min":"0","max":"99","step":1,"x":1840,"y":320,"wires":[["615bdd1a.120094"]]},{"id":"6918125c.89c90c","type":"ui_numeric","z":"638a1ba8.eab274","name":"Fill %","label":"","tooltip":"","group":"79e4a25c.bb49dc","order":16,"width":6,"height":1,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} %","min":"1","max":"100","step":1,"x":1830,"y":400,"wires":[["c9270710.4c2008"]]},{"id":"615bdd1a.120094","type":"function","z":"638a1ba8.eab274","name":"","func":"\nflow.set(\"DrainToPercent\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2020,"y":320,"wires":[[]]},{"id":"c2192b75.1c7588","type":"function","z":"638a1ba8.eab274","name":"","func":"const drainPct = flow.get(\"DrainToPercent\");\nif (drainPct === null || drainPct === undefined) {\n    return null;\n}\nmsg.payload = {cmd:\"startop\",op:\"DrainToPercent\",value:drainPct};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2020,"y":360,"wires":[["357e4b2c.f874c4"]]},{"id":"c9270710.4c2008","type":"function","z":"638a1ba8.eab274","name":"","func":"\nflow.set(\"FillToPercent\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1980,"y":400,"wires":[[]]},{"id":"e8ff15cd.b82188","type":"function","z":"638a1ba8.eab274","name":"","func":"const pct = flow.get(\"FillToPercent\");\nif (pct === null || pct === undefined) {\n    return null;\n}\nmsg.payload = {cmd:\"startop\",op:\"FillToPercent\",value: pct};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2020,"y":440,"wires":[["357e4b2c.f874c4"]]},{"id":"e3a34517.f577b8","type":"function","z":"638a1ba8.eab274","name":"Round","func":"\nmsg.payload.gallonsIn = Math.floor((msg.payload.litersIn * .264172)*100)/100;\nmsg.payload.gallonsOut = Math.floor((msg.payload.litersOut * .264172)*100)/100;\nmsg.payload.currentOperation.opTotalDeltaGallons = Math.floor(((msg.payload.currentOperation.opTotalDeltaFlow || 0) * .264172)*100)/100;\nmsg.payload.waterLevel = Math.floor((msg.payload.waterLevel * 100))/100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":420,"wires":[["e47d7482.6d1888","2e26c3d5.d30bfc","180386ba.ef8ed9","45626b2e.271004"]]},{"id":"b2b167cd.916118","type":"function","z":"638a1ba8.eab274","name":"Round","func":"\nmsg.payload.gallonsIn = Math.floor((msg.payload.litersIn * .264172)*100)/100;\nmsg.payload.gallonsOut = Math.floor((msg.payload.litersOut * .264172)*100)/100;\nmsg.payload.currentOperation.opTotalDeltaGallons = Math.floor(((msg.payload.currentOperation.opTotalDeltaFlow || 0) * .264172)*100)/100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":220,"wires":[["e47d7482.6d1888"]]},{"id":"8ce14781.6e6e78","type":"prop-to-topic","z":"6bb640c6.525a5","name":"","prop":"bubblesOn","x":270,"y":1640,"wires":[["722ba024.e1bcc"]]},{"id":"722ba024.e1bcc","type":"ui_switch","z":"6bb640c6.525a5","name":"","label":"Bubbles","tooltip":"","group":"4975dc2d.9c4134","order":6,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"bubblesOn","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":480,"y":1640,"wires":[["84cc42f5.c1bcd"]]},{"id":"8899cb9.4c6f838","type":"debug","z":"638a1ba8.eab274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1440,"y":240,"wires":[]},{"id":"24ed378f.0e5908","type":"debug","z":"5189c7b3.782c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":180,"wires":[]},{"id":"54d553d4.a2d68c","type":"exec","z":"38def9ff.21aea6","command":"/home/pi/makegif","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1480,"y":520,"wires":[[],[],[]]},{"id":"c13d5763.2550c8","type":"ui_button","z":"38def9ff.21aea6","name":"","group":"b9fab5a.6b0f448","order":3,"width":"2","height":"1","passthru":false,"label":"Time Lapse","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":910,"y":400,"wires":[["2b607d7.bafe882"]]},{"id":"2b607d7.bafe882","type":"function","z":"38def9ff.21aea6","name":"","func":"msg.data = {\"url\":\"/result.gif\",\"title\":\"Time Lapse\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":440,"wires":[["293f4bd8.354f14"]]},{"id":"642bcf72.03349","type":"ui_template","z":"38def9ff.21aea6","group":"60058375.2cde8c","name":"Grafana Charts","order":25,"width":"14","height":"10","format":"<div style=\"width:100%;height:100%;overflow:hidden;\">\n    <ui-icon style=\"cursor: pointer\" id=\"grafanaBack\" icon=\"skip_previous\"></ui-icon>\n    <iframe id=\"grafanaFrame\" scrolling=\"no\" style=\"margin-left:-16px;width:770px;height:100%;border:0\" src=\"/grafana/d/uIVLIHRRk/water-temp?orgId=1&kiosk&refresh=30s\" ></iframe>\n</div>\n<script>\nvar g = document.getElementById(\"grafanaFrame\");\ndocument.getElementById(\"grafanaBack\").addEventListener(\"click\", function() {\n    g.src=\"/grafana/d/uIVLIHRRk/water-temp?orgId=1&kiosk&refresh=30s\";\n});\ng.onload = function() {\n    var style = g.contentDocument.createElement('style');\n    var head = g.contentDocument.getElementsByTagName(\"head\")[0];\n    style.type = \"text/css\";\n    style.innerText = \".panel-title-container, .react-resizable-handle {pointer-events: none;} header[aria-label='Dashboard navigation'] { padding-top: 16px;} body {background-color: transparent !important;} .page-toolbar {display:none !important;} div[role=menu] {display:none !important;}\";\n    head.appendChild(style);\n};\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":820,"y":540,"wires":[[]]}]