flows.json
[{"id":"38def9ff.21aea6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9243fa99.15cf28","type":"mqtt-broker","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"30dfc866.064c48","type":"sqlitedb","db":"/home/pi/nodered-sqlite","mode":"RWC"},{"id":"7f61f4d.e984e0c","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"46917510.f81e1c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"MM/DD/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"60058375.2cde8c","type":"ui_group","name":"","tab":"7f61f4d.e984e0c","order":1,"disp":true,"width":14,"collapse":false},{"id":"de56d4f6.628058","type":"ui_tab","name":"Historical","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ab3ec0cf.5f1fc","type":"ui_group","name":"History","tab":"de56d4f6.628058","order":1,"disp":true,"width":"12","collapse":false},{"id":"8350c218.c1ab3","type":"ui_tab","name":"Configuration","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"a2345340.dcf1","type":"ui_group","name":"Power","tab":"8350c218.c1ab3","order":1,"disp":true,"width":"12","collapse":false},{"id":"ad673a3a.b697a8","type":"ui_group","name":"Bucket Water Level","tab":"8350c218.c1ab3","order":2,"disp":true,"width":"12","collapse":false},{"id":"96d9d6c0.428e28","type":"ui_group","name":"System","tab":"8350c218.c1ab3","order":3,"disp":true,"width":"6","collapse":false},{"id":"4975dc2d.9c4134","type":"ui_group","name":"Power Control","tab":"7f61f4d.e984e0c","order":3,"disp":true,"width":"6","collapse":true},{"id":"5aaaf9e8.04aaa8","type":"ui_group","name":"Mode","tab":"7f61f4d.e984e0c","order":4,"disp":true,"width":"6","collapse":true},{"id":"63d090d9.23eae","type":"ui_group","name":"pH Calibration","tab":"8350c218.c1ab3","order":4,"disp":true,"width":"6","collapse":false},{"id":"8822534f.5b11a","type":"ui_group","name":"TDS Calibration","tab":"8350c218.c1ab3","order":5,"disp":true,"width":"6","collapse":false},{"id":"eef939fc.4aaef8","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":1,"width":1,"height":1},{"id":"f7960c80.635e4","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":6,"width":1,"height":1},{"id":"f1a0abd1.ad8398","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":7,"width":1,"height":1},{"id":"586cc4bd.5c54cc","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":12,"width":1,"height":1},{"id":"ffd5b6ac.3344a8","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":13,"width":1,"height":1},{"id":"b5684625.ed6758","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":14,"width":1,"height":1},{"id":"e27f0951.a33a48","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":15,"width":4,"height":1},{"id":"fe228f52.6db49","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":18,"width":4,"height":1},{"id":"2b102a6f.7034c6","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":19,"width":4,"height":1},{"id":"bab768df.509778","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":22,"width":4,"height":1},{"id":"2b25f175.dad07e","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":23,"width":4,"height":1},{"id":"2309a966.13e666","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":24,"width":4,"height":1},{"id":"d86fa9a0.af7ba8","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":25,"width":14,"height":1},{"id":"2ce95f4.4f02ca","type":"ui_spacer","name":"spacer","group":"60058375.2cde8c","order":32,"width":14,"height":1},{"id":"f31f9e53.8a7f","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":1,"width":7,"height":1},{"id":"d5377a49.f6daf8","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":2,"width":7,"height":1},{"id":"591950ff.0a363","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":3,"width":7,"height":1},{"id":"7f70c5e7.3de1dc","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":4,"width":7,"height":1},{"id":"53071ceb.8a2e94","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":14,"width":5,"height":1},{"id":"df0017e7.10b168","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":15,"width":5,"height":1},{"id":"6a9ac3cd.d0831c","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":17,"width":5,"height":1},{"id":"699cbfb8.a2c5c","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":18,"width":5,"height":1},{"id":"5bce2eb2.34d88","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":20,"width":5,"height":1},{"id":"bd72273.ff7d5d8","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":21,"width":5,"height":1},{"id":"2b30aa6.51a9c56","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":23,"width":5,"height":1},{"id":"1bb89026.9dbff","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":24,"width":5,"height":1},{"id":"77ce56de.13b358","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":26,"width":5,"height":1},{"id":"f65d3134.6126a","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":27,"width":5,"height":1},{"id":"3d74877a.91cc38","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":29,"width":5,"height":1},{"id":"ae86e4a.2032b18","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":30,"width":5,"height":1},{"id":"4a8b378b.9fa778","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":32,"width":5,"height":1},{"id":"b771f3ee.6da22","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":33,"width":5,"height":1},{"id":"bb7e7a8d.4e01f8","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":35,"width":5,"height":1},{"id":"5c8e58a1.a72178","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":36,"width":5,"height":1},{"id":"573bdc6.0264424","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":38,"width":5,"height":1},{"id":"c961e321.6ef39","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":39,"width":5,"height":1},{"id":"208e75da.180b8a","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":41,"width":5,"height":1},{"id":"93bccaf5.129518","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":42,"width":5,"height":1},{"id":"aeb47e3b.5e7cd","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":43,"width":1,"height":1},{"id":"c8c5cdeb.d2094","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":45,"width":1,"height":1},{"id":"94470df.629b8f","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":46,"width":1,"height":1},{"id":"19fb79b1.db4d06","type":"ui_spacer","name":"spacer","group":"84084ec.d63dcb","order":47,"width":1,"height":1},{"id":"ab039191.c3ca","type":"mqtt in","z":"38def9ff.21aea6","name":"Message from Growbot","topic":"GROWBOT","qos":"2","datatype":"auto","broker":"9243fa99.15cf28","nl":false,"rap":true,"rh":0,"x":120,"y":160,"wires":[["c77e13da.5bd4","d25d4910.2defb8"]]},{"id":"c77e13da.5bd4","type":"function","z":"38def9ff.21aea6","name":"Parse binary data","func":"var offset = 0;\nif (msg.payload.length != 240) {\n    throw \"got wrong payload size of \" + msg.payload.length\n}\nvar readbool = function(skipBytes) {\n    var val = msg.payload.readUInt8(offset);\n    offset += 1;\n    if (skipBytes) {\n        offset += skipBytes;\n    }\n    return !!val;\n}\nvar readint = function() {\n    var val = msg.payload.readInt32LE(offset);\n    offset += 4;\n    return val;\n}\nvar readfloat = function() {\n    var val = msg.payload.readFloatLE(offset);\n    offset += 4;\n    return val;\n}\nmsg.payload = {\n        timestamp: Date.now(),\n        current_mode: readint(),\n        config: {\n            exhaustFanPercent: readint(),\n            intakeFanPercent: readint(),\n            pumpPercent: readint(),\n            roomFansPercent: readint(),\n            //these bool flags will be set later\n            exhaustFanOn: readbool(),\n            intakeFanOn: readbool(),\n            pumpOn: readbool(),\n            roomFansOn: readbool(),\n            overheadLightsOn: readbool(),\n            sideLightsOn: readbool(2),\n            controlWaterLevelCalibration : {\n                fullCm: readint(),\n                emptyCm: readint()\n                },\n            bucketWaterLevelCalibration: [\n                {\n                    fullCm: readint(),\n                    emptyCm: readint()\n                },\n                {\n                    fullCm: readint(),\n                    emptyCm: readint()\n                    },\n                {\n                    fullCm: readint(),\n                    emptyCm: readint()\n                },\n                {\n                    fullCm: readint(),\n                    emptyCm: readint()\n                },\n                ],\n                exhaustFanCalibration: {\n                    minOffset: readint(),\n                    maxOffset: readint(),\n                    spinUpSec: readint()\n                },\n                intakeFanCalibration: {\n                    minOffset: readint(),\n                    maxOffset: readint(),\n                    spinUpSec: readint()\n                },\n                pumpCalibration: {\n                    minOffset: readint(),\n                    maxOffset: readint(),\n                    spinUpSec: readint()\n                },\n                samplingIntervalMS: readint()\n            },\n            data: {\n                exhaustInternal: {\n                    temperatureC: readfloat(),\n                    humidity: readfloat()\n                },\n                exhaustExternal: {\n                    temperatureC: readfloat(),\n                    humidity: readfloat()\n                },\n                intakeInternal: {\n                    temperatureC: readfloat(),\n                    humidity: readfloat()\n                },\n                intakeExternal: {\n                    temperatureC: readfloat(),\n                    humidity: readfloat()\n                },\n                ambientInternal1: {\n                    temperatureC: readfloat(),\n                    humidity: readfloat()\n                },\n                ambientInternal2: {\n                    temperatureC: readfloat(),\n                    humidity: readfloat()\n                },\n                ambientInternal3: {\n                    temperatureC: readfloat(),\n                    humidity: readfloat()\n                },\n                lights: {\n                    temperatureC: readfloat(),\n                    humidity: readfloat()\n                },\n                luxAmbient1: readfloat(),\n                luxAmbient2: readfloat(),\n                luxAmbient3: readfloat(),\n                luxAmbient4: readfloat(),\n                luxAmbient5: readfloat(),\n                waterData: {\n                    ph: Math.round(readfloat() * 1000)/1000,\n                    tds: readfloat()\n                },\n                controlBucket: {\n                    temperatureC: readfloat(),\n                    waterLevelPercent: readfloat()\n                },\n                buckets: [\n                    {\n                        temperatureC: readfloat(),\n                        waterLevelPercent: readfloat()\n                    },\n                    {\n                        temperatureC: readfloat(),\n                        waterLevelPercent: readfloat()\n                    },\n                    {\n                        temperatureC: readfloat(),\n                        waterLevelPercent: readfloat()\n                    },\n                    {\n                        temperatureC: readfloat(),\n                        waterLevelPercent: readfloat()\n                    }\n                ]\n            }\n        }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":220,"wires":[["16fea1c4.41d3ee","a592bce5.1b1f9","a0aee2e8.31438","bcaab1eb.be397","d25d4910.2defb8","2a17a643.05ef5a","1c99f341.c54e5d","db2e8a08.f1d4c8","ea81580f.b1d9d8"]]},{"id":"1538449f.33dd9b","type":"sqlite","z":"38def9ff.21aea6","mydb":"30dfc866.064c48","sqlquery":"msg.topic","sql":"","name":"State History","x":790,"y":200,"wires":[["643ac2e8.960c2c"]]},{"id":"c82b9b1b.a92598","type":"inject","z":"38def9ff.21aea6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":40,"wires":[["d3a8d4d1.504b58"]]},{"id":"d3a8d4d1.504b58","type":"sqlite","z":"38def9ff.21aea6","mydb":"30dfc866.064c48","sqlquery":"fixed","sql":"create table if not exists states(timestamp integer, state_json TEXT);\ncreate index if not exists idx_states_timestamp on states (timestamp);","name":"Create table","x":290,"y":40,"wires":[[]]},{"id":"16fea1c4.41d3ee","type":"function","z":"38def9ff.21aea6","name":"Create INSERT state SQL","func":"msg.topic = `INSERT INTO states (timestamp, state_json) VALUES ('${msg.payload.timestamp}', '${JSON.stringify(msg.payload)}'); select state_json from states where timestamp > ${Date.now() - 43200000};`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":200,"wires":[["1538449f.33dd9b"]]},{"id":"87ce7795.bd79e8","type":"ui_date_picker","z":"38def9ff.21aea6","name":"Start Date","label":"Start Date","group":"ab3ec0cf.5f1fc","order":1,"width":0,"height":0,"passthru":true,"topic":"startdate","topicType":"str","x":860,"y":80,"wires":[["5ef2b7d3.42c568"]]},{"id":"259b871a.0b16c8","type":"ui_date_picker","z":"38def9ff.21aea6","name":"End Date","label":"End Date","group":"ab3ec0cf.5f1fc","order":2,"width":0,"height":0,"passthru":true,"topic":"enddate","topicType":"str","x":860,"y":140,"wires":[["5ef2b7d3.42c568"]]},{"id":"2b19126d.fd9a3e","type":"inject","z":"38def9ff.21aea6","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":870,"y":20,"wires":[["6f49a321.c92c7c"]]},{"id":"6f49a321.c92c7c","type":"function","z":"38def9ff.21aea6","d":true,"name":"Build state SQL query","func":"var startstamp = global.get(\"start_timestamp\") || (Date.now() - 86400000);\nvar endstamp = global.get(\"end_timestamp\") || Date.now();\nmsg.topic = `SELECT state_json from states where timestamp between ${startstamp} and ${endstamp} order by timestamp asc;`;\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":20,"wires":[["56752b0f.25b6c4"]]},{"id":"1130dba4.758794","type":"function","z":"38def9ff.21aea6","d":true,"name":"Query to JSON","func":"const res = [];\nfor (let p of msg.payload) {\n    res.push(JSON.parse(p.state_json));\n}\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":120,"wires":[["f2549fff.d389b"]]},{"id":"56752b0f.25b6c4","type":"sqlite","z":"38def9ff.21aea6","d":true,"mydb":"30dfc866.064c48","sqlquery":"msg.topic","sql":"","name":"query","x":1290,"y":60,"wires":[["1130dba4.758794"]]},{"id":"5ef2b7d3.42c568","type":"function","z":"38def9ff.21aea6","name":"Date Global Setters","func":"if (msg.topic == \"startdate\") {\n    global.set(\"start_timestamp\", new Date(msg.payload).getTime());\n} else if (msg.topic == \"enddate\") {\n    global.set(\"end_timestamp\", new Date(msg.payload).getTime());\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":80,"wires":[["6f49a321.c92c7c"]]},{"id":"c2f4374c.dace78","type":"ui_gauge","z":"38def9ff.21aea6","name":"Water Level","group":"60058375.2cde8c","order":11,"width":3,"height":2,"gtype":"gage","title":"","label":"percent","format":"{{msg.payload.data.controlBucket.waterLevelPercent}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":560,"wires":[]},{"id":"6a4eb66c.beee98","type":"ui_gauge","z":"38def9ff.21aea6","name":"Water Temp","group":"60058375.2cde8c","order":10,"width":3,"height":2,"gtype":"gage","title":"","label":"°C","format":"{{msg.payload.data.controlBucket.temperatureC}}","min":"18","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":520,"wires":[]},{"id":"8178f4f8.97f6a8","type":"ui_gauge","z":"38def9ff.21aea6","name":"pH","group":"60058375.2cde8c","order":8,"width":3,"height":2,"gtype":"gage","title":"","label":"pH","format":"{{msg.payload.data.waterData.ph}}","min":"1","max":"14","colors":["#d50b0b","#00ff11","#f40b0b"],"seg1":"5","seg2":"7","x":510,"y":600,"wires":[]},{"id":"6121ea23.d626c4","type":"ui_gauge","z":"38def9ff.21aea6","name":"TDS","group":"60058375.2cde8c","order":9,"width":3,"height":2,"gtype":"gage","title":"","label":"PPM","format":"{{msg.payload.data.waterData.tds}}","min":0,"max":"1500","colors":["#9b9bbb","#22c601","#cb8c72"],"seg1":"400","seg2":"800","x":510,"y":640,"wires":[]},{"id":"c94ab6e4.01eed8","type":"function","z":"38def9ff.21aea6","name":"Line Series Splitter","func":"\nvar iter = [];\nvar msgs = [];\n\n\nvar msgControlTemp = { topic: 'Control Temperature',\n    payload: msg.payload.data.controlBucket.temperatureC\n};\nvar msgControlWaterLevel = { topic: 'Control Water Level',\n    payload: msg.payload.data.controlBucket.waterLevelPercent\n};\nvar msgPh = { topic: 'pH',\n    payload: msg.payload.data.waterData.ph \n};\nvar msgTds = { topic: 'TDS', \n    payload: msg.payload.data.waterData.tds \n};\n\nmsgs.push(msgControlTemp);\nmsgs.push(msgControlWaterLevel);\nmsgs.push(msgPh);\nmsgs.push(msgTds);\n\n\nreturn msgs;","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":500,"wires":[["800184c.de06a78","80055d4c.3c88a"],["d1085a73.d57aa8","13317070.09d97"],["8b17f030.52a0d","7db0e518.6480cc"],["d36f722b.b61da","1dafdc9a.db0293"]]},{"id":"a592bce5.1b1f9","type":"function","z":"38def9ff.21aea6","name":"Update config global","func":"if (msg.payload && msg.payload.config) {\n    global.set(\"latest_config\", msg.payload.config);\n    msg.payload = global.get(\"latest_config\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":820,"wires":[["1e9a2f31.4adbf1","30a58c4a.f0ab54","9f2b71f4.12f05","235f1cda.5d8974","20954f50.63017","b7eb3974.05cd48","85537df6.267d","43633e.4ca02cc4","a7306d89.46cd","136bdd22.a5ad23","6cfeaff1.53969","7c23fe98.7cfd5","1d043f14.f989d1","73256fae.e4937","9bc747dd.df8e78","6cc7f4fb.84dbec","455f35f5.73f89c","fee73daf.00e9b","4dc7dfed.b14cc","9cb3125f.8aa02","5287ef08.940c6"]]},{"id":"54b560b5.3171c","type":"function","z":"38def9ff.21aea6","name":"Make binary config message","func":"var cfg = msg.payload;\nif (!cfg) {\n    return null;\n}\nvar buf = Buffer.alloc(104 + 1)\nvar offset = 0;\noffset = buf.writeUInt8(0x10, 0);\noffset = buf.writeInt32LE(cfg.exhaustFanPercent, offset);\noffset = buf.writeInt32LE(cfg.intakeFanPercent, offset);\noffset = buf.writeInt32LE(cfg.pumpPercent, offset);\noffset = buf.writeInt32LE(cfg.roomFansPercent, offset);\noffset = buf.writeUInt8(cfg.exhaustFanOn?1:0, offset);\noffset = buf.writeUInt8(cfg.intakeFanOn?1:0, offset);\noffset = buf.writeUInt8(cfg.pumpOn?1:0, offset);\noffset = buf.writeUInt8(cfg.roomFansOn?1:0, offset);\noffset = buf.writeUInt8(cfg.overheadLightsOn?1:0, offset);\noffset = buf.writeUInt8(cfg.sideLightsOn?1:0, offset);\noffset +=2;\noffset = buf.writeInt32LE(cfg.controlWaterLevelCalibration.fullCm, offset);\noffset = buf.writeInt32LE(cfg.controlWaterLevelCalibration.emptyCm, offset);\nfor (let i = 0; i < 4; i++) {\n    var b = cfg.bucketWaterLevelCalibration[i];\n    offset = buf.writeInt32LE(b.fullCm, offset);\n    offset = buf.writeInt32LE(b.emptyCm, offset);\n}\noffset = buf.writeInt32LE(cfg.exhaustFanCalibration.minOffset, offset);\noffset = buf.writeInt32LE(cfg.exhaustFanCalibration.maxOffset, offset);\noffset = buf.writeInt32LE(cfg.exhaustFanCalibration.spinUpSec, offset);\n\noffset = buf.writeInt32LE(cfg.intakeFanCalibration.minOffset, offset);\noffset = buf.writeInt32LE(cfg.intakeFanCalibration.maxOffset, offset);\noffset = buf.writeInt32LE(cfg.intakeFanCalibration.spinUpSec, offset);\n\noffset = buf.writeInt32LE(cfg.pumpCalibration.minOffset, offset);\noffset = buf.writeInt32LE(cfg.pumpCalibration.maxOffset, offset);\noffset = buf.writeInt32LE(cfg.pumpCalibration.spinUpSec, offset);\n\noffset = buf.writeInt32LE(cfg.samplingIntervalMS, offset);\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1220,"wires":[["b9e934c6.0c3088","4bdd593.3c9a5a8"]]},{"id":"b9e934c6.0c3088","type":"mqtt out","z":"38def9ff.21aea6","name":"Message to Growbot","topic":"GROWBOT_CONFIG","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9243fa99.15cf28","x":1340,"y":1260,"wires":[]},{"id":"fb6302e.294a5","type":"function","z":"38def9ff.21aea6","name":"Make Mode Message","func":"\nvar buf = Buffer.alloc(2)\nvar offset = 0;\noffset = buf.writeUInt8(0x2, 0);\noffset = buf.writeUInt8(msg.payload, offset);\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":1360,"wires":[["b9e934c6.0c3088","4bdd593.3c9a5a8"]]},{"id":"c1496462.0a6128","type":"ui_numeric","z":"38def9ff.21aea6","name":"","label":"Sample Interval Sec","tooltip":"","group":"96d9d6c0.428e28","order":1,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"samplingIntervalMS","topicType":"str","format":"{{value}}","min":"2","max":"300","step":1,"x":420,"y":900,"wires":[["1e277c7b.24f434"]]},{"id":"1e277c7b.24f434","type":"function","z":"38def9ff.21aea6","name":"s to ms","func":"msg.payload *= 1000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":940,"wires":[["b99023c0.34ade"]]},{"id":"62106ceb.d03aa4","type":"ui_slider","z":"38def9ff.21aea6","name":"","label":"Exhaust Fan Min Offset","tooltip":"","group":"a2345340.dcf1","order":1,"width":6,"height":1,"passthru":false,"outs":"end","topic":"exhaustFanCalibration.minOffset","topicType":"str","min":"1","max":"30","step":1,"x":430,"y":980,"wires":[["b99023c0.34ade"]]},{"id":"8eb120.cfc12ee","type":"ui_slider","z":"38def9ff.21aea6","name":"","label":"Exhaust Fan Max Offset","tooltip":"","group":"a2345340.dcf1","order":2,"width":6,"height":1,"passthru":false,"outs":"end","topic":"exhaustFanCalibration.maxOffset","topicType":"str","min":"2","max":"31","step":1,"x":430,"y":1040,"wires":[["b99023c0.34ade"]]},{"id":"fb75fab0.36ba18","type":"debounce","z":"38def9ff.21aea6","time":1000,"name":"","x":880,"y":1180,"wires":[["54b560b5.3171c"]]},{"id":"c1bfb8c9.3f08d8","type":"ui_slider","z":"38def9ff.21aea6","name":"Exhaust Fan %","label":"","tooltip":"","group":"4975dc2d.9c4134","order":4,"width":3,"height":1,"passthru":false,"outs":"end","topic":"exhaustFanPercent","topicType":"str","min":0,"max":"100","step":1,"x":400,"y":1840,"wires":[["b99023c0.34ade"]]},{"id":"643ac2e8.960c2c","type":"function","z":"38def9ff.21aea6","name":"Query to JSON","func":"const res = [];\nfor (let p of msg.payload) {\n    res.push(JSON.parse(p.state_json));\n}\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":200,"wires":[[]]},{"id":"6c3cf92c.51a328","type":"ui_text","z":"38def9ff.21aea6","group":"5aaaf9e8.04aaa8","order":1,"width":0,"height":0,"name":"","label":"Current Mode","format":"{{msg.payload}}","layout":"col-center","x":680,"y":780,"wires":[]},{"id":"a0aee2e8.31438","type":"function","z":"38def9ff.21aea6","name":"Parse Mode","func":"switch (msg.payload.current_mode) {\n    case 0:\n        msg.payload = \"Normal\";\n        break;\n    case 0x20:\n        msg.payload = \"Calibrating ph sensor\";\n        break;\n    case 0x21:\n        msg.payload = \"Calibrating tds sensor\";\n        break;\n    default:\n        msg.payload = \"UNKNOWN MODE \" + msg.payload.current_mode + \"!\";\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":600,"wires":[["6c3cf92c.51a328"]]},{"id":"e91e05dc.c43a78","type":"function","z":"38def9ff.21aea6","name":"ms to s","func":"msg.payload = Math.floor(msg.payload/1000);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":860,"wires":[["c1496462.0a6128"]]},{"id":"6c82e2fe.0bdadc","type":"ui_slider","z":"38def9ff.21aea6","name":"","label":"Intake Fan Min Offset","tooltip":"","group":"a2345340.dcf1","order":3,"width":6,"height":1,"passthru":false,"outs":"end","topic":"intakeFanCalibration.minOffset","topicType":"str","min":"1","max":"30","step":1,"x":420,"y":1180,"wires":[["b99023c0.34ade"]]},{"id":"ecfc779b.312538","type":"ui_slider","z":"38def9ff.21aea6","name":"","label":"Intake Fan Max Offset","tooltip":"","group":"a2345340.dcf1","order":4,"width":6,"height":1,"passthru":false,"outs":"end","topic":"intakeFanCalibration.maxOffset","topicType":"str","min":"2","max":"31","step":1,"x":420,"y":1240,"wires":[["b99023c0.34ade"]]},{"id":"13687d27.19e803","type":"ui_slider","z":"38def9ff.21aea6","name":"Intake Fan %","label":"","tooltip":"","group":"4975dc2d.9c4134","order":6,"width":3,"height":1,"passthru":false,"outs":"end","topic":"intakeFanPercent","topicType":"str","min":0,"max":"100","step":1,"x":390,"y":1960,"wires":[["b99023c0.34ade"]]},{"id":"a0019ebf.8bd5f","type":"ui_slider","z":"38def9ff.21aea6","d":true,"name":"","label":"Pump Min Offset","tooltip":"","group":"a2345340.dcf1","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"pumpCalibration.minOffset","topicType":"str","min":"1","max":"30","step":1,"x":400,"y":1420,"wires":[["b99023c0.34ade"]]},{"id":"2579cb2c.fb6884","type":"ui_slider","z":"38def9ff.21aea6","d":true,"name":"","label":"Pump Max Offset","tooltip":"","group":"a2345340.dcf1","order":6,"width":0,"height":0,"passthru":false,"outs":"end","topic":"pumpCalibration.maxOffset","topicType":"str","min":"2","max":"31","step":1,"x":410,"y":1480,"wires":[["b99023c0.34ade"]]},{"id":"1dce7d32.4f05a3","type":"ui_slider","z":"38def9ff.21aea6","d":true,"name":"Pump %","label":"","tooltip":"","group":"4975dc2d.9c4134","order":2,"width":3,"height":1,"passthru":false,"outs":"end","topic":"pumpPercent","topicType":"str","min":0,"max":"100","step":1,"x":380,"y":2080,"wires":[["b99023c0.34ade"]]},{"id":"e42e9e75.51571","type":"ui_numeric","z":"38def9ff.21aea6","d":true,"name":"","label":"Pump Spin Up Sec","tooltip":"","group":"a2345340.dcf1","order":7,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"pumpCalibration.spinUpSec","topicType":"str","format":"{{value}}","min":0,"max":10,"step":1,"x":410,"y":1540,"wires":[["b99023c0.34ade"]]},{"id":"f456d781.81fc58","type":"ui_numeric","z":"38def9ff.21aea6","name":"","label":"Exhaust Fan Spin Up Sec","tooltip":"","group":"a2345340.dcf1","order":8,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"exhaustFanCalibration.spinUpSec","topicType":"str","format":"{{value}}","min":0,"max":10,"step":1,"x":430,"y":1120,"wires":[["b99023c0.34ade"]]},{"id":"36ded48.4c2902c","type":"ui_numeric","z":"38def9ff.21aea6","name":"","label":"Intake Fan Spin Up Sec","tooltip":"","group":"a2345340.dcf1","order":9,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"intakeFanCalibration.spinUpSec","topicType":"str","format":"{{value}}","min":0,"max":10,"step":1,"x":430,"y":1360,"wires":[["b99023c0.34ade"]]},{"id":"bb429536.281608","type":"topic-to-prop","z":"38def9ff.21aea6","name":"","topic":"","x":810,"y":1100,"wires":[["36a68c0c.f56414"]]},{"id":"b99023c0.34ade","type":"function","z":"38def9ff.21aea6","name":"Inject Latest Config","func":"if (!msg.origVal) {\n    msg.origVal = global.get(\"latest_config\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1060,"wires":[["bb429536.281608"]]},{"id":"1e9a2f31.4adbf1","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"samplingIntervalMS","x":150,"y":880,"wires":[["e91e05dc.c43a78"]]},{"id":"30a58c4a.f0ab54","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"exhaustFanCalibration.minOffset","x":150,"y":980,"wires":[["62106ceb.d03aa4"]]},{"id":"9f2b71f4.12f05","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"exhaustFanCalibration.maxOffset","x":150,"y":1040,"wires":[["8eb120.cfc12ee"]]},{"id":"235f1cda.5d8974","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"exhaustFanPercent","x":150,"y":1840,"wires":[["c1bfb8c9.3f08d8"]]},{"id":"20954f50.63017","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"intakeFanCalibration.minOffset","x":150,"y":1180,"wires":[["6c82e2fe.0bdadc"]]},{"id":"b7eb3974.05cd48","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"intakeFanCalibration.maxOffset","x":150,"y":1240,"wires":[["ecfc779b.312538"]]},{"id":"85537df6.267d","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"intakeFanPercent","x":150,"y":1960,"wires":[["13687d27.19e803"]]},{"id":"43633e.4ca02cc4","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"pumpCalibration.minOffset","x":150,"y":1420,"wires":[["a0019ebf.8bd5f"]]},{"id":"a7306d89.46cd","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"pumpCalibration.maxOffset","x":150,"y":1480,"wires":[["2579cb2c.fb6884"]]},{"id":"136bdd22.a5ad23","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"pumpPercent","x":150,"y":2080,"wires":[["1dce7d32.4f05a3"]]},{"id":"6cfeaff1.53969","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"pumpCalibration.spinUpSec","x":150,"y":1540,"wires":[["e42e9e75.51571"]]},{"id":"7c23fe98.7cfd5","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"exhaustFanCalibration.spinUpSec","x":150,"y":1120,"wires":[["f456d781.81fc58"]]},{"id":"1d043f14.f989d1","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"intakeFanCalibration.spinUpSec","x":150,"y":1360,"wires":[["36ded48.4c2902c"]]},{"id":"36a68c0c.f56414","type":"function","z":"38def9ff.21aea6","name":"update global config","func":"if (msg.payload) {\n    global.set(\"latest_config\", msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1140,"wires":[["fb75fab0.36ba18"]]},{"id":"73256fae.e4937","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"controlWaterLevelCalibration.fullCm","x":150,"y":1600,"wires":[["9f6074b9.e73388"]]},{"id":"9f6074b9.e73388","type":"ui_slider","z":"38def9ff.21aea6","name":"","label":"Control Full Water Level CM","tooltip":"","group":"ad673a3a.b697a8","order":1,"width":6,"height":1,"passthru":false,"outs":"end","topic":"controlWaterLevelCalibration.fullCm","topicType":"str","min":"1","max":"40","step":1,"x":440,"y":1600,"wires":[["b99023c0.34ade"]]},{"id":"b0a8f1bb.c0c83","type":"ui_slider","z":"38def9ff.21aea6","name":"","label":"Control Empty Water Level CM","tooltip":"","group":"ad673a3a.b697a8","order":2,"width":6,"height":1,"passthru":false,"outs":"end","topic":"controlWaterLevelCalibration.emptyCm","topicType":"str","min":"1","max":"40","step":1,"x":430,"y":1660,"wires":[["b99023c0.34ade"]]},{"id":"9bc747dd.df8e78","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"controlWaterLevelCalibration.emptyCm","x":150,"y":1660,"wires":[["b0a8f1bb.c0c83"]]},{"id":"aab80760.8723e8","type":"ui_chart","z":"38def9ff.21aea6","d":true,"name":"","group":"ab3ec0cf.5f1fc","order":3,"width":"12","height":"7","label":"Water","chartType":"line","legend":"true","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1510,"y":260,"wires":[[]]},{"id":"f2549fff.d389b","type":"function","z":"38def9ff.21aea6","d":true,"name":"History Series Formatter","func":"\nvar series = [\"Control Water °C\", \"Control Water Level\", \"pH\", \"TDS\",\n                \"Exhaust (Inside) Temp\", \"Exhaust (Inside) Humidity\",\n                \"Intake (Inside) Temp\", \"Intake (Inside) Humidity\",\n                \"Ambient Temp 1\", \"Ambient Humidity 1\",\n                \"Ambient Temp 2\", \"Ambient Humidity 2\"];\nvar points = [[], [], [], [],[], [], [], [],[], [], [], [],[], [], [], []]\nfor (let point of msg.payload) {\n    points[0].push({x: point.timestamp, y: point.data.controlBucket.temperatureC});\n    points[1].push({x: point.timestamp, y: point.data.controlBucket.waterLevelPercent});\n    points[2].push({x: point.timestamp, y: point.data.waterData.ph});\n    points[3].push({x: point.timestamp, y: point.data.waterData.tds});\n    points[4].push({x: point.timestamp, y: point.data.exhaustInternal.temperatureC});\n    points[5].push({x: point.timestamp, y: point.data.exhaustInternal.humidity});\n    points[6].push({x: point.timestamp, y: point.data.intakeInternal.temperatureC});\n    points[7].push({x: point.timestamp, y: point.data.intakeInternal.humidity});\n    points[8].push({x: point.timestamp, y: point.data.ambientInternal1.temperatureC});\n    points[9].push({x: point.timestamp, y: point.data.ambientInternal1.humidity});\n    points[10].push({x: point.timestamp, y: point.data.ambientInternal2.temperatureC});\n    points[11].push({x: point.timestamp, y: point.data.ambientInternal2.humidity});\n    \n}\n\nmsg.payload = [{series: series, data: points}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":180,"wires":[["aab80760.8723e8"]]},{"id":"f2bef0d4.944d9","type":"ui_gauge","z":"38def9ff.21aea6","d":true,"name":"","group":"","order":9,"width":2,"height":2,"gtype":"gage","title":"Exhaust (Inside) Temp","label":"°C","format":"{{msg.payload.data.exhaustInternal.temperatureC}}","min":"10","max":"35","colors":["#000cb3","#04e600","#ca3838"],"seg1":"20","seg2":"28","x":840,"y":280,"wires":[]},{"id":"8dd08325.caaec","type":"ui_gauge","z":"38def9ff.21aea6","d":true,"name":"","group":"","order":5,"width":2,"height":2,"gtype":"gage","title":"Intake (Inside) Temp","label":"°C","format":"{{msg.payload.data.intakeInternal.temperatureC}}","min":"10","max":"40","colors":["#0300b3","#1be600","#ca3838"],"seg1":"15","seg2":"25","x":840,"y":320,"wires":[]},{"id":"fff0793f.c52348","type":"ui_gauge","z":"38def9ff.21aea6","d":true,"name":"","group":"","order":28,"width":2,"height":2,"gtype":"gage","title":"Exhaust Outlet Temp","label":"°C","format":"{{msg.payload.data.exhaustExternal.temperatureC}}","min":"10","max":"35","colors":["#1500b3","#00e60f","#ca3838"],"seg1":"20","seg2":"30","x":840,"y":360,"wires":[]},{"id":"f971b716.a97688","type":"ui_gauge","z":"38def9ff.21aea6","name":"","group":"60058375.2cde8c","order":21,"width":3,"height":2,"gtype":"gage","title":"","label":"°C","format":"{{msg.payload.data.ambientInternal1.temperatureC}}","min":"10","max":"35","colors":["#002aff","#00e62e","#ca3838"],"seg1":"20","seg2":"26","x":790,"y":480,"wires":[]},{"id":"36a3f186.3cec7e","type":"ui_gauge","z":"38def9ff.21aea6","d":true,"name":"","group":"","order":19,"width":2,"height":2,"gtype":"gage","title":"Overhead Lights Temp","label":"°C","format":"{{msg.payload.data.lights.temperatureC}}","min":"20","max":"50","colors":["#00b500","#00e60f","#ca3838"],"seg1":"","seg2":"35","x":840,"y":440,"wires":[]},{"id":"6f2c33c5.fa690c","type":"ui_gauge","z":"38def9ff.21aea6","d":true,"name":"","group":"","order":25,"width":2,"height":2,"gtype":"gage","title":"Inside Ambient 2 Temp","label":"°C","format":"{{msg.payload.data.ambientInternal2.temperatureC}}","min":"10","max":"35","colors":["#002aff","#00e62e","#ca3838"],"seg1":"20","seg2":"26","x":840,"y":520,"wires":[]},{"id":"69475fab.5bfbf","type":"ui_gauge","z":"38def9ff.21aea6","d":true,"name":"","group":"","order":31,"width":2,"height":2,"gtype":"gage","title":"Inside Ambient 3 Temp","label":"°C","format":"{{msg.payload.data.ambientInternal3.temperatureC}}","min":"10","max":"35","colors":["#002aff","#00e62e","#ca3838"],"seg1":"20","seg2":"26","x":840,"y":560,"wires":[]},{"id":"6baa4dc6.24c154","type":"ui_gauge","z":"38def9ff.21aea6","d":true,"name":"","group":"","order":13,"width":2,"height":2,"gtype":"gage","title":"Intake Inlet Temp","label":"°C","format":"{{msg.payload.data.intakeExternal.temperatureC}}","min":"15","max":"30","colors":["#0300b3","#00e60f","#ca3838"],"seg1":"15","seg2":"22","x":830,"y":400,"wires":[]},{"id":"dfad3c4c.23975","type":"ui_gauge","z":"38def9ff.21aea6","d":true,"name":"","group":"","order":11,"width":2,"height":2,"gtype":"gage","title":"Exhaust (Inside) Humidity","label":"%","format":"{{msg.payload.data.exhaustInternal.humidity}}","min":"0","max":"100","colors":["#9192a6","#04e600","#ca3838"],"seg1":"40","seg2":"60","x":1130,"y":280,"wires":[]},{"id":"52791c71.d16a04","type":"ui_gauge","z":"38def9ff.21aea6","d":true,"name":"","group":"","order":7,"width":2,"height":2,"gtype":"gage","title":"Intake (Inside) Humidity","label":"%","format":"{{msg.payload.data.intakeInternal.humidity}}","min":"0","max":"100","colors":["#9796b0","#1be600","#ca3838"],"seg1":"40","seg2":"60","x":1130,"y":320,"wires":[]},{"id":"b4cf2672.81b238","type":"ui_gauge","z":"38def9ff.21aea6","d":true,"name":"","group":"","order":40,"width":2,"height":2,"gtype":"gage","title":"Exhaust Outlet Humidity","label":"%","format":"{{msg.payload.data.exhaustExternal.humidity}}","min":"0","max":"100","colors":["#86849a","#00e60f","#ca3838"],"seg1":"40","seg2":"60","x":1130,"y":360,"wires":[]},{"id":"b3d41dc.0ad40e","type":"ui_gauge","z":"38def9ff.21aea6","name":"","group":"60058375.2cde8c","order":20,"width":3,"height":2,"gtype":"gage","title":"","label":"%","format":"{{msg.payload.data.ambientInternal1.humidity}}","min":"0","max":"100","colors":["#9f9fa3","#00e62e","#ca3838"],"seg1":"40","seg2":"060","x":1070,"y":480,"wires":[]},{"id":"da900cca.e9d92","type":"ui_gauge","z":"38def9ff.21aea6","d":true,"name":"","group":"","order":22,"width":2,"height":2,"gtype":"gage","title":"Overhead Lights Humidity","label":"%","format":"{{msg.payload.data.lights.humidity}}","min":"0","max":"100","colors":["#82838c","#00e60f","#ca3838"],"seg1":"40","seg2":"60","x":1130,"y":440,"wires":[]},{"id":"c272a427.fc90f8","type":"ui_gauge","z":"38def9ff.21aea6","d":true,"name":"","group":"","order":34,"width":2,"height":2,"gtype":"gage","title":"Inside Ambient 2 Humidity","label":"%","format":"{{msg.payload.data.ambientInternal2.humidity}}","min":"0","max":"100","colors":["#747786","#00e62e","#ca3838"],"seg1":"40","seg2":"60","x":1130,"y":520,"wires":[]},{"id":"3d472e4c.0dce92","type":"ui_gauge","z":"38def9ff.21aea6","d":true,"name":"","group":"","order":37,"width":2,"height":2,"gtype":"gage","title":"Inside Ambient 3 Humidity","label":"%","format":"{{msg.payload.data.ambientInternal3.humidity}}","min":"0","max":"100","colors":["#a2a5b3","#00e62e","#ca3838"],"seg1":"40","seg2":"60","x":1130,"y":560,"wires":[]},{"id":"54186557.0708ec","type":"ui_gauge","z":"38def9ff.21aea6","d":true,"name":"","group":"","order":16,"width":2,"height":2,"gtype":"gage","title":"Intake Inlet Humidity","label":"%","format":"{{msg.payload.data.intakeExternal.humidity}}","min":"0","max":"100","colors":["#7e7e91","#00e60f","#ca3838"],"seg1":"40","seg2":"60","x":1120,"y":400,"wires":[]},{"id":"6caf370f.579cf8","type":"function","z":"38def9ff.21aea6","d":true,"name":"Line Series Splitter","func":"\nvar msgs = [];\n\n\nmsgs.push( { topic: 'Exhaust (Inside) Temp',\n    payload: msg.payload.data.exhaustInternal.temperatureC\n});\nmsgs.push( { topic: 'Intake (Inside) Temp',\n    payload: msg.payload.data.intakeInternal.temperatureC\n});\nmsgs.push( { topic: 'Exhaust Outlet Temp',\n    payload: msg.payload.data.exhaustExternal.temperatureC\n});\nmsgs.push( { topic: 'Intake Inlet Temp',\n    payload: msg.payload.data.intakeExternal.temperatureC\n});\n//msgs.push( { topic: 'Overhead Lights Temp',\n//    payload: msg.payload.data.lights.temperatureC\n//});\nmsgs.push({ topic: 'Inside Ambient 1 Temp',\n    payload: msg.payload.data.ambientInternal1.temperatureC\n});\nmsgs.push( { topic: 'Inside Ambient 2 Temp',\n    payload: msg.payload.data.ambientInternal2.temperatureC\n});\n//msgs.push( { topic: 'Inside Ambient 3 Temp',\n//    payload: msg.payload.data.ambientInternal3.temperatureC\n//});\nmsgs.push( { topic: 'Exhaust (Inside) Humidity',\n    payload: msg.payload.data.exhaustInternal.humidity\n});\nmsgs.push( { topic: 'Intake (Inside) Humidity',\n    payload: msg.payload.data.intakeInternal.humidity\n});\nmsgs.push( { topic: 'Exhaust Outlet Humidity',\n    payload: msg.payload.data.exhaustExternal.humidity\n});\nmsgs.push( { topic: 'Intake Inlet Humidity',\n    payload: msg.payload.data.intakeExternal.humidity\n});\n//msgs.push( { topic: 'Overhead Lights Humidity',\n//    payload: msg.payload.data.lights.humidity\n//});\nmsgs.push( { topic: 'Inside Ambient 1 Humidity',\n    payload: msg.payload.data.ambientInternal1.humidity\n});\nmsgs.push( { topic: 'Inside Ambient 2 Humidity',\n    payload: msg.payload.data.ambientInternal2.humidity\n});\n//msgs.push( { topic: 'Inside Ambient 3 Humidity',\n//    payload: msg.payload.data.ambientInternal3.humidity\n//});\n\nreturn msgs;","outputs":16,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":700,"wires":[["8da14f47.dfba3"],["8da14f47.dfba3"],["8da14f47.dfba3"],["8da14f47.dfba3"],["8da14f47.dfba3"],["8da14f47.dfba3"],["8da14f47.dfba3"],["8da14f47.dfba3"],["8da14f47.dfba3"],["8da14f47.dfba3"],["8da14f47.dfba3"],["8da14f47.dfba3"],["8da14f47.dfba3"],["8da14f47.dfba3"],["8da14f47.dfba3"],[]]},{"id":"8da14f47.dfba3","type":"ui_chart","z":"38def9ff.21aea6","d":true,"name":"","group":"","order":44,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1340,"y":700,"wires":[[]]},{"id":"4587158c.a762bc","type":"ui_switch","z":"38def9ff.21aea6","name":"","label":"Exhaust Fan","tooltip":"","group":"4975dc2d.9c4134","order":3,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"exhaustFanOn","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":390,"y":1780,"wires":[["b99023c0.34ade"]]},{"id":"4983696b.6ff698","type":"ui_switch","z":"38def9ff.21aea6","name":"","label":"Intake Fan","tooltip":"","group":"4975dc2d.9c4134","order":5,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"intakeFanOn","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":390,"y":1900,"wires":[["b99023c0.34ade"]]},{"id":"3404a270.cdac5e","type":"ui_switch","z":"38def9ff.21aea6","d":true,"name":"","label":"Pump","tooltip":"","group":"4975dc2d.9c4134","order":1,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"pumpOn","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":370,"y":2020,"wires":[["b99023c0.34ade"]]},{"id":"f9627109.d1a74","type":"ui_switch","z":"38def9ff.21aea6","d":true,"name":"","label":"Room Fans Power","tooltip":"","group":"60058375.2cde8c","order":33,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"roomFansOn","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":390,"y":2180,"wires":[["b99023c0.34ade"]]},{"id":"fcd8ecd.c55581","type":"ui_switch","z":"38def9ff.21aea6","d":true,"name":"","label":"Overhead Lights Power","tooltip":"","group":"60058375.2cde8c","order":34,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"overheadLightsOn","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":410,"y":2240,"wires":[["b99023c0.34ade"]]},{"id":"ed6b28e4.d9faf8","type":"ui_switch","z":"38def9ff.21aea6","d":true,"name":"","label":"Side Lights On","tooltip":"","group":"60058375.2cde8c","order":35,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"sideLightsOn","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":380,"y":2300,"wires":[["b99023c0.34ade"]]},{"id":"6cc7f4fb.84dbec","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"exhaustFanOn","x":150,"y":1780,"wires":[["4587158c.a762bc"]]},{"id":"455f35f5.73f89c","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"intakeFanOn","x":150,"y":1900,"wires":[["4983696b.6ff698"]]},{"id":"fee73daf.00e9b","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"pumpOn","x":150,"y":2020,"wires":[["3404a270.cdac5e"]]},{"id":"4dc7dfed.b14cc","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"roomFansOn","x":150,"y":2180,"wires":[["f9627109.d1a74"]]},{"id":"9cb3125f.8aa02","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"overheadLightsOn","x":150,"y":2240,"wires":[["fcd8ecd.c55581"]]},{"id":"5287ef08.940c6","type":"prop-to-topic","z":"38def9ff.21aea6","name":"","prop":"sideLightsOn","x":150,"y":2300,"wires":[["ed6b28e4.d9faf8"]]},{"id":"bcaab1eb.be397","type":"function","z":"38def9ff.21aea6","name":"Round","func":"var newmsg = RED.util.cloneMessage(msg.payload);\nvar d = newmsg.data;\nd.exhaustInternal.temperatureC = Math.round(d.exhaustInternal.temperatureC * 100)/100;\nd.exhaustInternal.humidity = Math.round(d.exhaustInternal.humidity);\n\nd.exhaustExternal.temperatureC = Math.round(d.exhaustExternal.temperatureC * 100)/100;\nd.exhaustExternal.humidity = Math.round(d.exhaustExternal.humidity);\n\nd.intakeInternal.temperatureC = Math.round(d.intakeInternal.temperatureC * 100)/100;\nd.intakeInternal.humidity = Math.round(d.intakeInternal.humidity);\n\nd.intakeExternal.temperatureC = Math.round(d.intakeExternal.temperatureC * 100)/100;\nd.intakeExternal.humidity = Math.round(d.intakeExternal.humidity);\n\n\nd.ambientInternal1.temperatureC = Math.round(d.ambientInternal1.temperatureC * 100)/100;\nd.ambientInternal1.humidity = Math.round(d.ambientInternal1.humidity);\n\nd.ambientInternal2.temperatureC = Math.round(d.ambientInternal2.temperatureC * 100)/100;\nd.ambientInternal2.humidity = Math.round(d.ambientInternal2.humidity);\n\nd.ambientInternal3.temperatureC = Math.round(d.ambientInternal3.temperatureC * 100)/100;\nd.ambientInternal3.humidity = Math.round(d.ambientInternal3.humidity);\n\nd.lights.temperatureC = Math.round(d.lights.temperatureC * 100)/100;\nd.lights.humidity = Math.round(d.lights.humidity);\n\nd.controlBucket.temperatureC = Math.round(d.controlBucket.temperatureC * 100)/100;\nd.controlBucket.waterLevelPercent = Math.round(d.controlBucket.waterLevelPercent);\n\nd.waterData.ph = Math.round(d.waterData.ph * 100)/100;\nd.waterData.tds = Math.round(d.waterData.tds);\nmsg.payload = newmsg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":280,"wires":[["c2f4374c.dace78","6a4eb66c.beee98","8178f4f8.97f6a8","6121ea23.d626c4","dfad3c4c.23975","52791c71.d16a04","b4cf2672.81b238","54186557.0708ec","da900cca.e9d92","b3d41dc.0ad40e","3d472e4c.0dce92","69475fab.5bfbf","6f2c33c5.fa690c","f971b716.a97688","c272a427.fc90f8","36a3f186.3cec7e","6baa4dc6.24c154","fff0793f.c52348","8dd08325.caaec","f2bef0d4.944d9","c94ab6e4.01eed8","1f6295ea.c5f90a","8a9ef6f4.f1e768","796c611a.444fa","6caf370f.579cf8","c28f12c2.accbf","85496d15.61f54"]]},{"id":"d25d4910.2defb8","type":"debug","z":"38def9ff.21aea6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":100,"wires":[]},{"id":"1f6295ea.c5f90a","type":"function","z":"38def9ff.21aea6","name":"Exhaust (Inside) Series","func":"\nvar msgs = [];\nmsgs.push( { topic: 'Exhaust (Inside) Temp',\n    payload: msg.payload.data.exhaustInternal.temperatureC\n});\nmsgs.push( { topic: 'Exhaust (Inside) Humidity',\n    payload: msg.payload.data.exhaustInternal.humidity\n});\nreturn msgs;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":860,"wires":[["6945f703.84e4e8"],["f692f8fa.539c78"]]},{"id":"6945f703.84e4e8","type":"ui_chart","z":"38def9ff.21aea6","d":true,"name":"Exhaust (Inside) Temp","group":"","order":10,"width":5,"height":2,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1160,"y":880,"wires":[[]]},{"id":"8a9ef6f4.f1e768","type":"function","z":"38def9ff.21aea6","name":"Intake (Insite) Series","func":"\nvar msgs = [];\n\nmsgs.push( { topic: 'Intake (Inside) Temp',\n    payload: msg.payload.data.intakeInternal.temperatureC\n});\nmsgs.push( { topic: 'Intake (Inside) Humidity',\n    payload: msg.payload.data.intakeInternal.humidity\n});\n\nreturn msgs;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":940,"wires":[["bdde9a4a.2bee98"],["2ade3741.940758"]]},{"id":"bdde9a4a.2bee98","type":"ui_chart","z":"38def9ff.21aea6","d":true,"name":"Intake (Inside) Temp","group":"","order":6,"width":5,"height":2,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1160,"y":980,"wires":[[]]},{"id":"796c611a.444fa","type":"function","z":"38def9ff.21aea6","name":"Ambient 1 Series","func":"\nvar msgs = [];\n\n\nmsgs.push({ topic: 'Inside Ambient 1 Temp',\n    payload: msg.payload.data.ambientInternal1.temperatureC\n});\nmsgs.push( { topic: 'Inside Ambient 1 Humidity',\n    payload: msg.payload.data.ambientInternal1.humidity\n});\n\nreturn msgs;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":1000,"wires":[["fb5353b7.f8449"],["1870a789.5f9b88"]]},{"id":"fb5353b7.f8449","type":"ui_chart","z":"38def9ff.21aea6","name":"Ambient 1 Temp","group":"60058375.2cde8c","order":30,"width":7,"height":3,"label":"Air Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"2000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1140,"y":1080,"wires":[[]]},{"id":"de0cb95.7b63f48","type":"ui_button","z":"38def9ff.21aea6","name":"","group":"63d090d9.23eae","order":2,"width":0,"height":0,"passthru":false,"label":"Start pH Calibration","tooltip":"","color":"","bgcolor":"","icon":"","payload":"32","payloadType":"num","topic":"topic","topicType":"msg","x":1150,"y":1600,"wires":[["fb6302e.294a5"]]},{"id":"2a17a643.05ef5a","type":"function","z":"38def9ff.21aea6","name":"pH Calibration Button States","func":"let startCalibBtn = false;\nlet calibMidBtn = false;\nlet calibLowBtn = false;\nlet calibHighBtn = false;\nlet stopCalibBtn = false;\n\nswitch (msg.payload.current_mode) {\n    case 0x0:\n        //normal mode, not calibrating anything\n        startCalibBtn = true;\n        break;\n    case 0x20:\n        calibMidBtn = true;\n        stopCalibBtn = true;\n        break;\n    case 0x21:\n        calibLowBtn = true;\n        stopCalibBtn = true;\n        break;\n    case 0x22:\n        calibHighBtn = true;\n        stopCalibBtn = true;\n        break;\n}\nreturn [ {enabled: startCalibBtn},\n         {enabled: calibMidBtn},\n         {enabled: calibLowBtn},\n         {enabled: calibHighBtn},\n         {enabled: stopCalibBtn}\n         ];\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1740,"wires":[["de0cb95.7b63f48"],["540eabcf.43ed54"],["aa556b6d.2d7ec8"],["34eb2f96.2c353"],["483024b4.40893c"]]},{"id":"ea81580f.b1d9d8","type":"ui_text","z":"38def9ff.21aea6","group":"63d090d9.23eae","order":1,"width":0,"height":0,"name":"","label":"pH Reading","format":"{{msg.payload.data.waterData.ph}}","layout":"row-spread","x":1130,"y":1560,"wires":[]},{"id":"483024b4.40893c","type":"ui_button","z":"38def9ff.21aea6","name":"","group":"63d090d9.23eae","order":6,"width":0,"height":0,"passthru":false,"label":"Cancel pH Calibration","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":1160,"y":1840,"wires":[["fb6302e.294a5"]]},{"id":"540eabcf.43ed54","type":"ui_button","z":"38def9ff.21aea6","name":"","group":"63d090d9.23eae","order":3,"width":0,"height":0,"passthru":false,"label":"Set pH MID Calibration Point","tooltip":"","color":"","bgcolor":"","icon":"","payload":"33","payloadType":"num","topic":"topic","topicType":"msg","x":1180,"y":1660,"wires":[["fb6302e.294a5"]]},{"id":"aa556b6d.2d7ec8","type":"ui_button","z":"38def9ff.21aea6","name":"","group":"63d090d9.23eae","order":4,"width":0,"height":0,"passthru":false,"label":"Set pH LOW Calibration Point","tooltip":"","color":"","bgcolor":"","icon":"","payload":"34","payloadType":"num","topic":"topic","topicType":"msg","x":1190,"y":1720,"wires":[["fb6302e.294a5"]]},{"id":"34eb2f96.2c353","type":"ui_button","z":"38def9ff.21aea6","name":"","group":"63d090d9.23eae","order":5,"width":0,"height":0,"passthru":false,"label":"Set ph HIGH Calibration Point","tooltip":"","color":"","bgcolor":"","icon":"","payload":"35","payloadType":"num","topic":"topic","topicType":"msg","x":1190,"y":1780,"wires":[["fb6302e.294a5"]]},{"id":"7618a18.355e46","type":"ui_button","z":"38def9ff.21aea6","name":"","group":"8822534f.5b11a","order":2,"width":0,"height":0,"passthru":false,"label":"Start EC Calibration","tooltip":"","color":"","bgcolor":"","icon":"","payload":"48","payloadType":"num","topic":"topic","topicType":"msg","x":1140,"y":1980,"wires":[["fb6302e.294a5","c616cef8.16be6"]]},{"id":"1c99f341.c54e5d","type":"function","z":"38def9ff.21aea6","name":"EC Calibration Button States","func":"let startCalibBtn = false;\nlet calibDryBtn = false;\nlet calibLowBtn = false;\nlet calibHighBtn = false;\nlet stopCalibBtn = false;\n\nswitch (msg.payload.current_mode) {\n    case 0x0:\n        //normal mode, not calibrating anything\n        startCalibBtn = true;\n        break;\n    case 0x30:\n        calibDryBtn = true;\n        stopCalibBtn = true;\n        break;\n    case 0x31:\n        calibLowBtn = true;\n        stopCalibBtn = true;\n        break;\n    case 0x32:\n        calibHighBtn = true;\n        stopCalibBtn = true;\n        break;\n}\nreturn [ {enabled: startCalibBtn},\n         {enabled: calibDryBtn},\n         {enabled: calibLowBtn},\n         {enabled: calibHighBtn},\n         {enabled: stopCalibBtn}\n         ];\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":2040,"wires":[["7618a18.355e46"],["a820b768.7f5f48"],["3fc54d2f.5e82e2"],["e6a592e2.99a12"],["aa8a37.a552a5c8"]]},{"id":"aa8a37.a552a5c8","type":"ui_button","z":"38def9ff.21aea6","name":"","group":"8822534f.5b11a","order":6,"width":0,"height":0,"passthru":false,"label":"Cancel EC Calibration","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":1140,"y":2220,"wires":[["fb6302e.294a5"]]},{"id":"a820b768.7f5f48","type":"ui_button","z":"38def9ff.21aea6","name":"","group":"8822534f.5b11a","order":3,"width":0,"height":0,"passthru":false,"label":"Set DRY EC Calibration Point","tooltip":"","color":"","bgcolor":"","icon":"","payload":"49","payloadType":"num","topic":"topic","topicType":"msg","x":1170,"y":2040,"wires":[["fb6302e.294a5"]]},{"id":"3fc54d2f.5e82e2","type":"ui_button","z":"38def9ff.21aea6","name":"","group":"8822534f.5b11a","order":4,"width":0,"height":0,"passthru":false,"label":"Set LOW EC Calibration Point","tooltip":"","color":"","bgcolor":"","icon":"","payload":"50","payloadType":"num","topic":"topic","topicType":"msg","x":1170,"y":2100,"wires":[["fb6302e.294a5"]]},{"id":"e6a592e2.99a12","type":"ui_button","z":"38def9ff.21aea6","name":"","group":"8822534f.5b11a","order":5,"width":0,"height":0,"passthru":false,"label":"Set HIGH EC Calibration Point","tooltip":"","color":"","bgcolor":"","icon":"","payload":"51","payloadType":"num","topic":"topic","topicType":"msg","x":1170,"y":2160,"wires":[["fb6302e.294a5"]]},{"id":"db2e8a08.f1d4c8","type":"ui_text","z":"38def9ff.21aea6","group":"8822534f.5b11a","order":1,"width":0,"height":0,"name":"","label":"TDS Reading","format":"{{msg.payload.data.waterData.tds}}","layout":"row-spread","x":1140,"y":1920,"wires":[]},{"id":"c616cef8.16be6","type":"debug","z":"38def9ff.21aea6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":1900,"wires":[]},{"id":"d36f722b.b61da","type":"ui_chart","z":"38def9ff.21aea6","name":"TDS","group":"60058375.2cde8c","order":27,"width":7,"height":3,"label":"TDS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"2000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff2a","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":640,"wires":[[]]},{"id":"8b17f030.52a0d","type":"ui_chart","z":"38def9ff.21aea6","name":"pH","group":"60058375.2cde8c","order":26,"width":7,"height":3,"label":"pH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"2000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#c60c0c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":600,"wires":[[]]},{"id":"d1085a73.d57aa8","type":"ui_chart","z":"38def9ff.21aea6","name":"Control Level","group":"60058375.2cde8c","order":28,"width":7,"height":3,"label":"Water Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"2000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":560,"wires":[[]]},{"id":"800184c.de06a78","type":"ui_chart","z":"38def9ff.21aea6","name":"Control Temp","group":"60058375.2cde8c","order":29,"width":7,"height":3,"label":"Water Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"2000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":520,"wires":[[]]},{"id":"f692f8fa.539c78","type":"ui_chart","z":"38def9ff.21aea6","d":true,"name":"Exhaust (Inside) Humidity","group":"","order":12,"width":5,"height":2,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"90","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1170,"y":920,"wires":[[]]},{"id":"2ade3741.940758","type":"ui_chart","z":"38def9ff.21aea6","d":true,"name":"Intake (Inside) Humidity","group":"","order":8,"width":5,"height":2,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"90","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1170,"y":1020,"wires":[[]]},{"id":"1870a789.5f9b88","type":"ui_chart","z":"38def9ff.21aea6","name":"Ambient 1 Humidity","group":"60058375.2cde8c","order":31,"width":7,"height":3,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"2000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1150,"y":1140,"wires":[[]]},{"id":"4bdd593.3c9a5a8","type":"debug","z":"38def9ff.21aea6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1580,"y":1320,"wires":[]},{"id":"7db0e518.6480cc","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":2,"width":3,"height":1,"name":"","label":"pH","format":"{{msg.payload}}","layout":"col-center","x":630,"y":700,"wires":[]},{"id":"1dafdc9a.db0293","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":3,"width":3,"height":1,"name":"","label":"TDS","format":"{{msg.payload}}","layout":"col-center","x":750,"y":720,"wires":[]},{"id":"85496d15.61f54","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":16,"width":3,"height":1,"name":"","label":"Humidity","format":"{{msg.payload.data.ambientInternal1.humidity}}","layout":"col-center","x":620,"y":340,"wires":[]},{"id":"80055d4c.3c88a","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":4,"width":3,"height":1,"name":"","label":"Water Temp","format":"{{msg.payload}}","layout":"col-center","x":840,"y":760,"wires":[]},{"id":"13317070.09d97","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":5,"width":3,"height":1,"name":"","label":"Water Level","format":"{{msg.payload}}","layout":"col-center","x":800,"y":640,"wires":[]},{"id":"c28f12c2.accbf","type":"ui_text","z":"38def9ff.21aea6","group":"60058375.2cde8c","order":17,"width":3,"height":1,"name":"","label":"Temp","format":"{{msg.payload.data.ambientInternal1.temperatureC}}","layout":"col-center","x":650,"y":420,"wires":[]}]